
  <!-- HEADER -->
  <div class="modal-header bg-primary text-uppercase py-2 flex-shrink-0">
    <h6 class="modal-title text-white">Chi tiết biên bản cuộc họp</h6>
    <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
  </div>

  <!-- BODY -->
  <div class="modal-body flex-grow-1 overflow-auto" style="max-height: 70vh;">
    <form nz-form [formGroup]="form">
      <!-- Form phần trên -->
      <div class="row gx-2">
        <div class="col-md-3">
          <nz-form-item class="mt-2">
            <nz-form-label class="fs-12" [nzSpan]="24">
              Chọn loại cuộc họp <span class="text-danger ps-1">*</span>
              <button class="p-0 m-0 px-1 fs-12 h-auto" nz-button nzType="text" nzSize="small"
                title="Thêm loại họp" (click)="onAddMeetingType()">
                <i class="fas fa-plus"></i>
              </button>
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <nz-select formControlName="MeetingTypeID"
                nzPlaceHolder="Chọn loại cuộc họp"
                style="width: 100%" name="meetingTypeID">
                <nz-option-group *ngFor="let group of meetingTypeGroupsData"
                  [nzLabel]="getGroupName(group.GroupID)">
                  <nz-option *ngFor="let room of group.Rooms"
                    [nzLabel]="room.TypeCode + ' - ' + room.TypeName"
                    [nzValue]="room.ID">
                  </nz-option>
                </nz-option-group>
              </nz-select>
              <div class="text-danger fs-12" *ngIf="form.get('MeetingTypeID')?.touched && form.get('MeetingTypeID')?.invalid">
                Vui lòng chọn loại cuộc họp
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item class="mt-2">
            <nz-form-label class="fs-12" [nzSpan]="24">
              Chọn dự án <span class="text-danger ps-1">*</span>
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <nz-select formControlName="ProjectID"
                nzPlaceHolder="Chọn dự án"
                style="width: 100%" name="ProjectCode">
                <nz-option *ngFor="let item of projectData"
                  [nzLabel]="item.ProjectCode + ' - ' + item.ProjectName"
                  [nzValue]="item.ID"></nz-option>
              </nz-select>
              <div class="text-danger fs-12" *ngIf="form.get('ProjectID')?.touched && form.get('ProjectID')?.invalid">
                Vui lòng chọn dự án
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-6">
          <nz-form-item class="mt-2">
            <nz-form-label [nzSpan]="24" class="fs-12">
              Tiêu đề <span class="text-danger ps-1">*</span>
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input formControlName="Title" name="Title" />
              <div class="text-danger fs-12" *ngIf="form.get('Title')?.touched && form.get('Title')?.invalid">
                Vui lòng nhập tiêu đề
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <!-- Các phần khác -->
      <div class="row gx-2">
        <div class="col-md-3">
          <nz-form-item class="mt-2">
            <nz-form-label class="fs-12" [nzSpan]="24">
              Thời gian bắt đầu <span class="text-danger ps-1">*</span>
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <nz-date-picker formControlName="DateStart"
                [nzFormat]="dateFormat"
                [nzShowTime]="true"
                class="w-100 p-1"
                nzSize="small"
                name="dateStart"></nz-date-picker>
            <div class="text-danger fs-12" *ngIf="form.get('DateStart')?.touched && form.get('DateStart')?.invalid">
              Vui lòng chọn thời gian bắt đầu
            </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-3">
          <nz-form-item class="mt-2">
            <nz-form-label class="fs-12" [nzSpan]="24">
              Thời gian kết thúc <span class="text-danger ps-1">*</span>
            </nz-form-label>
            <nz-form-control [nzSpan]="24">
              <nz-date-picker formControlName="DateEnd"
                [nzFormat]="dateFormat"
                [nzShowTime]="true"
                class="w-100 p-1"
                nzSize="small"
                name="dateEnd"></nz-date-picker>
            <div class="text-danger fs-12" *ngIf="form.get('DateEnd')?.touched && form.get('DateEnd')?.invalid">
              Vui lòng chọn thời gian kết thúc
            </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-md-6">
          <nz-form-item class="mt-2">
            <nz-form-label [nzSpan]="24" class="fs-12">Địa điểm</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input formControlName="Place" name="Place" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>

    <!-- PHẦN DƯỚI (Tab + Splitter) -->
    <div class="mt-2" style="min-height: 50vh;">
      <nz-splitter>
        <nz-splitter-panel nzResizable="true">
          <nz-tabset nzType="card" (nzSelectedIndexChange)="onTabChangeEmployeeContent($event)">
            <nz-tab nzTitle="Nhân viên tham gia">
              <nz-splitter nzLayout="vertical">
                <nz-splitter-panel nzDefaultSize="40%" nzMin="20%" nzMax="100%">
                  <div id="employeeDetail" style="height: 25vh"></div>
                </nz-splitter-panel>
                <nz-splitter-panel>
                  <div id="customerDetail" *ngIf="selectedGroupId === 1 || selectedGroupId === null" style="height: 100%"></div>
                </nz-splitter-panel>
              </nz-splitter>
            </nz-tab>
            <nz-tab nzTitle="Nội dung">
              <nz-splitter nzLayout="vertical">
                <nz-splitter-panel>
                  <div id="employeeDetailContent" style="height: 100%"></div>
                </nz-splitter-panel>
                <nz-splitter-panel>
                  <div id="customerDetailContent" *ngIf="selectedGroupId === 1 || selectedGroupId === null" style="height: 100%"></div>
                </nz-splitter-panel>
              </nz-splitter>
            </nz-tab>
          </nz-tabset>
        </nz-splitter-panel>
      </nz-splitter>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="modal-footer flex-shrink-0">
    <button class="fs-12 btn" nz-button nzDanger (click)="closeModal()">Đóng</button>
    <button class="fs-12 btn" nz-button nzType="primary" (click)="saveData()">Lưu</button>
  </div>

