/* Make embedded nz-select fill Tabulator editor cell */
:host ::ng-deep .tabulator-cell .ant-select,
:host ::ng-deep .tabulator-cell .ant-select-selector {
  width: 100% !important;
  display: block;
}

:host ::ng-deep .tabulator-cell .ant-select-selector {
  min-height: 28px;
  align-items: center;
}

:host ::ng-deep .tabulator-cell .ant-select .ant-select-selection-search-input {
  width: 100% !important;
}
.required-label::after {
  content: ' *';
  color: red;
}
:host ::ng-deep .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: #3b82f6; /* blue-500 */
  border-color: #3b82f6;
}

:host ::ng-deep .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important; /* buộc chữ trắng */
}

.fs-12 {
  font-size: 0.75rem;
}

.reset {
  all: revert;
}

.ant-splitter-panel {
  position: relative;
}

.tabulator {
  font-size: 0.75rem !important;
  /* position: absolute !important; */
  width: 100% !important;
}

.tabulator-cell {
  padding: 0px;
}

.inner-content {
  padding: 0 !important;
}

.ant-tabs-tab-btn {
  font-size: 0.75rem;
}
.ant-splitter {
  height: 100% !important;
}
 



