.custom-date-cell span {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  font-size: 12px;
}

/* Chỉ tô màu Chủ nhật thuộc tháng hiện tại */
.holiday {
  background: #dc3545;
  color: #fff;
  border-radius: 5px !important;
}

::ng-deep .ant-tabs-tab {
  padding: 5px 0 !important;
}

::ng-deep h6 {
  margin-bottom: 0.5rem !important;
}

::ng-deep .ant-radio-group {
  display: none !important;
}

::ng-deep .ant-picker-calendar-header {
  justify-content: space-between !important;
  padding-top: 0 !important;
}
::ng-deep .ant-list-vertical .ant-list-item-meta-title {
  margin: 0 !important;
  font-size: 12px !important;
}

::ng-deep .card-title {
  font-size: 12px !important;
}
::ng-deep .ant-tabs-tab-btn {
  font-size: 12px !important;
}

::ng-deep .gutter-example {
  font-size: 12px !important;
}

.gutter-row {
  transition: all 0.3s ease;
  cursor: pointer;
}
.gutter-row:hover {
  transform: translateY(-4px);
}
.grid-config {
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  transition: all 0.2s ease;
}

.grid-config:hover {
  border-color: #1677ff;
  box-shadow: 0 0 8px rgba(22, 119, 255, 0.3);
}
.py-2 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

::ng-deep
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner {
  background: rgb(18, 128, 207);
}
::ng-deep
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border-radius: 5px !important;
  border: 1px solid rgb(18, 128, 207);
}

::ng-deep .ant-collapse {
  background-color: transparent !important;
  border: none !important;
}
