.custom-date-cell span {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 50%;
  font-size: 12px;
}

/* Chỉ tô màu Chủ nhật thuộc tháng hiện tại */
.holiday {
  background: #dc3545;
  color: #fff;
}

::ng-deep .ant-tabs-tab {
  padding: 5px 0 !important;
}

::ng-deep h6 {
  margin-bottom: 0.5rem !important;
}

::ng-deep .ant-radio-group {
  display: none !important;
}

::ng-deep .ant-picker-calendar-header {
  justify-content: space-between !important;
  padding-top: 0 !important;
}
::ng-deep .ant-list-vertical .ant-list-item-meta-title {
  margin: 0 !important;
  font-size: 12px !important;
}

::ng-deep .card-title {
  font-size: 12px !important;
}
::ng-deep .ant-tabs-tab-btn {
  font-size: 12px !important;
}

::ng-deep .gutter-example {
  font-size: 12px !important;
}

.gutter-row {
  transition: all 0.3s ease;
  cursor: pointer;
}
.gutter-row:hover {
  transform: translateY(-4px);
}

@media (min-width: 992px) {
  .mt-lg-6 {
    margin-top: 4rem !important;
  }
}
