<nav class="navbar sticky-top" style="background-color: #23458a;">
    <div class="container-fluid">
        <a class="navbar-brand p-0" href="#" style="width: 5%;">
            <img src="assets/images/logo-RTC-2023-1200-red-white.png" alt="" width="100%"
                class="d-inline-block align-text-top">

        </a>

        <div class="d-flex">

            <!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
            <app-app-notifycation-dropdown [items]="notifItems" (itemClick)="onPick($event)">
                <button nz-button nzType="text" class="text-light fs-7" trigger>
                    <nz-badge [nzOverflowCount]="9" [nzCount]="notifItems.length + 67" class="fs-7">
                        <img src="assets/icon/notification_home.svg" class="bell-icon">
                    </nz-badge>
                </button>
            </app-app-notifycation-dropdown>

            <app-app-user-dropdown>
                <button nz-button nzType="text" trigger>
                    <img src="assets/icon/user.svg">
                </button>
            </app-app-user-dropdown>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-md-12 col-sm-12 col-12">
            <div class="row">

                <div class="col-xl-6 col-md-12 col-sm-12 col-12 pt-2">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h5 class="card-title m-0 text-uppercase fw-bold py-1">Thông báo</h5>
                        </div>
                        <div class="card-body" style="height: 22rem; overflow: auto;">
                            <nz-list nzItemLayout="vertical">
                                @for (item of notifItems; track item) {
                                <nz-list-item>
                                    <nz-list-item-meta class="m-0">
                                        <nz-list-item-meta-avatar [nzSrc]="item.icon"></nz-list-item-meta-avatar>
                                        <nz-list-item-meta-title>
                                            <a href="">{{ item.title }}</a>
                                        </nz-list-item-meta-title>
                                        <nz-list-item-meta-description>
                                            {{ item.detail }}
                                        </nz-list-item-meta-description>
                                    </nz-list-item-meta>
                                </nz-list-item>
                                }
                            </nz-list>
                        </div>
                    </div>

                </div>
                <div class="col-xl-6 col-md-12 col-sm-12 col-12 pt-2">
                    <div class="card mb-2">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="card-title m-0 text-uppercase fw-bold py-1">Lịch làm việc</h5>
                            <span class="badge bg-danger ms-auto">Ngày nghỉ</span>
                        </div>
                        <div class="card-body" style="height: 22rem; overflow: auto;">
                            <nz-calendar [nzFullscreen]="false" [(ngModel)]="today" [nzCustomHeader]=""
                                [nzDateFullCell]="dateCell" (nzSelectChange)="onValueChange($event)"
                                (nzPanelChange)="onPanelChange($event)">
                            </nz-calendar>

                            <ng-template #dateCell let-date>
                                <div class="custom-date-cell"
                                    [ngClass]="{holiday: isHoliday(date) || isSaturday(date)}">
                                    {{ date.getDate() }}
                                </div>
                            </ng-template>
                        </div>
                    </div>

                </div>

                <div class="col-xl-6 col-md-12 col-sm-12 col-12 pt-2">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h5 class="card-title m-0 text-uppercase fw-bold py-1">Nghỉ</h5>
                        </div>
                        <div class="card-body py-0 pe-0">
                            <nz-tabset style="font-size: 12px;">
                                <nz-tab [nzTitle]="titleTemplateOnleave">
                                    <nz-collapse style="height: 22.7rem; overflow: auto;">
                                        @for (panel of employeeOnleaves; track panel) {
                                        <nz-collapse-panel class="fw-bold"
                                            [nzHeader]="panel.DepartmentName + ' (' + panel.Employees.length + ')'"
                                            [nzActive]="true">

                                            <nz-list nzSize="small" class="fw-normal ">
                                                @for (item of panel.Employees; track item;let i = $index) {
                                                <nz-list-item>{{i + 1}}. {{
                                                    item.EmployeeLeave}}{{item.TimeOnLeaveText}}</nz-list-item>
                                                }
                                            </nz-list>
                                        </nz-collapse-panel>
                                        }
                                    </nz-collapse>
                                </nz-tab>
                                <nz-tab [nzTitle]="titleTemplateWFH">
                                    <nz-collapse style="height: 22.7rem; overflow: auto;">
                                        @for (panel of employeeWfhs; track panel) {
                                        <nz-collapse-panel class="fw-bold"
                                            [nzHeader]="panel.DepartmentName + ' (' + panel.Employees.length + ')'"
                                            [nzActive]="true">

                                            <nz-list nzSize="small" class="fw-normal">
                                                @for (item of panel.Employees; track item;let i = $index) {
                                                <nz-list-item>{{i + 1}}. {{ item.EmployeeName
                                                    }}{{item.TimeWFHText}}{{item.IsApprovedBGDText}}</nz-list-item>

                                                }
                                            </nz-list>
                                        </nz-collapse-panel>
                                        }
                                    </nz-collapse>
                                </nz-tab>
                            </nz-tabset>

                            <ng-template class="panel-title" #titleTemplateOnleave>
                                NGHỈ PHÉP {{totalEmployeeOnleave == 0 ? '':`(${totalEmployeeOnleave})`}} -
                                {{today|date:'dd/MM/yyyy' }}
                            </ng-template>
                            <ng-template class="panel-title" #titleTemplateWFH>WFH {{totalEmployeeWfh == 0 ?
                                '':`(${totalEmployeeWfh})`}} - {{ today |
                                date:'dd/MM/yyyy' }}</ng-template>
                        </div>
                    </div>

                </div>
                <div class="col-xl-6 col-md-12 col-sm-12 col-12 pt-2">
                    <div class="card mb-2">
                        <div class="card-header">
                            <h5 class="card-title m-0 text-uppercase fw-bold py-1">truy cập nhanh</h5>
                        </div>
                        <div class="card-body p-1" style="height: 24.5rem; overflow: auto;">

                            <nz-list nzItemLayout="vertical">
                                <nz-list-item>
                                    <nz-list-item-meta class="m-0">
                                        <nz-list-item-meta-avatar [nzSrc]=""></nz-list-item-meta-avatar>
                                        <nz-list-item-meta-title>
                                            <a (click)="menuService.goToOldLink('/baocaocongviec')" target="_blank">Báo
                                                cáo
                                                công việc</a>
                                        </nz-list-item-meta-title>
                                    </nz-list-item-meta>
                                </nz-list-item>
                                <nz-list-item>
                                    <nz-list-item-meta class="m-0">
                                        <nz-list-item-meta-avatar [nzSrc]=""></nz-list-item-meta-avatar>
                                        <nz-list-item-meta-title>
                                            <a (click)="menuService.goToOldLink('/lamthem')" target="_blank">Làm
                                                thêm</a>
                                        </nz-list-item-meta-title>
                                    </nz-list-item-meta>
                                </nz-list-item>

                            </nz-list>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-xl-6 col-md-12 col-sm-12 col-12 pt-2">

            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title m-0 text-uppercase fw-bold py-1">chức năng</h5>
                </div>
                <div class="card-body" style="height: 50.05rem; overflow: auto;">

                    <div class="gutter-example">
                        <div nz-row [nzGutter]="[16, 16]">
                            @for (m of menus; track $index) {
                            <div nz-col class="gutter-row" [nzXs]="12" [nzMd]="8" [nzLg]="6"
                                (click)="openModule(m.key)">
                                <div class="grid-config text-center py-2 shadow">
                                    <img width="64" [src]="m.icon?.replace('24','64')" alt="">
                                    <p class="m-0 mt-2 fw-bold">{{m.title}}</p>
                                </div>
                            </div>
                            }


                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>