:host {
    display: block;
    height: 100%;
    width: 100%;
}

::ng-deep .ant-spin-nested-loading,
::ng-deep .ant-spin-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

::ng-deep .tabulator {
    border: none;
    background-color: transparent;
}

::ng-deep .tabulator-header-filter input {
    padding: 2px 4x !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 2px !important;
    font-size: 8px !important;
    font-weight: normal !important;
    color: rgba(0, 0, 0, 0.85) !important;
    background-color: #fff !important;
}

::ng-deep .tabulator-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e8e8e8;
}

::ng-deep .tabulator-tableholder {
    height: calc(100% - 45px) !important;
    max-height: calc(100% - 45px) !important;
}

::ng-deep .tabulator-row.tabulator-selected {
    background-color: #e6f7ff !important;
}