.grid-container {
    width: 100%;
    height: 100%;
}

.action-bar {
    min-height: 60px;
}

.h-40 {
    height: 40px;
}

.fs-12 {
    font-size: 12px;
}

.btn-add {
    background-color: #52c41a;
    color: white;
    border-color: #52c41a;
}

.btn-add:hover {
    background-color: #73d13d;
    border-color: #73d13d;
    color: white;
}

.btn-edit {
    background-color: #1890ff;
    color: white;
    border-color: #1890ff;
}

.btn-edit:hover {
    background-color: #40a9ff;
    border-color: #40a9ff;
    color: white;
}

.btn-delete {
    background-color: #ff4d4f;
    color: white;
    border-color: #ff4d4f;
}

.btn-delete:hover {
    background-color: #ff7875;
    border-color: #ff7875;
    color: white;
}
::ng-deep div[id^="productRtcGrid-"] {
    height: 90vh!important;
}
