<div class="card h-100 border-0 rounded-0">
  <div class="card-header bg-white p-2">
    <!-- <div class="d-flex justify-content-between align-items-center">
        <button nz-button nzType="default" nzSize="small" style="font-size: 0.75rem; font-weight: bold;">
            <nz-icon nzType="plus" /> Thêm
        </button>  
    </div> -->
    <form nz-form [formGroup]="loginManagerForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="24">Mã nhân viên</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Vui lòng nhập mã nhân viên">
          <nz-select 
            formControlName="Code" 
            style="width: 100%;" 
            nzAllowClear 
            nzShowSearch
            (ngModelChange)="onCodeChange($event)">
            <nz-option 
              *ngFor="let employee of employeeList" 
              [nzValue]="employee.ID" 
              [nzLabel]="employee.Code">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      
      <!-- Select cho Họ tên -->
      <nz-form-item>
        <nz-form-label [nzSpan]="24">Họ tên</nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Vui lòng nhập họ tên nhân viên">
          <nz-select 
            formControlName="FullName" 
            style="width: 100%;" 
            nzAllowClear 
            nzShowSearch
            (ngModelChange)="onNameChange($event)">
            <nz-option 
              *ngFor="let employee of employeeNameList" 
              [nzValue]="employee.ID" 
              [nzLabel]="employee.FullName">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24">
          Team
        </nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-select formControlName="TeamID" style="width: 100%;" nzAllowClear nzShowSearch>
            <nz-option [nzValue]="0" nzLabel="--CHỌN TEAM--"></nz-option>
            <nz-option [nzValue]="1" nzLabel="SOFTWARE"></nz-option>
            <nz-option [nzValue]="2" nzLabel="PLC ROBOT"></nz-option>
            <nz-option [nzValue]="3" nzLabel="VISION"></nz-option>

          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="HasUser" (ngModelChange)="onHasUserChange($event)"
            >Có quyền đăng nhập</label
          >
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24">
          Tên đăng nhập
        </nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Vui lòng nhập tên đăng nhập">
          <input
                nz-input
                formControlName="LoginName"
                [disabled]="!hasUser"
              />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24">
          Mật khẩu
        </nz-form-label>
        <nz-form-control [nzSpan]="24" nzErrorTip="Vui lòng nhập mật khẩu">
          <input
                nz-input
                type="password"
                formControlName="PasswordHash"
                [disabled]="!hasUser"
              />
        </nz-form-control>
      </nz-form-item>
    </form>
    <button nz-button nzType="default" nzSize="default" style="background-color: dodgerblue; color: white; margin-left: 88%;" (click)="onSubmit()">
      Lưu
    </button>  
  </div>
</div>