:host {
    font-size: 12px !important;
  }
  
  .tabulator {
    font-size: 12px;
  }
  
  .box {
    height: 100%;
    width: 100%;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .card-body {
    flex: 1;
    overflow: hidden;
  }
  
  .ant-splitter-panel {
    position: relative;
  }
  
  .ant-splitter {
    height: 100% !important;
  }
  
  