:host {
    display: block;
    height: 100%;
}

:host ::ng-deep .ant-tabs-content {
    height: 100%;
}

:host ::ng-deep .ant-tabs-tabpane {
    height: 100%;
}

/* Ensure spinner container takes full height */
:host ::ng-deep .ant-spin-nested-loading {
    height: 100%;
}

:host ::ng-deep .ant-spin-container {
    height: 100%;
}