:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.ant-splitter {
  height: 89.8vh !important;
}

:host ::ng-deep .ant-splitter-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#tb_Table {
  height: 100%;
  min-height: 0;
}

.fs-12 {
  font-size: 0.75rem;
}

.reset {
  all: revert;
}

.ant-splitter-panel {
  position: relative;
}

.tabulator {
  font-size: 0.75rem !important;
  /* position: absolute !important; */
  width: 100% !important;
}

.tabulator-cell {
  padding: 0px;
}

.inner-content {
  padding: 0 !important;
}

.ant-tabs-tab-btn {
  font-size: 0.75rem;
}