:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.ant-splitter {
    height: 89.8vh !important;
  }

:host ::ng-deep .ant-splitter-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#tb_Table {
  height: 100%;
  min-height: 0;
}