
    <div class="modal-dialog-scrollable">
      <div class="modal-header bg-primary text-uppercase py-2">
        <h6 class="modal-title text-white">Chi tiết PO</h6>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
    </div>
    <div class="px-4 pt-3 pokh-modal-content">
      <div class="d-flex gap-2 mb-3 flex-wrap">
        <button nz-button nzType="default" nzSize="small">
          <nz-icon nzType="user-add"></nz-icon> Thêm khách hàng
        </button>
        <button nz-button nzType="default" nzSize="small">
          <nz-icon nzType="appstore-add"></nz-icon> Thêm sản phẩm mới
        </button>
        <button nz-button nzType="default" nzSize="small">
          <nz-icon nzType="file-text"></nz-icon> Chọn báo giá
        </button>
        <button nz-button nzType="default" nzSize="small">
          <nz-icon nzType="search"></nz-icon> Tìm kiếm kho
        </button>
        <button nz-button nzType="default" nzSize="small">
          <nz-icon nzType="unordered-list"></nz-icon> Chọn partlist
        </button>
        <button nz-button nzType="default" nzSize="small">
          <nz-icon nzType="file-excel"></nz-icon> Nhập Excel
        </button>
      </div>
  
      <nz-tabset class="pokh-tabset">
        <nz-tab nzTitle="Chi tiết PO">
          <div class="p-3 pokh-tab-content">
            <form nz-form nzLayout="horizontal" class="ant-advanced-search-form">
              <div nz-row [nzGutter]="[16, 16]">
                <!-- Row 1 -->
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Trạng thái</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-select nzShowSearch name="status" nzPlaceHolder="Chưa giao, chưa thanh toán" nzSize="default"
                        class="w-100" nzDisabled="true" [(ngModel)]="poFormData.status">
                        <nz-option *ngFor="let status of statusOptions" [nzValue]="status.value"
                          [nzLabel]="status.label"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
  
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Mã PO</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="suffixIconButton_PONumber">
                        <input name="poCode" placeholder="Mã PO" nz-input [(ngModel)]="poFormData.poCode" />
                      </nz-input-group>
                      <ng-template #suffixIconButton_PONumber>
                        <button nz-button nzType="default" nzSize="default" nzSearch (click)="openPOCodeModal()">
                          <nz-icon nzType="plus" nzTheme="outline" />
                        </button>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div>
  
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Khách hàng</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-select nzShowSearch name="customerId" nzPlaceHolder="Chọn khách hàng" nzAllowClear
                        nzSize="default" class="w-100" [(ngModel)]="selectedCustomer"
                        (ngModelChange)="onCustomerChange($event)">
                        <nz-option *ngFor="let customer of dataCustomers" [nzValue]="customer"
                          [nzLabel]="customer.CustomerName">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
  
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Sales phụ trách</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-select nzShowSearch name="userId" [(ngModel)]="poFormData.userId"
                        nzPlaceHolder="Chọn người phụ trách" nzAllowClear nzSize="default" class="w-100">
                        <nz-option *ngFor="let user of dataUsers" [nzValue]="user.ID" [nzLabel]="user.FullName">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
  
                <!-- Row 2 -->
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Ngày PO</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-date-picker name="poDate" nzFormat="dd/MM/yyyy" nzPlaceHolder="dd/mm/yyyy" nzSize="default"
                        class="w-100" [(ngModel)]="poFormData.poDate"></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>
  
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Tổng tiền PO</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-input-number name="totalPO" nzPlaceHolder="0" [nzMin]="0" nzSize="default" class="w-100"
                        [(ngModel)]="poFormData.totalPO" [nzFormatter]="formatCurrency" [nzParser]="parseCurrency"
                        nzReadOnly="true">
                      </nz-input-number>
                    </nz-form-control>
                  </nz-form-item>
                </div>
  
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Dự án</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-input-group nzSearch nzSize="default" [nzAddOnAfter]="suffixIconButton_ProjectName">
                        <nz-select nzShowSearch name="projectId" nzPlaceHolder="Chọn dự án" nzAllowClear nzSize="default"
                          class="w-100" [(ngModel)]="poFormData.projectId" style="max-width: 125px;">
                          <nz-option *ngFor="let project of dataProjects" [nzValue]="project.ID"
                            [nzLabel]="project.ProjectName" [nzTitle]="project.ProjectName">
                            <div
                              style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
                              {{project.ProjectName}}
                            </div>
                          </nz-option>
                        </nz-select>
                      </nz-input-group>
                      <ng-template #suffixIconButton_ProjectName>
                        <button nz-button nzType="default" nzSize="default" nzSearch>
                          <nz-icon nzType="plus" nzTheme="outline" />
                        </button>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>
                </div> 
  
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Loại PO</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-select nzShowSearch name="poType" nzPlaceHolder="Chọn loại PO" nzAllowClear nzSize="default"
                        class="w-100" [(ngModel)]="poFormData.poType">
                        <nz-option *ngFor="let poType of dataPOTypes" [nzValue]="poType.ID"
                          [nzLabel]="poType.MainIndex1"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
  
                <!-- Row 3 -->
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Bộ phận</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-select nzShowSearch name="departmentId" nzPlaceHolder="Chọn bộ phận" nzAllowClear
                        nzSize="default" class="w-100" [(ngModel)]="poFormData.departmentId">
                        <nz-option *ngFor="let part of dataParts" [nzValue]="part.ID"
                          [nzLabel]="part.PartName"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
  
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Loại tiền</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-select nzShowSearch name="currencyId" nzPlaceHolder="Chọn loại tiền" nzAllowClear
                        nzSize="default" class="w-100" [(ngModel)]="poFormData.currencyId">
                        <nz-option *ngFor="let currency of dataCurrencies" [nzValue]="currency.ID"
                          [nzLabel]="currency.Code"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
  
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">End User</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <input name="endUser" nz-input type="text" nzPlaceHolder="Nhập end user" nzSize="default"
                        class="w-100" [(ngModel)]="poFormData.endUser" />
                    </nz-form-control>
                  </nz-form-item>
                </div>
  
                <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Số POKH</nz-form-label>
                    <nz-form-control [nzSm]="16" [nzXs]="24">
                      <input name="poNumber" nz-input type="text" nzPlaceHolder="Nhập số POKH" nzSize="default"
                        class="w-100" [(ngModel)]="poFormData.poNumber" />
                    </nz-form-control>
                  </nz-form-item>
                </div>
  
                <!-- Ghi chú chiếm toàn bộ chiều rộng còn lại -->
                <div nz-col [nzSpan]="24">
                  <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24">Ghi chú</nz-form-label>
                    <nz-form-control [nzSm]="21" [nzXs]="10" class="d-flex align-items-start gap-2">
                      <textarea name="note" nz-input rows="2" nzPlaceHolder="Nhập ghi chú" nzSize="default" class="w-100" 
                        [(ngModel)]="poFormData.note"></textarea>
                      <label name="isBigAccount" nz-checkbox [(ngModel)]="poFormData.isBigAccount">
                        <span>New Account</span>
                      </label>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </form>
  
            <!-- Search result section -->
            <div class="bg-light p-3 rounded mt-3">
              <div class="mb-3 d-flex align-items-center">
                <input type="file" multiple class="form-control w-auto me-2 fs-12" #fileInput style="max-width: 300px;"
                  (change)="onFileSelected($event)">
              </div>
              <div id="tb_POKHDetailFile"></div>
            </div>
          </div>
        </nz-tab>
        <nz-tab nzTitle="Chi tiết sản phẩm">
          <div class="p-3 pokh-tab-content">
            <!-- Phần trên -->
            <div class="mb-4">
              <h6 class="mb-3">Danh sách sản phẩm</h6>
              <div class="d-flex justify-content-end gap-2 mb-3">
                <button nz-button nzType="primary" nzSize="default" (click)="addNewRow()">
                  <nz-icon nzType="plus"></nz-icon> Thêm
                </button>
                <button nz-button nzType="default" nzSize="default" (click)="addChildRow()">
                  <nz-icon nzType="plus"></nz-icon> Thêm con
                </button>
              </div>
              <div #tbProductDetailTreeList id="tb_ProductDetailTreeList"></div>
            </div>
  
            <!-- Phần dưới -->
            <div>
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h6 class="mb-0">Người phụ trách</h6>
                <nz-switch [(ngModel)]="isResponsibleUsersEnabled" [nzCheckedChildren]="checkedTemplate"
                  [nzUnCheckedChildren]="unCheckedTemplate" (ngModelChange)="toggleResponsibleUsers()"></nz-switch>
              </div>
              <div class="d-flex justify-content-end mb-3" *ngIf="isResponsibleUsersEnabled">
                <button nz-button nzType="default" nzSize="default" (click)="addRowDetailUser()">
                  <nz-icon nzType="plus"></nz-icon> Thêm người phụ trách
                </button>
              </div>
              <ng-template #checkedTemplate><nz-icon nzType="check" /></ng-template>
              <ng-template #unCheckedTemplate><nz-icon nzType="close" /></ng-template>
              <div #tbDetailUser id="tb_DetailUser"></div>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
    <div class="modal-footer">
      <button nz-button nzType="default" nzDanger="true" nzSize="default" (click)="closeModal()">Đóng</button>
      <button nz-button nzType="primary" nzSize="default" (click)="savePOKH()">Lưu</button>
    </div>

  
  <style>
    .pokh-modal-content {
      height: calc(100vh - 200px);
      overflow-y: auto;
    }
  
    .pokh-tabset {
      height: 100%;
    }
  
    .pokh-tab-content {
      height: calc(100vh - 300px);
      overflow-y: auto;
    }
  
    /* Ensure these styles only apply to the POKH modal */
    ::ng-deep .pokh-modal .ant-modal {
      width: 90% !important;
      max-width: 1400px;
    }
  
    ::ng-deep .pokh-modal .ant-modal-body {
      height: calc(100vh - 200px);
      overflow: hidden;
    }
  
    ::ng-deep .pokh-modal .ant-tabs-content {
      height: 100%;
    }
  
    ::ng-deep .pokh-modal .ant-tabs-tabpane {
      height: 100%;
    }
  </style>