<ng-container class="w-100">
    <div class="card h-100 border-0 rounded-0">
        <!-- Header với PrimeNG MenuBar -->
        <div class="card-header bg-white p-1">
            <div class="d-flex gap-1 align-items-center">
                <p-menubar [model]="menuItems" styleClass="p-0 border-0" style="width: 100%">
                    <ng-template #end>
                        <div style="margin-left: auto">
                            <button nz-button nzType="text" nzShape="circle" *ngIf="isMobile"
                                (click)="isShowModal = true; $event.stopPropagation()">
                                <i nz-icon nzType="search"></i>
                            </button>
                        </div>
                    </ng-template>
                </p-menubar>
            </div>
        </div>

        <!-- Filter bar -->
        <div class="filter-bar bg-light border-bottom p-2" *ngIf="!isMobile">
            <form [id]="'form-bill-export-search-' + warehouseCode" nz-form nzLayout="inline" (keyup.enter)="onSearch()"
                class="d-flex flex-wrap gap-2 align-items-end">
                <nz-form-item class="mb-0">
                    <nz-form-label class="fs-12">Từ ngày</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker [nzFormat]="dateFormat" nzSize="small" [(ngModel)]="searchParams.dateStart"
                            name="dateStart" [nzDisabled]="checked" (ngModelChange)="onDateStartChange($event)"
                            style="width: 130px">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="mb-0">
                    <nz-form-label class="fs-12">Đến ngày</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker [nzFormat]="dateFormat" nzSize="small" [(ngModel)]="searchParams.dateEnd"
                            name="dateEnd" [nzDisabled]="checked" (ngModelChange)="onDateEndChange($event)"
                            style="width: 130px">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="mb-0">
                    <nz-form-label class="fs-12">Lọc kho</nz-form-label>
                    <nz-form-control>
                        <nz-select [(ngModel)]="selectedKhoTypes" (ngModelChange)="onKhoTypeChange($event)"
                            [nzMode]="'multiple'" [nzPlaceHolder]="'Chọn nhóm kho'" [nzMaxTagCount]="1"
                            name="selectedKhoTypes" nzSize="small" style="width: 200px" nzAllowClear>
                            <nz-option *ngFor="let item of dataProductGroup" [nzLabel]="item.ProductGroupName"
                                [nzValue]="item.ID"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="mb-0">
                    <nz-form-label class="fs-12">Lọc phiếu</nz-form-label>
                    <nz-form-control>
                        <nz-select nzShowSearch nzAllowClear nzSize="small" [(ngModel)]="searchParams.status"
                            name="status" style="width: 150px">
                            <nz-option *ngFor="let item of cbbStatus" [nzValue]="item.ID" [nzLabel]="item.Name">
                                <div class="d-flex align-items-center">
                                    <span class="me-2">{{ item.ID }}</span>
                                    <span>{{ item.Name }}</span>
                                </div>
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="mb-0">
                    <nz-form-label class="fs-12">Từ khóa</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="Nhập từ khóa" [(ngModel)]="searchParams.keyword" name="keyword"
                            nzSize="small" (keyup.enter)="onSearch()" style="width: 200px" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="mb-0">
                    <nz-form-control>
                        <label nz-checkbox [(ngModel)]="checked" name="checked" (ngModelChange)="onCheckboxChange()">Tìm
                            kiếm tất cả</label>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="mb-0">
                    <nz-form-control>
                        <button nz-button nzType="primary" nzSize="small" type="button" (click)="onSearch()">
                            Tìm kiếm
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>

        <!-- Modal tìm kiếm cho mobile -->
        <nz-modal [(nzVisible)]="isShowModal" nzTitle="Tìm kiếm" nzWidth="100vw" nzCentered
            [nzBodyStyle]="{ padding: '0px 16px' }" (nzOnCancel)="isShowModal = false"
            (nzOnOk)="onSearch(); isShowModal = false" nzOkText="Tìm kiếm">
            <ng-container *nzModalContent>
                <form [id]="'form-bill-export-search-m-' + warehouseCode" nz-form nzLayout="vertical" class="mt-2"
                    (keyup.enter)="onSearch()">
                    <div nz-row [nzGutter]="12">
                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label>Từ ngày</nz-form-label>
                                <nz-form-control>
                                    <nz-date-picker [nzFormat]="dateFormat" nzSize="small"
                                        [(ngModel)]="searchParams.dateStart" name="dateStart_m" [nzDisabled]="checked"
                                        (ngModelChange)="onDateStartChange($event)" class="w-100">
                                    </nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label>Đến ngày</nz-form-label>
                                <nz-form-control>
                                    <nz-date-picker [nzFormat]="dateFormat" nzSize="small"
                                        [(ngModel)]="searchParams.dateEnd" name="dateEnd_m" [nzDisabled]="checked"
                                        (ngModelChange)="onDateEndChange($event)" class="w-100">
                                    </nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col [nzSpan]="24">
                            <nz-form-item>
                                <nz-form-label>Lọc kho</nz-form-label>
                                <nz-form-control>
                                    <nz-select [(ngModel)]="selectedKhoTypes" (ngModelChange)="onKhoTypeChange($event)"
                                        [nzMode]="'multiple'" [nzPlaceHolder]="'Chọn nhóm kho'" [nzMaxTagCount]="1"
                                        name="selectedKhoTypes_m" nzSize="small" class="w-100" nzAllowClear>
                                        <nz-option *ngFor="let item of dataProductGroup"
                                            [nzLabel]="item.ProductGroupName" [nzValue]="item.ID"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col [nzSpan]="24">
                            <nz-form-item>
                                <nz-form-label>Lọc phiếu</nz-form-label>
                                <nz-form-control>
                                    <nz-select nzShowSearch nzAllowClear nzSize="small"
                                        [(ngModel)]="searchParams.status" name="status_m" class="w-100">
                                        <nz-option *ngFor="let item of cbbStatus" [nzValue]="item.ID"
                                            [nzLabel]="item.Name">
                                            <div class="d-flex align-items-center">
                                                <span class="me-2">{{ item.ID }}</span>
                                                <span>{{ item.Name }}</span>
                                            </div>
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col [nzSpan]="24">
                            <nz-form-item>
                                <nz-form-label>Từ khóa</nz-form-label>
                                <nz-form-control>
                                    <input nz-input placeholder="Nhập từ khóa" [(ngModel)]="searchParams.keyword"
                                        name="keyword_m" nzSize="small" (keyup.enter)="onSearch()" class="w-100" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col [nzSpan]="24">
                            <nz-form-item>
                                <nz-form-control>
                                    <label nz-checkbox [(ngModel)]="checked" name="checked_m"
                                        (ngModelChange)="onCheckboxChange()">Tìm
                                        kiếm tất cả</label>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </form>
            </ng-container>
        </nz-modal>

        <!-- Grid Content -->
        <div class="card-body p-0">
            <!-- Master Grid -->
            <nz-spin [nzSpinning]="isLoadTable" nzTip="Đang tải dữ liệu...">
                <div [id]="'grid-container-master-' + componentId" [ngClass]="'grid-container-master-' + componentId">
                    <angular-slickgrid [gridId]="'gridMaster-' + componentId" [columns]="columnDefinitionsMaster"
                        [options]="gridOptionsMaster" [dataset]="datasetMaster"
                        (onAngularGridCreated)="angularGridMasterReady($event.detail)"
                        (onDblClick)="onMasterDoubleClick($event)">
                    </angular-slickgrid>
                </div>

                <!-- Detail Grid -->
                <div class="mt-2">
                    <nz-tabset class="main-tab" style="padding-left: 10px !important">
                        <nz-tab [nzTitle]="tabDetailTitle">
                            <nz-spin [nzSpinning]="isDetailLoad" nzTip="Đang tải dữ liệu...">
                                <div [ngClass]="'grid-container-detail-' + componentId">
                                    <angular-slickgrid [gridId]="'gridDetail-' + componentId"
                                        [columns]="columnDefinitionsDetail" [options]="gridOptionsDetail"
                                        [dataset]="datasetDetail" (onAngularGridCreated)="
                      angularGridDetailReady($event.detail)
                    ">
                                    </angular-slickgrid>
                                </div>
                            </nz-spin>
                        </nz-tab>
                    </nz-tabset>
                </div>
            </nz-spin>
        </div>
    </div>
</ng-container>