<ng-container class="w-100">
    <nz-splitter>
        <nz-splitter-panel [nzSize]="sizeSearch" nzResizable="false" >
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white p-1">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="m-0 ms-2">Tìm kiếm</h6>
                        <button class="border-0 me-2" nz-button nzSize="small" nzType="default" nzDanger
                            (click)="toggleSearchPanel()">
                            <nz-icon nzType="close" nzTheme="outline" />
                        </button>
                    </div>
                </div> 
                <div class="card-body" style="overflow-x: auto;">
                    <form nz-form nzLayout="vertical">
                        <nz-form-item>
                            <nz-form-label class="fs-12" [nzSpan]="24">Từ ngày</nz-form-label>
                            <nz-form-control [nzSpan]="24"><nz-date-picker name="dateStart" class="w-100"
                                    nzFormat="dd/MM/yyyy" [(ngModel)]="searchParams.dateTimeS" nzAllowClear="false"
                                    (ngModelChange)="getDay()"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Đến ngày</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-date-picker name="dateEnd" class="w-100" nzFormat="dd/MM/yyyy" [(ngModel)]="searchParams.dateTimeE"
                                    nzAllowClear="false"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24"
                              >Phòng ban</nz-form-label
                            >
                            <nz-form-control [nzSpan]="24">
                              <nz-select
                                name="departmentId"
                                class="w-100"
                                nzShowSearch
                                nzAllowClear
                                nzPlaceHolder="Chọn phòng ban"
                                [(ngModel)]="searchParams.departmentID"
                                (ngModelChange)="getUserTeam()"
                              >
                                @for (item of departments; track $index) {
                                <nz-option
                                  nzCustomContent="true"
                                  [nzLabel]="item.Name"
                                  [nzValue]="item.ID"
                                  >{{ item.Name }}</nz-option
                                >
                                }
                              </nz-select>
                            </nz-form-control>
                          </nz-form-item>
                          <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Team</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                              <nz-select
                                name="teamId"
                                class="w-100"
                                nzShowSearch
                                nzAllowClear
                                nzPlaceHolder="Chọn team"
                                [(ngModel)]="searchParams.userTeamID"
                              >
                                @for (item of teams; track $index) {
                                <nz-option
                                  nzCustomContent="true"
                                  [nzLabel]="item.Name"
                                  [nzValue]="item.ID"
                                  >{{ item.Name }}</nz-option
                                >
                                }
                              </nz-select>
                            </nz-form-control>
                          </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Nhân viên</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select name="userId" class="w-100" nzShowSearch nzAllowClear
                                    nzPlaceHolder="Chọn Sale" [(ngModel)]="searchParams.userId">
                                    @for (parent of users; track $index) {
                                    <nz-option-group [nzLabel]="parent.label">
                                        @for (child of parent.options; track $index) {
                                        <nz-option nzCustomContent="true" [nzLabel]="child.item.FullName"
                                            [nzValue]="child.item.ID">{{
                                            child.item.Code + " - " + child.item.FullName
                                            }}</nz-option>
                                        }
                                    </nz-option-group>
                                    }
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Kiểu dự án</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select name="projectTypeIds" class="w-100" [nzMaxTagCount]="2" nzAllowClear
                                    [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
                                    nzPlaceHolder="Chọn kiểu dự án" [(ngModel)]="projectTypeIds">
                                    @for (item of projectTypes; track $index) {
                                    <nz-option [nzLabel]="item.ProjectTypeName" [nzValue]="item.ID"></nz-option>
                                    }
                                </nz-select>
                                <ng-template #tagPlaceHolder let-selectedList>...</ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2" *ngIf="isHide">
                            <nz-form-label class="fs-12" [nzSpan]="24">Trạng thái</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select name="projecStatusIds" class="w-100" [nzMaxTagCount]="1" nzAllowClear
                                    [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
                                    nzPlaceHolder="Chọn trạng thái" [(ngModel)]="projecStatusIds">
                                    @for (item of projecStatuses; track $index) {
                                    <nz-option [nzLabel]="item.StatusName" [nzValue]="item.ID"></nz-option>
                                    }
                                </nz-select>
                                <ng-template #tagPlaceHolder let-selectedList>...</ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Từ khóa</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <input name="keyword" nz-input placeholder="Nhập từ khóa" [(ngModel)]="searchParams.keyword"/>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
                <div class="card-footer bg-white p-1 d-flex gap-1 justify-content-end">
                    <button nz-button nzType="default" nzSize="small" (click)="setDefautSearch()">
                        Đặt lại
                    </button>
                    <button nz-button nzType="primary" nzSize="small" (click)="searchProjects()">
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </nz-splitter-panel>
        <nz-splitter-panel nzDefaultSize="100%">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white p-1">
                    <div class="d-flex gap-1">
                        <button nz-button nzType="default" nzSize="small" (click)="toggleSearchPanel()">
                            <nz-icon nzType="search" />
                        </button>
                        <button class="fs-12" nz-button nzType="default" nzSize="small" (click)="exportExcel()">
                            <img src="assets/icon/action_export_excel_16.png" alt="Xuất Excel" class="me-1" />Xuất excel
                        </button>
                        <button class="fs-12" nz-button nzType="default" nzSize="small" (click)="openProjectWorkerSynthetic()">
                            <img src="assets/icon/summary_assignments_16.png" alt="Xuất Excel" class="me-1" /> Tổng hợp nhân công
                        </button>
                        <button class="fs-12" nz-button nzType="default" nzSize="small" (click)="openProjectWorkReportModal()">
                            <img src="assets/icon/list_project_report_16.png" alt="Danh sách báo cáo công việc" class="me-1" /> Ds báo cáo công việc
                        </button>
                        <button class="fs-12" nz-button nzType="default" nzSize="small" (click)="openWorkItemModal()">
                            <img src="assets/icon/work_item_16.png" alt="Hạng mục công việc" class="me-1" /> Hạng mục công việc
                        </button>
                        <button class="fs-12" nz-button nzType="default" nzSize="small" (click)="openProjectWorkerModal()">
                            <img src="assets/icon/work_item_16.png" alt="Nhân công dự án" class="me-1" /> Nhân công dự án
                        </button>
                        <button class="fs-12" nz-button nzType="default" nzSize="small" (click)="openProjectPartListModal()">
                            <img src="assets/icon/work_item_16.png" alt="Danh mục vật tư" class="me-1" /> Danh mục vật tư
                        </button>
                        <!-- <button class="fs-12" nz-button nzType="default" nzSize="small" (click)="openProjectWorkTimeline()">
                            <img src="assets/icon/progress_work_16.png" alt="Tiến độ công việc" class="me-1" /> Tiến độ công việc
                        </button> -->
                        <!-- <button class="fs-12" nz-button nzType="default" nzSize="small" *ngIf="isHide">
                            <nz-icon nzType="delete" nzTheme="fill" /> Hạng mục công việc
                        </button> -->
                    </div>
                </div>
                <div class="card-body p-0">
                    <nz-splitter>
                        <nz-splitter-panel nzSize="" [nzCollapsible]="true" nzResizable="true">
                            <div #tb_projectsummary style=" padding-right: 10px !important;"></div>
                        </nz-splitter-panel>
                        <nz-splitter-panel [nzSize]="sizeTbDetail" [nzCollapsible]="true" nzResizable="true" >
                            <ng-template #tabClose>
                                <button
                                  nz-button
                                  nzType="text"
                                  class="btn-close-panel"
                                  style="color: red;"
                                  (click)="closePanel()"
                                >
                                  <i nz-icon nzType="close"></i>
                                </button>
                              </ng-template>
                            <nz-tabset style=" padding-left: 10px !important;" [nzTabBarExtraContent]="tabClose">
                                <nz-tab nzTitle="Danh sách hạng mục">
                                    <div class="d-flex align-items-center p-1 gap-1 justify-content-sm-end">
                                        <button class="fs-12 border" nz-button nzType="text" nzSize="small"
                                            style="background-color: lightyellow">
                                            Sắp hết hạn
                                        </button>
                                        <button class="fs-12 text-white" nz-button nzType="text" nzSize="small"
                                            style="background-color: orange">
                                            Chậm
                                        </button>
                                        <button class="fs-12 text-white" nz-button nzType="text" nzSize="small"
                                            style="background-color: red">
                                            Failed
                                        </button>
                                    </div>
                                    <div class="border" #tb_projectsummaryWorkReport></div>
                                </nz-tab>
                                <nz-tab nzTitle="Kiểu dự án">
                                    <div class="border" #tb_projectsummaryTypeLink></div>
                                </nz-tab>
                                <nz-tab nzTitle="Hiện trạng">
                                    <div class="border" #tb_projectSituation></div>
                                </nz-tab>
                            </nz-tabset>
                           
                        </nz-splitter-panel>
                    </nz-splitter>
                </div>
            </div>
        </nz-splitter-panel>
    </nz-splitter>
</ng-container>