:host {
  font-size: 12px !important;
}

.tabulator {
  font-size: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 93vh;
  overflow: hidden;
}

.card-body {
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-body > div {
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
}

.fs-12 {
  font-size: 0.75rem;
}

.reset {
  all: revert;
}

:host ::ng-deep .tabulator-cell {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  word-break: break-word !important;
}

