<div class="modal-header bg-primary text-uppercase py-2 flex-shrink-0">
  <h6 class="modal-title text-white">Chi tiết phiếu xuất</h6>
  <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body p-2 flex-grow-1 overflow-visible" style="overflow-y: unset;">
  <div class="d-flex gap-2 pb-2 border-bottom">
    <button class="fs-12 btn" nz-button nzType="default" nzSize="small" title="Thêm sản phẩm" *hasPermission="'N27,N1,N33,N34,N69'" (click)="openModalNewProduct()">
      <nz-icon nzType="file-text"></nz-icon> Thêm sản phẩm
    </button>
    <button class="fs-12 btn" nz-button nzType="default" nzSize="small" *hasPermission="'N27,N1,N33,N34,N69'" title="Thêm dự án">
      <nz-icon nzType="exception"></nz-icon> Thêm dự án
    </button>
    <button class="fs-12 btn" nz-button nzType="default" nzSize="small" *hasPermission="'N27,N1,N33,N34,N69'" title="Chọn PO">
      <nz-icon nzType="file-excel"></nz-icon> Chọn PO
    </button>
  </div>

  <form nz-form [nzLayout]="'vertical'" [nzNoColon]="true" class="mt-2" [formGroup]="validateForm">
    <!-- Hàng 1: Số phiếu | Người nhận | Ngày xuất -->
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label class="fs-12">Số phiếu<span class="text-danger">*</span></nz-form-label>
          <nz-form-control [nzErrorTip]="codeError">
            <input nz-input nzSize="default" formControlName="Code" readonly />
            <ng-template #codeError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng nhập số phiếu!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label class="fs-12">Người nhận<span class="text-danger">*</span></nz-form-label>
          <nz-form-control [nzErrorTip]="userIdError">
            <nz-select nzSize="default" formControlName="UserID" nzShowSearch nzAllowClear nzPlaceHolder="Chọn người nhận">
              <nz-option *ngFor="let id of dataCbbUser" [nzValue]="id.ID" [nzLabel]="id.FullName"></nz-option>
            </nz-select>
            <ng-template #userIdError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng chọn người nhận!
              </ng-container>
              <ng-container *ngIf="control.hasError('min') && (control.dirty || control.touched)">
                Người nhận không hợp lệ!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label class="fs-12">Ngày xuất<span class="text-danger">*</span></nz-form-label>
          <nz-form-control [nzErrorTip]="creatDateError">
            <nz-date-picker nzSize="default" formControlName="CreatDate" [nzFormat]="dateFormat" class="w-100"></nz-date-picker>
            <ng-template #creatDateError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng chọn ngày xuất!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- Hàng 2: Khách hàng | Người giao | Ngày yêu cầu -->
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label class="fs-12">Khách hàng<span class="text-danger">*</span></nz-form-label>
          <nz-form-control [nzErrorTip]="customerIdError">
            <nz-select nzSize="default" formControlName="CustomerID" nzShowSearch nzAllowClear nzPlaceHolder="Chọn khách hàng" >
              <nz-option *ngFor="let id of dataCbbCustomer" [nzValue]="id.ID" [nzLabel]="id.CustomerShortName + ' - ' + id.CustomerName"></nz-option>
            </nz-select>
            <ng-template #customerIdError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng chọn khách hàng!
              </ng-container>
              <ng-container *ngIf="control.hasError('min') && (control.dirty || control.touched)">
                Khách hàng không hợp lệ!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label class="fs-12">Người giao<span class="text-danger">*</span></nz-form-label>
          <nz-form-control [nzErrorTip]="senderIdError">
            <nz-select nzSize="default" formControlName="SenderID" nzShowSearch nzAllowClear nzPlaceHolder="Chọn người giao">
              <nz-option *ngFor="let id of dataCbbSender" [nzValue]="id.ID" [nzLabel]="id.FullName"></nz-option>
            </nz-select>
            <ng-template #senderIdError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng chọn người giao!
              </ng-container>
              <ng-container *ngIf="control.hasError('min') && (control.dirty || control.touched)">
                Người giao không hợp lệ!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label class="fs-12">Ngày yêu cầu</nz-form-label>
          <nz-form-control>
            <nz-date-picker nzSize="default" formControlName="RequestDate" [nzFormat]="dateFormat" class="w-100"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- Hàng 3: Loại kho | Trạng thái | Loại hàng -->
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label class="fs-12">Loại kho<span class="text-danger">*</span></nz-form-label>
          <nz-form-control [nzErrorTip]="khoTypeIdError">
            <nz-select nzSize="default" formControlName="KhoTypeID" nzShowSearch nzAllowClear nzPlaceHolder="Chọn kho" (ngModelChange)="changeProductGroup($event)">
              <nz-option *ngFor="let id of dataCbbProductGroup" [nzValue]="id.ID" [nzLabel]="id.ProductGroupName"></nz-option>
            </nz-select>
            <ng-template #khoTypeIdError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng chọn loại kho!
              </ng-container>
              <ng-container *ngIf="control.hasError('min') && (control.dirty || control.touched)">
                Loại kho không hợp lệ!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label class="fs-12">Trạng thái<span class="text-danger">*</span></nz-form-label>
          <nz-form-control [nzErrorTip]="statusError">
            <nz-select nzSize="default" formControlName="Status" nzShowSearch nzAllowClear nzPlaceHolder="Chọn trạng thái" >
              <nz-option *ngFor="let id of cbbStatus" [nzValue]="id.ID" [nzLabel]="id.Name"></nz-option>
            </nz-select>
            <ng-template #statusError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng chọn trạng thái!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="8">
        <nz-form-item>
          <nz-form-label class="fs-12">Loại hàng</nz-form-label>
          <nz-form-control [nzErrorTip]="productTypeError">
            <nz-select nzSize="default" formControlName="ProductType" nzShowSearch nzAllowClear nzPlaceHolder="Chọn loại hàng">
              <nz-option *ngFor="let id of cbbProductType" [nzValue]="id.ID" [nzLabel]="id.Name"></nz-option>
            </nz-select>
            <ng-template #productTypeError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng chọn loại hàng!
              </ng-container>
              <ng-container *ngIf="control.hasError('min') && (control.dirty || control.touched)">
                Loại hàng không hợp lệ!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- Hàng 4: Nhà cung cấp | Địa chỉ -->
    <div nz-row [nzGutter]="16">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label class="fs-12">Nhà cung cấp<span class="text-danger">*</span></nz-form-label>
          <nz-form-control [nzErrorTip]="SupplierError">
            <nz-select nzSize="default" formControlName="SupplierID" nzShowSearch nzAllowClear nzPlaceHolder="Chọn nhà cung cấp">
              <nz-option *ngFor="let id of dataCbbSupplier" [nzValue]="id.ID" [nzLabel]="id.CodeNCC +'-'+ id.NameNCC"></nz-option>
              <ng-template #SupplierError let-control>
                <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                  Vui lòng chọn nhà cung cấp!
                </ng-container>
                <ng-container *ngIf="control.hasError('min') && (control.dirty || control.touched)">
                  Nhà cung cấp không hợp lệ!
                </ng-container>
              </ng-template>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label class="fs-12">Địa chỉ<span class="text-danger">*</span></nz-form-label>
          <nz-form-control [nzErrorTip]="addressError">
            <input nz-input nzSize="default" formControlName="Address" />
            <ng-template #addressError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng nhập địa chỉ!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <nz-spin [nzSpinning]="isLoading" nzTip="Đang tải dữ liệu...">
    <div id="table_BillExportDetails"></div>
  </nz-spin>
</div>

<div class="modal-footer flex-shrink-0">
  <button class="fs-12 btn" nz-button nzDanger (click)="closeModal()">Đóng</button>
  <button class="fs-12 btn" nz-button nzType="primary" *hasPermission="'N27,N1,N33,N34,N69'" (click)="saveDataBillExport()">Lưu</button>
</div>
