/* Custom padding for tab titles */
::ng-deep .custom-tab-title .ant-tabs-tab {
  padding: 12px 16px;
}

/* Nút X để đóng modal - căn phải trên */
.btn-close.position-absolute {
  top: 10px;
  right: 10px;
  z-index: 1000;
}

