::ng-deep #grid-container-product-rtc {
    height: 89vh !important;
}

::ng-deep #grid-container-product-group {
    height: 89vh !important;
}

.ant-splitter {
    height: 89vh !important;
    overflow: hidden !important;
}