:host {
    display: block;
    height: 100%;
}

.card {
    background: #d9dadc;
    height: 100%;
}

:host ::ng-deep .ant-spin-nested-loading,
:host ::ng-deep .ant-spin-container {
    height: 100%;
}

:host ::ng-deep .tabulator {
    border: none;
    background-color: transparent;
}

:host ::ng-deep .tabulator-header-filter input {
    padding: 2px 4px !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 2px !important;
    font-size: 8px !important;
    font-weight: normal !important;
    color: rgba(0, 0, 0, 0.85) !important;
    background-color: #fff !important;
}

:host ::ng-deep .tabulator-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e8e8e8;
}

:host ::ng-deep .tabulator-tableholder {
    height: calc(100% - 45px) !important;
    max-height: calc(100% - 45px) !important;
}

:host ::ng-deep .tabulator-row.tabulator-selected {
    background-color: #e6f7ff !important;
}

:host ::ng-deep .tabulator-group {
    background: #fafafa;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}