
  .card {
    height: 100%;
  }

  .row {
    height: 100%;
  }

  ::ng-deep ng-select .ng-value-container {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
  }

  .tabulator {
    font-size: 0.75rem;
  }

  .tabulator-cell {
    padding: 0px;
  }

  .fs-12 {
    font-size: 0.75rem;
  }



  ::ng-deep ng-select.form-control .ng-clear-wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  ::ng-deep ng-select.form-control .ng-clear-wrapper:hover {
    color: #d9363e;
  }

  ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
      margin-top: 3px;
      margin-right: 1px;
      font-size: .75rem;
      background-color: #fafafa;
      border: none;
      border-radius: 2px;
      height: 24px;
      line-height: 22px;
  }
 ::ng-deep .main-tab .ant-tabs-content{
    height: 100%;
  }
::ng-deep .main-tab .ant-tabs-tabpane {
  height: 100%;
}

.card-header .d-flex {
  flex-wrap: nowrap;
  min-width: fit-content;
}