<div class="modal-header bg-primary p-2">
    <h6 class="modal-title text-white" id="assetModalLabel">THÔNG TIN THIẾT BỊ</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<div class="modal-body">
    <div class="tab-content-equal-height">
        <nz-tabset>
            <!-- Tab 1: Thông tin thiết bị -->
            <nz-tab nzTitle="Thông tin thiết bị">
                <form nz-form [formGroup]="formDeviceInfo" nzLayout="vertical"
                    class="fs-7 mt-1 tab-content-equal-height">
                    <nz-row [nzGutter]="24">
                        <!-- Cột input 16 span -->
                        <nz-col [nzSpan]="16">
                            <!-- Hàng 1 -->
                            <nz-row [nzGutter]="16">
                                <nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label class="fs-12 d-flex align-items-center">
                                            Mã nhóm <span class="text-danger ps-1 me-1"> (*) </span>
                                            <button nz-button nzType="text" nzSize="small"
                                                class="fs-12 button button-succes me-2" (click)="onAddGroupProduct()"
                                                title="Thêm nhóm"><nz-icon nzType="plus" /> </button>
                                        </nz-form-label>
                                        <nz-form-control [nzErrorTip]="'Chọn nhóm'">
                                            <nz-input-group required nzSearch nzSize="default" class="w-100">
                                                <nz-select nzSize="default" formControlName="ProductGroupRTCID"
                                                    name="ProductGroupRTCID" nzPlaceHolder="Chọn nhóm"
                                                    class="fs-12 w-100" required nzShowSearch nzAllowClear>
                                                    <nz-option *ngFor="let item of productGroupData" [nzValue]="item.ID"
                                                        [nzLabel]="item.ProductGroupNo + ' - ' + item.ProductGroupName">
                                                    </nz-option>
                                                </nz-select>
                                            </nz-input-group>

                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-col>
                                <nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label class="fs-12 d-flex align-items-center">
                                            Vị trí <span class="text-danger ps-1 me-1"> (*) </span>
                                            <button nz-button nzType="text" nzSize="small"
                                                class="fs-12 button button-succes me-2" title="Thêm vị trí mới"><nz-icon
                                                    nzType="plus" /> </button>
                                        </nz-form-label>
                                        <nz-form-control [nzSpan]="24" nzErrorTip="Chọn vị trí">
                                            <nz-input-group required nzSearch nzSize="default" class="w-100">
                                                <nz-select nzSize="default" formControlName="ProductLocationID"
                                                    name="ProductLocationID" nzPlaceHolder="Chọn vị trí"
                                                    class="fs-12 w-100" required nzShowSearch nzAllowClear>
                                                    <nz-option *ngFor="let item of locationData" [nzValue]="item.ID"
                                                        [nzLabel]="item.LocationCode + ' - ' + item.LocationName">
                                                    </nz-option>
                                                </nz-select>
                                            </nz-input-group>

                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-col>
                            </nz-row>
                            <!-- Hàng 2 -->
                            <nz-row [nzGutter]="16">
                                <nz-col [nzSpan]="12">

                                    <nz-form-item>
                                        <nz-form-label required>Tên thiết bị<span class="text-danger ps-1 me-1">
                                                (*)</span></nz-form-label>
                                        <nz-form-control [nzErrorTip]="'Vui lòng nhập tên thiết bị'">
                                            <input nz-input formControlName="ProductName" name="ProductName" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-col>
                                <nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label required>Part Number<span class="text-danger ps-1 me-1"> (*)
                                            </span></nz-form-label>
                                        <nz-form-control [nzErrorTip]="'Không được để trống Part Number'">
                                            <input nz-input nzSize="default" formControlName="PartNumber"
                                                name="PartNumber" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-col>
                            </nz-row>

                            <!-- Hàng 3 -->
                            <nz-row [nzGutter]="16">
                                <nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label required>Mã thiết bị<span class="text-danger ps-1 me-1"> (*)
                                            </span></nz-form-label>
                                        <nz-form-control [nzValidateStatus]="formDeviceInfo.get('ProductCode')!"
                                            [nzErrorTip]="'Không được để trống mã thiết bị'">
                                            <input nz-input formControlName="ProductCode" />
                                            <div class="nz-form-explain-holder"></div>
                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-col>

                                <nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label required>Serial<span class="text-danger ps-1 me-1"> (*)
                                            </span></nz-form-label>
                                        <nz-form-control [nzValidateStatus]="formDeviceInfo.get('SerialNumber')!"
                                            [nzErrorTip]="'Không được để trống Serial'">
                                            <input nz-input nzSize="default" formControlName="SerialNumber" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-col>
                            </nz-row>
                            <nz-row [nzGutter]="16">
                                <nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label required>Code <span class="text-danger ps-1 me-1"> (*)
                                            </span></nz-form-label>
                                        <nz-form-control [nzErrorTip]=" 'Không được để trống Code              '">
                                            <input nz-input nzSize="default" formControlName="Serial" name="Serial" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-col>

                                <nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label>SL kiểm kê<span class="text-danger ps-1 me-1"> (*)
                                            </span></nz-form-label>
                                        <nz-form-control>


                                            <input nz-input nzSize="default" formControlName="SLKiemKe"
                                                name="SLKiemKe" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-col>
                            </nz-row>
                            <nz-row [nzGutter]="16">
                                <nz-col [nzSpan]="12">
                                    <nz-form-item>

                                        <nz-form-label class="fs-12 d-flex align-items-center">
                                            Hãng <span class="text-danger ps-1 me-1"> (*) </span>
                                            <button nz-button nzType="text" nzSize="small"
                                                class="fs-12 button button-succes me-2" title="Thêm hãng mới"><nz-icon
                                                    nzType="plus" /> </button>
                                        </nz-form-label>
                                        <nz-form-control [nzSpan]="24" nzErrorTip="Vui lòng chọn hãng">
                                            <nz-input-group required nzSearch nzSize="default" class="w-100">
                                                <nz-select nzSize="default" formControlName="FirmID" name="FirmID"
                                                    nzPlaceHolder="Chọn hãng" class="fs-12 w-100" required nzShowSearch
                                                    nzAllowClear>
                                                    <nz-option *ngFor="let item of firmData" [nzValue]="item.ID"
                                                        [nzLabel]="item.FirmCode + ' - ' + item.FirmName">
                                                    </nz-option>
                                                </nz-select>
                                            </nz-input-group>
                                            <!-- <ng-template #makerIconButton>
                        <button nz-button nzType="default" nzSize="default" (click)="onAddGroupProduct()" nzSearch>
                          <nz-icon nzType="plus" nzTheme="outline"></nz-icon>
                        </button>
                      </ng-template> -->
                                        </nz-form-control>

                                    </nz-form-item>
                                </nz-col>
                                <nz-col [nzSpan]="12">
                                    <nz-form-item>
                                        <nz-form-label>SL Tồn kho</nz-form-label>
                                        <nz-form-control>
                                            <input nz-input nzSize="default" formControlName="NumberInStore"
                                                name="NumberInStore" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-col>
                            </nz-row>

                            <nz-row [nzGutter]="16">
                                <nz-col [nzSpan]="8">
                                    <nz-form-item>
                                        <nz-form-label class="fs-12 d-flex align-items-center">
                                            Đơn vị tính<span class="text-danger ps-1 me-1"> (*) </span>
                                            <button nz-button nzType="text" nzSize="small"
                                                class="fs-12 button button-succes me-2"
                                                title="Thêm đơn vị tính"><nz-icon nzType="plus" /> </button>
                                        </nz-form-label>
                                        <nz-form-control [nzSpan]="24" nzErrorTip="Vui lòng đơn vị tính">
                                            <nz-input-group required nzSearch nzSize="default" class="w-100">
                                                <nz-select nzSize="default" formControlName="UnitCountID" name="Maker"
                                                    nzPlaceHolder="Chọn đơn vị tính" class="fs-12 w-100" required
                                                    nzShowSearch nzAllowClear>
                                                    <nz-option *ngFor="let item of unitData" [nzValue]="item.ID"
                                                        [nzLabel]="item.ID + ' - ' + item.UnitName">
                                                    </nz-option>
                                                </nz-select>
                                            </nz-input-group>

                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-col>
                                <nz-col [nzSpan]="8">
                                    <nz-form-item>
                                        <nz-form-label required>Ngày nhập<span class="text-danger ps-1 me-1"> (*)
                                            </span></nz-form-label>
                                        <nz-form-control [nzErrorTip]="'Vui lòng chọn ngày nhập'">
                                            <nz-date-picker formControlName="CreateDate" [(ngModel)]="CreateDate"
                                                name="ImportDate" nzFormat="dd/MM/yyyy" nzSize="default"
                                                style="width: 100%;">
                                            </nz-date-picker>
                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-col>

                                <nz-col [nzSpan]="8">
                                    <nz-form-item>
                                        <nz-form-label>Mã kho HCM</nz-form-label>
                                        <nz-form-control>
                                            <input nz-input nzSize="default" formControlName="CodeHCM"
                                                name="AddressBox" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </nz-col>
                            </nz-row>





                        </nz-col>

                        <!-- Cột ảnh 8 span -->
                        <nz-col [nzSpan]="8">
                            <nz-form-item class="mb-3">
                                <nz-row style="width: 100%" class="align-items-center">
                                    <!-- Cột chữ Ảnh -->
                                    <nz-col [nzSpan]="4" class="d-flex align-items-center mb-2">
                                        <span>Ảnh</span>
                                    </nz-col>

                                    <!-- Cột checkbox, đẩy về cuối -->
                                    <nz-col [nzSpan]="20" class="d-flex align-items-center justify-content-end mb-2">
                                        <label nz-checkbox formControlName="IsBorrowCustomer">
                                            Đồ mượn khách hàng
                                        </label>
                                    </nz-col>
                                </nz-row>

                                <nz-form-control>
                                    <div style="display: flex; gap: 8px; align-items: center;">
                                        <nz-upload [nzShowUploadList]="false" [nzBeforeUpload]="handleBeforeUpload"
                                            [nzAccept]="'.jpg,.jpeg,.png'">
                                            <button nz-button nzType="default">
                                                <i nz-icon nzType="upload"></i> Tải ảnh lên
                                            </button>
                                        </nz-upload>
                                        <input nz-input type="text" placeholder="Đường dẫn ảnh"
                                            formControlName="LocationImg" name="ImagePath" readonly style="flex: 1;" />
                                    </div>

                                    <div style="width: 100%; height: 350px; border: 1px solid #d9d9d9; margin-top: 10px;
                  display: flex; align-items: center; justify-content: center; background-color: #f5f5f5;">
                                        <img *ngIf="previewImageUrl" [src]="previewImageUrl" alt="Ảnh sản phẩm"
                                            style="max-width: 100%; max-height: 100%; object-fit: cover;" />
                                        <span *ngIf="!previewImageUrl" style="color: #999;">Chưa có ảnh</span>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>


                    </nz-row>
                    <nz-row [nzGutter]="24">
                        <nz-col [nzSpan]="24">
                            <nz-form-item>
                                <nz-form-label required>Ghi chú<span class="text-danger ps-1 me-1"> (*) </span>
                                </nz-form-label>
                                <nz-form-control [nzErrorTip]="'Không được để trống ghi chú'">
                                    <textarea nz-input nzSize="default" rows="3" formControlName="Note" name="Note"
                                        style="height: 109px;">
                                    </textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                    </nz-row>
                </form>
            </nz-tab>

            <!-- Tab 2: Thông số kỹ thuật -->
            <nz-tab nzTitle="Thông số kỹ thuật">
                <div class="tab2-wrapper tab-content-equal-height">
                    <form nz-form [formGroup]="formDeviceInfo" nzLayout="vertical"
                        class="fs-7 mt-1 tab-content-equal-height">
                        <nz-row [nzGutter]="24">
                            <!-- Cột 1 -->
                            <nz-col [nzSpan]="8">
                                <nz-form-item>
                                    <nz-form-label>Resolution</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="Resolution"
                                            name="Resolution" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>Monocolor</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="MonoColor" name="MonoColor" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>Sensor Size</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="SensorSize"
                                            name="SensorSize" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>Data Interface</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="DataInterface"
                                            name="DataInterface" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>Lens Mount</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="LensMount" name="LensMount" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>Shutter Mode</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="ShutterMode"
                                            name="ShutterMode" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label>Pixel Size</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="PixelSize" name="PixelSize" />
                                    </nz-form-control>
                                </nz-form-item>
                            </nz-col>

                            <!-- Cột 2 -->
                            <nz-col [nzSpan]="8">


                                <nz-form-item>
                                    <nz-form-label>Sensor Size Max</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="SensorSizeMax"
                                            name="SensorSizeMax" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>MOD (mm)</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="MOD" name="MOD" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>FNo</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="FNo" name="FNo" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>WD</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="WD" name="WD" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>Loại đèn</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="LampType" name="LampType" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>Rate Current (A)</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="CurrentIntensityMax"
                                            name="CurrentIntensityMax" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label>Màu đèn</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="LampColor" name="LampColor" />
                                    </nz-form-control>
                                </nz-form-item>
                            </nz-col>

                            <!-- Cột 3 -->
                            <nz-col [nzSpan]="8">


                                <nz-form-item>
                                    <nz-form-label>Nguồn</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="LampPower" name="LampPower" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>Công suất</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="LampWattage"
                                            name="LampWattage" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>Magnification</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="Magnification"
                                            name="Magnification" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>Focal Length (mm)</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="FocalLength"
                                            name="FocalLength" />
                                    </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label>Input Voltage</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="InputValue"
                                            name="InputValue" />
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label>Output Voltage</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input nzSize="default" formControlName="OutputValue"
                                            name="InputValue" />
                                    </nz-form-control>
                                </nz-form-item>
                            </nz-col>
                        </nz-row>
                    </form>
                </div>
            </nz-tab>


        </nz-tabset>
    </div>
</div>

<div class="modal-footer">
    <button nz-button nzType="default" nzDanger (click)="close()">Đóng</button>
    <button nz-button nzType="primary" (click)="saveData()">Lưu dữ liệu</button>
</div>