<p-menubar [model]="menuBars">
    <ng-template pTemplate="item" let-item>
        <a class="p-menuitem-link" [ngClass]="item.styleClass">
            <i [class]="item.icon"></i>
            <span class="p-menuitem-text">{{ item.label }}</span>
        </a>
    </ng-template>

    <ng-template #end>

    </ng-template>
</p-menubar>

<div class="grid-container border" style="height:89vh;">
    <angular-slickgrid gridId="grdData" [columns]="columnDefinitions" [options]="gridOptions" [dataset]="dataset"
        (onAngularGridCreated)="angularGridReady($event.detail)">
    </angular-slickgrid>
</div>