.fs-12 {
  font-size: 12px;
}



::ng-deep .tabulator {
  font-size: 12px !important;
}

::ng-deep .tabulator-header {
  background-color: #f5f5f5;
  font-weight: bold;
  font-size: 12px !important;
}

::ng-deep .tabulator-col {
  font-size: 12px !important;
}

::ng-deep .tabulator-col-title {
  font-size: 12px !important;
}

::ng-deep .tabulator-row {

  font-size: 12px !important;
}

::ng-deep .tabulator-cell {

  font-size: 12px !important;
}


.ant-splitter{
  height: 94vh !important;
}