.fs-12 {
  font-size: 0.75rem;
}

.grid-inventory-by-product-container {
  width: 100%;
  height: 80vh;
}

::ng-deep #inventoryByProductTable {
  height: 88vh !important;
}

::ng-deep
  .slickgrid-container
  .slick-footerrow
  .slick-footerrow-columns
  .slick-footerrow-column {
  border-right: 1px solid #ddd !important;
}
