<div class="modal-dialog-scrollable">
  <div class="modal-header bg-primary align-items-center ps-3">
    <div class="d-flex align-items-center">
      <h6 class="text-light text-uppercase m-0 fw-bold">Mô tả lỗi</h6>
    </div>
  </div>

  <div class="modal-body p-2" style="height: 60vh;">
    <form nz-form>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="fw-semibold">
            Tên
          </nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input nz-input [(ngModel)]="ProductName" name="ProductName" [disabled]="true" type="text" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="fw-semibold">
            Mã sản phẩm
          </nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input nz-input [(ngModel)]="ProductCode" name="ProductCode" [disabled]="true" type="text" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="fw-semibold">
            Người mượn cũ
          </nz-form-label>
          <nz-form-control>
            <nz-select [nzDisabled]="true" [(ngModel)]="PeopleID" name="PeopleID" nzShowSearch nzAllowClear
              nzPlaceHolder="Chọn người dùng">
              <nz-option *ngFor="let item of oldEmployees" [nzLabel]="item.title" [nzValue]="item.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="fw-semibold">
            Người mượn mới <span class="text-danger">(*)</span>
          </nz-form-label>
          <nz-form-control>
            <nz-select nzShowSearch [(ngModel)]="NewPeopleID"  (ngModelChange)="onChangeUser($event)" name="NewPeopleID" nzAllowClear
              nzPlaceHolder="Chọn người dùng">
              <nz-option *ngFor="let item of employees" [nzLabel]="item.title" [nzValue]="item.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="fw-semibold">
            Dự án
          </nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input nz-input [(ngModel)]="Project" name="Project" type="text" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24" *ngIf="false">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="fw-semibold">
            Loại
          </nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="BillType" name="BillType" nzShowSearch>
              <nz-option nzLabel="Trả" nzValue=0></nz-option>
              <nz-option nzLabel="Cho mượn" nzValue=1></nz-option>
              <nz-option nzLabel="Tặng/ Bán" nzValue=2></nz-option>
              <nz-option nzLabel="Mất" nzValue=3></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24" *ngIf="false">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="fw-semibold">
            Thêm phiếu xuất
          </nz-form-label>
          <nz-form-control [nzSpan]="24">
            <label nz-checkbox [(ngModel)]="addExport" name="addExport"></label>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24" *ngIf="false">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="fw-semibold">
            Ngày trả dự kiến
          </nz-form-label>
          <nz-form-control [nzSpan]="24">
            <nz-date-picker name="dateExtend" [(ngModel)]="dateExtend" nzFormat="dd/MM/yyyy"
              nzAllowClear="false"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24" *ngIf="false">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="fw-semibold">
            Nhà cung cấp
          </nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input nz-input [(ngModel)]="supplier" name="supplier" type="text" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" class="fw-semibold">
            Note
          </nz-form-label>
          <nz-form-control [nzSpan]="24">
            <textarea nz-input [(ngModel)]="Note" name="Note" rows="6" placeholder="Nhập ghi chú..."></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button nz-button nzType="default" nzDanger (click)="activeModal.dismiss()">
      Đóng
    </button>
    <button nz-button nzType="primary" style="margin-left: 8px;" (click)="onSubmit()">
      Lưu
    </button>
  </div>
</div>