.modal-body {
  padding: 0.75rem 1rem;
}

.modal-body-scroll {
  max-height: 80vh;
  overflow-y: auto;
}

@media (max-width: 576px) {
  .modal-header,
  .modal-footer {
    padding: 0.5rem 0.75rem;
  }
}
.fs-12 {
  font-size: 0.75rem;
}