.fs-12 {
    font-size: 0.75rem;
  }

  .reset {
    all: revert;
  }

  .tabulator {
    font-size: 0.75rem;
    height:80vh;
    overflow:auto
  }

  .tabulator-cell {
    padding: 0px;
  }

  .inner-content {
    padding: 0 !important;
  }

  .ant-tabs-tab-btn {
    font-size: 0.75rem;
  }
  ::ng-deep .ant-select-item-option-content {
    color: black !important;
  }

  ::ng-deep .ant-select-selection-item {
    color: black !important;
  }
.overlay-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1000;
}
.bar-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-header{
overflow-x: auto
}
