<ng-container class="w-100">
  <nz-splitter>
    <nz-splitter-panel [nzSize]="sizeSearch" nzResizable="false">
      <div class="card h-100 border-0 rounded-0">
        <div class="card-header bg-white p-1">
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="m-0 ms-2">Tìm kiếm</h6>
            <button
              class="border-0 me-2"
              nz-button
              nzSize="small"
              nzType="default"
              nzDanger
              aria-label="Đóng"
              (click)="ToggleSearchPanel()"
            >
              <nz-icon nzType="close" nzTheme="outline" />
            </button>
          </div>
        </div>
        <div class="card-body">
          <form nz-form nzLayout="vertical">
            <nz-form-item>
              <nz-form-label class="fs-12" [nzSpan]="24">Từ ngày</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-date-picker
                  [(ngModel)]="filters.dateStart"
                  class="w-100"
                  nzSize="small"
                  [ngModelOptions]="{ standalone: true }"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="mt-2">
              <nz-form-label class="fs-12" [nzSpan]="24"
                >Đến ngày</nz-form-label
              >
              <nz-form-control [nzSpan]="24">
                <nz-date-picker
                  [(ngModel)]="filters.dateEnd"
                  class="w-100"
                  nzSize="small"
                  [ngModelOptions]="{ standalone: true }"
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="mt-2">
              <nz-form-label class="fs-12" [nzSpan]="24"
                >Trạng thái</nz-form-label
              >
              <nz-form-control [nzSpan]="24">
                <nz-select
                  class="w-100"
                  [(ngModel)]="filters.statusRequest"
                  nzShowSearch
                  nzAllowClear
                  nzSize="small"
                  name="statusRequest"
                  nzPlaceHolder="trạng thái"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <nz-option [nzValue]="1" nzLabel="Tất cả"></nz-option>
                  <nz-option
                    [nzValue]="2"
                    nzLabel="Yêu cầu báo giá"
                  ></nz-option>
                  <nz-option [nzValue]="3" nzLabel="Đã báo giá"></nz-option>
                  <nz-option [nzValue]="4" nzLabel="Đã hoàn thành"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="mt-2">
              <nz-form-label class="fs-12" [nzSpan]="24"
                >Chọn dự án</nz-form-label
              >
              <nz-form-control [nzSpan]="24">
                <!-- Sửa các nz-select và input thiếu name -->
                <nz-select
                  class="w-100"
                  [(ngModel)]="filters.projectId"
                  name="projectId"
                  nzShowSearch
                  nzAllowClear
                  nzSize="small"
                  nzPlaceHolder="Chọn dự án"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <nz-option
                    *ngFor="let item of dtproject"
                    [nzLabel]="item.ProjectCode + '--' + item.ProjectName"
                    [nzValue]="item.ID"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="mt-2">
              <nz-form-label class="fs-12" [nzSpan]="24">Từ khóa</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <input
                  nz-input
                  placeholder="Nhập từ khóa"
                  name="keyword"
                  nzSize="small"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item class="mt-2">
              <nz-form-label class="fs-12" [nzSpan]="24">PO:</nz-form-label>
              <nz-form-control [nzSpan]="24">
                <nz-select
                  class="w-100"
                  [nzMaxTagCount]="4"
                  nzMode="multiple"
                  nzPlaceHolder="Chọn lĩnh vực dự án"
                  nzSize="small"
                  [(ngModel)]="filters.poKHID"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <nz-option
                    *ngFor="let item of dtPOKH"
                    [nzLabel]="item.POCode"
                    [nzValue]="item.ID"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
        <div class="card-footer bg-white p-1 d-flex gap-1 justify-content-end">
          <button
            nz-button
            nzType="default"
            nzSize="small"
            (click)="ResetFilters()"
          >
            <span nz-icon nzType="reload"></span>
            Đặt lại
          </button>
          <button
            nz-button
            nzType="primary"
            nzSize="small"
            (click)="ApplyFilters()"
          >
            <span nz-icon nzType="search"></span>
            Tìm kiếm
          </button>
        </div>
      </div>
    </nz-splitter-panel>
    <nz-splitter-panel nzDefaultSize="100%">
      <div class="card h-100 border-0 rounded-0">
        <div class="card-header bg-white p-1">
          <div class="d-flex gap-1">
            <button
              nz-button
              nzType="default"
              nzSize="small"
              aria-label="Đóng"
              (click)="ToggleSearchPanel()"
            >
              <nz-icon nzType="search" />
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onCheckOrder(true)"
            >
              <span nz-icon nzType="check"></span> Check đặt hàng
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onCheckOrder(false)"
            >
              <span nz-icon nzType="close"></span>Hủy check đặt hàng
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onSaveData()"
            >
              <span nz-icon nzType="save"></span>Lưu
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onEdit()"
            >
              <span nz-icon nzType="edit"></span>Sửa
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onCancelRequest()"
            >
              <span nz-icon nzType="close"></span>Hủy yêu cầu
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onAddSupplier()"
            >
              <span nz-icon nzType="plus"></span>Thêm NCC
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onRequestApproved(true)"
            >
              <span nz-icon nzType="check-circle"></span>Y/c duyệt mua
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onRequestApproved(false)"
            >
              <span nz-icon nzType="close-circle"></span>Hủy y/c duyệt mua
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onCompleteRequestBuy(7)"
            >
              <span nz-icon nzType="check"></span>Hoàn thành
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onCompleteRequestBuy(1)"
            >
              <span nz-icon nzType="close"></span>Hủy Hoàn thành
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onBGDApprove()"
            >
              <span nz-icon nzType="check-circle"></span>BGĐ duyệt
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onBGDUnapprove()"
            >
              <span nz-icon nzType="close-circle"></span>BGĐ hủy duyệt
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onTBPApprove()"
            >
              <span nz-icon nzType="check-circle"></span>TBP duyệt
            </button>
            <button
              class="bar-button fs-12"
              nz-button
              nzType="default"
              nzSize="small"
              (click)="onTBPUnapprove()"
            >
              <span nz-icon nzType="close-circle"></span>TBP hủy duyệt
            </button>

            <div class="btn-group fs-12">
              <button
                nz-button
                nz-dropdown
                [nzDropdownMenu]="menu"
                class="p-0 fs-12 h-auto"
              >
                <nz-icon nzType="file-excel" nzTheme="fill" class="mx-2" />Xuất
                excel
                <i nz-icon nzType="down"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu" class="p-0 m-0">
                <ul nz-menu>
                  <li nz-menu-item class="fs-12">
                    <i nz-icon nzType="check" nzTheme="outline" class="me-2"></i
                    >Theo dòng đã chọn
                  </li>
                  <li nz-menu-item class="fs-12">
                    <i nz-icon nzType="file" nzTheme="outline" class="me-2"></i
                    >Trang hiện tại
                  </li>
                  <li nz-menu-item class="fs-12">
                    <i
                      nz-icon
                      nzType="global"
                      nzTheme="outline"
                      class="me-2"
                    ></i
                    >Tất cả
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <nz-splitter>
            <nz-splitter-panel [nzCollapsible]="true" nzResizable="true">
              <div class="custom-tabs-container">
                <nz-tabset
                  [(nzSelectedIndex)]="activeTabIndex"
                  [nzDestroyInactiveTabPane]="false"
                >
                  <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab.name">
                    <div class="p-1 position-relative">
                      <div
                        #tabulatorContainer
                        id="table-{{ tab.id }}"
                        class="tabulator-container container-fluid p-0"
                      ></div>
                    </div>
                  </nz-tab>
                </nz-tabset>
              </div>
            </nz-splitter-panel>
          </nz-splitter>
        </div>
      </div>
    </nz-splitter-panel>
  </nz-splitter>
</ng-container>
