<div class="modal-header bg-primary text-uppercase py-2 flex-shrink-0">
  <h6 class="modal-title text-white">Chi tiết phiếu nhập</h6>
  <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
</div>
<div class="modal-body p-2 flex-grow-1 overflow-visible" style="overflow-y: unset;">
  <div class="d-flex gap-2 pb-2 border-bottom">
    <button class="fs-12 btn" nz-button nzType="default" nzSize="small" title="Thêm sản phẩm" (click)="openModalNewProduct()">
      <nz-icon nzType="file-text"></nz-icon> Thêm sản phẩm
    </button>
    <button class="fs-12 btn" nz-button nzType="default" nzSize="small" title="Thêm dự án">
      <nz-icon nzType="exception"></nz-icon> Thêm dự án
    </button>
    <button class="fs-12 btn" nz-button nzType="default" nzSize="small" title="Chọn PO">
      <nz-icon nzType="file-excel"></nz-icon> Chọn PO
    </button>
  </div>

  <form nz-form [nzLayout]="'horizontal'" class="mt-2" [formGroup]="validateForm">
    <!-- Dòng 1: 4 ô -->
    <div class="row gx-2">
      <div class="col-md-3">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="fs-12" nzRequired>Số phiếu</nz-form-label>
          <nz-form-control [nzSpan]="16" [nzErrorTip]="billImportCodeError">
            <input nz-input formControlName="BillImportCode" readonly />
            <ng-template #billImportCodeError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng nhập số phiếu!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-md-3">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="fs-12" nzRequired>Trạng thái</nz-form-label>
          <nz-form-control [nzSpan]="16" [nzErrorTip]="billTypeNewError">
            <nz-select
              formControlName="BillTypeNew"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Chọn trạng thái"
              (ngModelChange)="changeStatus()"
            >
              <nz-option *ngFor="let id of cbbStatus" [nzValue]="id.ID" [nzLabel]="id.Name"></nz-option>
            </nz-select>
            <ng-template #billTypeNewError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng chọn trạng thái!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-md-3">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="fs-12" nzRequired>Người nhập</nz-form-label>
          <nz-form-control [nzSpan]="16" [nzErrorTip]="reciverIdError">
            <nz-select
              formControlName="ReciverID"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Chọn người nhập"
            >
              <nz-option *ngFor="let id of dataCbbReciver" [nzValue]="id.ID" [nzLabel]="id.FullName"></nz-option>
            </nz-select>
            <ng-template #reciverIdError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng chọn người nhập!
              </ng-container>
              <ng-container *ngIf="control.hasError('min') && (control.dirty || control.touched)">
                Vui lòng chọn người nhập!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-md-3">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="fs-12" nzRequired>Kho</nz-form-label>
          <nz-form-control [nzSpan]="16" readonly>
            <input nz-input formControlName="WarehouseName"  />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- Dòng 2: 3 ô -->
    <div class="row gx-2 mt-2">
      <div class="col-md-4">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="fs-12" nzRequired>Nhà cung cấp</nz-form-label>
          <nz-form-control [nzSpan]="16" [nzErrorTip]="supplierIdError">
            <nz-select
              formControlName="SupplierID"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Chọn nhà cung cấp"
              (ngModelChange)="changeSuplierSale()"
            >
              <nz-option *ngFor="let id of dataCbbSupplier" [nzValue]="id.ID" [nzLabel]="id.NameNCC"></nz-option>
            </nz-select>
            <ng-template #supplierIdError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng chọn nhà cung cấp!
              </ng-container>
              <ng-container *ngIf="control.hasError('min') && (control.dirty || control.touched)">
                Vui lòng chọn nhà cung cấp!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-md-4">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="fs-12" nzRequired>Người giao</nz-form-label>
          <nz-form-control [nzSpan]="16" [nzErrorTip]="deliverIdError">
            <nz-select
              formControlName="DeliverID"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Chọn người giao"
            >
              <nz-option *ngFor="let id of dataCbbDeliver" [nzValue]="id.ID" [nzLabel]="id.FullName"></nz-option>
            </nz-select>
            <ng-template #deliverIdError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng chọn người giao!
              </ng-container>
              <ng-container *ngIf="control.hasError('min') && (control.dirty || control.touched)">
                Vui lòng chọn người giao!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-md-4">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="fs-12">Ngày nhập</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-date-picker
              formControlName="CreatDate"
              [nzFormat]="dateFormat"
              class="w-100"
              [nzDisabled]="validateForm.get('BillTypeNew')?.value === 4"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- Dòng 3: 3 ô -->
    <div class="row gx-2 mt-2">
      <div class="col-md-4">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="fs-12" nzRequired>Loại kho</nz-form-label>
          <nz-form-control [nzSpan]="16" [nzErrorTip]="khoTypeIdError">
            <nz-select
              formControlName="KhoTypeID"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Chọn loại kho"
              (ngModelChange)="changeProductGroup($event)"
            >
              <nz-option *ngFor="let id of dataCbbProductGroup" [nzValue]="id.ID" [nzLabel]="id.ProductGroupName"></nz-option>
            </nz-select>
            <ng-template #khoTypeIdError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng chọn loại kho!
              </ng-container>
              <ng-container *ngIf="control.hasError('min') && (control.dirty || control.touched)">
                Vui lòng chọn loại kho!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-md-4">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="fs-12" nzRequired>Điều khoản TT</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-select
              formControlName="RulePayID"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Chọn điều khoản thanh toán"
            >
              <nz-option *ngFor="let id of dataCbbRulePay" [nzValue]="id.ID" [nzLabel]="id.Note"></nz-option>
            </nz-select>
            <ng-template #khoTypeIdError let-control>
              <ng-container *ngIf="control.hasError('required') && (control.dirty || control.touched)">
                Vui lòng chọn điều khoản thanh toán!
              </ng-container>
              <ng-container *ngIf="control.hasError('min') && (control.dirty || control.touched)">
                Vui lòng chọn điều khoản thanh toán!
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-md-4">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="fs-12">Ngày y/c nhập</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-date-picker
              formControlName="DateRequest"
              [nzFormat]="dateFormat"
              class="w-100"
              [nzDisabled]="validateForm.get('BillTypeNew')?.value !== 4"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <nz-tabset nzSize="small" (nzSelectedIndexChange)="onTabChange($event)">
    <nz-tab nzTitle="Danh sách sản phẩm">
      <nz-spin [nzSpinning]="isLoading" nzTip="Đang tải..." style="height: 100%; flex-grow: 1;">
        <div id="table_BillImportDetails"></div>
      </nz-spin>
    </nz-tab>
    <nz-tab nzTitle="Hồ sơ đi kèm">
      <nz-spin [nzSpinning]="isLoading" nzTip="Đang tải..." style="height: 100%; flex-grow: 1;">
        <div id="table_DocumnetImport"></div>
      </nz-spin>
    </nz-tab>
  </nz-tabset>
</div>

<div class="modal-footer flex-shrink-0">
  <button class="fs-12 btn" nz-button nzDanger (click)="closeModal()">Đóng</button>
  <button class="fs-12 btn" nz-button nzType="primary" (click)="saveDataBillImport()">Lưu</button>
</div>