<div style="display: flex; flex-direction: column; height: 94vh">
  <!-- Modal Header -->
  <div
    class="bg-primary align-items-center ps-2 pe-2"
    style="
      flex-shrink: 0;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
    "
  >
    <h6 class="text-light text-uppercase m-0">Chi tiết mượn thiết bị QRCode</h6>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.close()"
    ></button>
  </div>

  <!-- Modal Body với Splitter -->
  <div
    class="p-0"
    style="flex: 1; overflow: hidden; display: flex; flex-direction: column"
  >
    <div
      class="card h-100 border-0 rounded-0"
      style="display: flex; flex-direction: column; height: 100%"
    >
      <div
        class="card-body p-0"
        style="
          flex: 1;
          overflow: auto;
          display: flex;
          flex-direction: column;
          min-height: 0;
        "
      >
        <!-- Dòng 1: Thông tin chung (18 cột) và Hãng (6 cột) -->
        <div nz-row [nzGutter]="[8, 8]" class="mx-2">
          <!-- Thông tin chung - Full width trên tất cả màn hình -->
          <div
            class="px-0 pt-2"
            nz-col
            [nzXs]="24"
            [nzSm]="24"
            [nzMd]="24"
            [nzLg]="24"
            [nzXl]="24"
          >
            <fieldset class="reset m-0 mb-2">
              <legend class="reset fs-12 p-0 mb-2 header-legend">
                THÔNG TIN ĐĂNG KÝ MƯỢN
              </legend>
              <form
                nz-form
                [formGroup]="borrowInfoForm"
                class="container-fluid"
                nzLayout="vertical"
              >
                <div nz-row [nzGutter]="[8, 4]">
                  <!-- Người mượn -->
                  <div
                    nz-col
                    [nzXs]="8"
                    [nzSm]="8"
                    [nzMd]="8"
                    [nzLg]="8"
                    [nzXl]="8"
                  >
                    <nz-form-item class="mb-2">
                      <nz-form-label class="fs-12">
                        Người mượn <span class="text-danger ms-1">*</span>
                      </nz-form-label>
                      <nz-form-control nzErrorTip="Vui lòng chọn người mượn!">
                        <nz-select
                          formControlName="EmployeeID"
                          class="w-100"
                          nzShowSearch
                          nzPlaceHolder="--Chọn người mượn--"
                        >
                          <ng-container *ngFor="let group of employeeList">
                            <nz-option-group [nzLabel]="group.label">
                              <nz-option
                                *ngFor="let option of group.options"
                                [nzLabel]="
                                  option.item.EmployeeCode +
                                  ' - ' +
                                  option.item.FullName
                                "
                                [nzValue]="option.item.ID"
                              ></nz-option>
                            </nz-option-group>
                          </ng-container>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <!-- QRCode -->
                  <div
                    nz-col
                    [nzXs]="16"
                    [nzSm]="16"
                    [nzMd]="16"
                    [nzLg]="16"
                    [nzXl]="16"
                  >
                    <nz-form-item class="mb-2">
                      <nz-form-label class="fs-12"> QRCode </nz-form-label>
                      <nz-form-control>
                        <input
                          nz-input
                          formControlName="QrCode"
                          placeholder="Nhập QRCode"
                          (keydown.enter)="onGetQrCode()"
                          #qrCodeInput
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <!-- Ngày mượn -->
                  <div
                    nz-col
                    [nzXs]="4"
                    [nzSm]="4"
                    [nzMd]="4"
                    [nzLg]="4"
                    [nzXl]="4"
                  >
                    <nz-form-item class="mb-2">
                      <nz-form-label class="fs-12">
                        Ngày mượn <span class="text-danger ms-1">*</span>
                      </nz-form-label>
                      <nz-form-control nzErrorTip="Vui lòng chọn ngày mượn!">
                        <nz-date-picker
                          class="w-100"
                          nzFormat="dd/MM/yyyy"
                          nzAllowClear="false"
                          formControlName="BorrowDate"
                          nzDisabled="true"
                        ></nz-date-picker>
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <!-- Ngày dự kiến trả -->
                  <div
                    nz-col
                    [nzXs]="4"
                    [nzSm]="4"
                    [nzMd]="4"
                    [nzLg]="4"
                    [nzXl]="4"
                  >
                    <nz-form-item class="mb-2">
                      <nz-form-label class="fs-12">
                        Ngày dự kiến trả <span class="text-danger ms-1">*</span>
                      </nz-form-label>
                      <nz-form-control
                        nzErrorTip="Vui lòng chọn ngày dự kiến trả!"
                      >
                        <nz-date-picker
                          class="w-100"
                          nzFormat="dd/MM/yyyy"
                          nzAllowClear="false"
                          formControlName="Return"
                        ></nz-date-picker>
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <!-- Dự án (ĐÃ SỬA ĐÚNG) -->
                  <div
                    nz-col
                    [nzXs]="16"
                    [nzSm]="16"
                    [nzMd]="16"
                    [nzLg]="16"
                    [nzXl]="16"
                  >
                    <nz-form-item class="mb-2">
                      <nz-form-label class="fs-12">
                        Dự án <span class="text-danger ms-1">*</span>
                      </nz-form-label>
                      <nz-form-control nzErrorTip="Vui lòng nhập dự án!">
                        <input
                          nz-input
                          formControlName="ProjectName"
                          placeholder="Nhập dự án"
                        />
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <!-- Ghi chú -->
                  <div
                    nz-col
                    [nzXs]="24"
                    [nzSm]="24"
                    [nzMd]="24"
                    [nzLg]="24"
                    [nzXl]="24"
                  >
                    <nz-form-item class="mb-2">
                      <nz-form-label class="fs-12">Ghi chú</nz-form-label>
                      <nz-form-control>
                        <textarea
                          nz-input
                          formControlName="Note"
                          rows="3"
                          placeholder="Nhập ghi chú"
                        ></textarea>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
        <div class="grid-borrow-detail mx-2">
          <angular-slickgrid
            gridId="gridBorrowDetail"
            [columns]="columnDefinitionsMaster"
            [options]="gridOptionsMaster"
            [dataset]="borrowData"
            (onAngularGridCreated)="angularGridMasterReady($event.detail)"
          >
          </angular-slickgrid>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer py-1 px-1">
    <button nz-button nzType="default" nzDanger (click)="activeModal.close()">
      Đóng
    </button>
    <button nz-button nzType="default" (click)="onGetQrCode()">
      Tải lại QR
    </button>
    <!-- <button nz-button nzType="default">
      <i class="fas fa-save me-1"></i> Lưu
    </button> -->
    <button nz-button nzType="primary" (click)="onSave()">
      <i class="fas fa-save me-1"></i> Đăng ký mượn
    </button>
  </div>
</div>
