.reset {
    all: revert;
}

.tabulator {
  font-size: 0.75rem;
  border: 1px solid !important;
}

.tabulator-cell {
  padding: 0px;
}

.fs-12 {
  font-size: 0.75rem;
}
.custom-border {
  border: 1px ;  /* Màu viền mặc định của Ant Design */
  border-radius: 4px;         /* Bo góc 4px */
  padding: 16px;              /* Tạo khoảng đệm bên trong */
  transition: all 0.3s;       /* Hiệu ứng mượt khi hover */

}

