.fs-7 {
  font-size: 0.875rem;
}

.cursor-pointer {
  cursor: pointer;
}

::ng-deep .tabulator-header-filter input {
  color: #000000 !important;
}

::ng-deep .tabulator-header-filter select {
  color: #000000 !important;
}