.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: 1px solid #e8e8e8;
}

::ng-deep .ant-card-head {
    min-height: 40px;
    padding: 0 12px;
    background-color: #f5f5f5;
}

::ng-deep .ant-card-head-title {
    padding: 8px 0;
    font-weight: 600;
    font-size: 13px;
}

::ng-deep .ant-card-body {
    padding: 12px;
}

::ng-deep .ant-form-item {
    margin-bottom: 12px;
}

::ng-deep .ant-form-item:last-child {
    margin-bottom: 0;
}

::ng-deep .ant-form-item-label>label {
    font-size: 12px;
    color: #333;
}