.modal-content {
  height: 85vh !important;
  display: flex;
  flex-direction: column;
}

.modal-body {
  flex: 1 1 auto;
  overflow: hidden !important;
}

nz-splitter {
  height: 100% !important;
}

#tb_employeeMain,
#tb_employeeSuggest {
  height: 100% !important;
  overflow: hidden;
}

.tabulator {
  height: 100% !important;
}