.fs-12 {
  font-size: 0.75rem;
}

.reset {
  all: revert;
}

.ant-splitter-panel{
  position: relative;
}

.tabulator {
  font-size: 0.75rem;
  position: absolute;
  width: 100%;
}

.tabulator-cell {
  padding: 0px;
}

.inner-content {
  padding: 0 !important;
}

.ant-tabs-tab-btn {
  font-size: 0.75rem;
}

/* Header filter (year/keyword) responsive helpers - giá»‘ng Payroll */
.payroll-filter-year-group {
  flex: 1 1 100%;
}

.payroll-filter-year-input {
  width: 100%;
}

@media (min-width: 576px) {
  .payroll-filter-year-group {
    flex: 0 0 auto;
  }

  .payroll-filter-year-input {
    width: 80px;
  }
}


