/* Fullscreen modal styles */
::ng-deep .modal-fullscreen {
  max-width: 100%;
  margin: 0;
  height: 100vh;
}

::ng-deep .modal-fullscreen .modal-content {
  height: 100vh;
  border-radius: 0;
}

::ng-deep .modal-fullscreen .modal-dialog {
  max-width: 100%;
  margin: 0;
  height: 100vh;
}

::ng-deep .modal-fullscreen .modal-body {
  overflow-y: auto;
  max-height: calc(100vh - 120px);
}

