.ant-form-item-label {
    padding: 0px !important;
  }
  
  /* Hoặc target cụ thể hơn */
  nz-form-label .ant-form-item-label {
    padding: 0px !important;
  }

  .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  
  .modal-backdrop.show {
    opacity: 1;
  }
  
  .modal {
    background-color: rgba(0, 0, 0, 0.5);
  }