.reset {
    all: revert;
}

.tabulator {
  font-size: 0.75rem;
  border: 1px solid !important;
}

.tabulator-cell {
  padding: 0px;
}

.fs-12 {
  font-size: 0.75rem;
}
.custom-border {
  border: 1px ;  /* Màu viền mặc định của Ant Design */
  border-radius: 4px;         /* Bo góc 4px */
  padding: 16px;              /* Tạo khoảng đệm bên trong */
  transition: all 0.3s;       /* Hiệu ứng mượt khi hover */

}

.product-list-container {
  margin: 16px;
  padding: 16px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;

  .add-row-container {
    margin-top: 16px;
    text-align: center;
  }

  nz-table {
    margin-top: 16px;
  }
}
.fullscreen-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: white; /* hoặc theo thiết kế của bạn */
  z-index: 1050; /* cao hơn backdrop nếu cần */
}
#productTable, .tabulator {
  width: 100% !important;
  min-width: 0;
}
/*Style row formatter contents*/
#example-table .tabulator-row table{
    vertical-align: middle;
    border-collapse:collapse;
}

#example-table .tabulator-row table img{
    border:2px solid #ccc;
}

#example-table .tabulator-row table tr td{
     border:none;
}

#example-table .tabulator-row table tr td:first-of-type{
    width:60px;
}

#example-table .tabulator-row table tr td div{
    padding:5px;
}

.spin-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
}