.ant-tabs-content-holder{
  height: 100% !important;
}
:host ::ng-deep nz-tab-body{
  height: 100% !important;
}
:host ::ng-deep nz-tabset{
  height: 100% !important;
}
:host ::ng-deep nz-tab{
  height: 100% !important;
}
:host ::ng-deep nz-tab-content{
  height: 100% !important;
}
:host ::ng-deep .card-body{
  height: 85vh !important;
}
:host ::ng-deep .card-body .ant-tabs-content-holder{
  height: 100% !important;
}
:host ::ng-deep .card-body .ant-tabs-content{
  height: 100% !important;
}
:host ::ng-deep .card-body .ant-tabs-tabpane{
  height: 100% !important;
}

/* SlickGrid font size */
:host {
  font-size: 12px;
  font-size: 0.75rem;
}
::ng-deep div[id^="grid-"] {
  height: 80vh!important;
}

/* Căn phải các cột số */
::ng-deep .slick-cell.text-right {
  text-align: right !important;
  padding-right: 8px !important;
}