.form-group label {
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 2px;
    display: block;
}

.modal-header .btn-close {
    filter: brightness(0) invert(1);
}

:host ::ng-deep .ant-input-number {
    width: 100%;
}

:host ::ng-deep .ant-picker {
    width: 100%;
}