.form-group label {
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 2px;
    display: block;
}

:host ::ng-deep .ant-input-number {
    width: 100%;
}

:host ::ng-deep .ant-picker {
    width: 100%;
}