<!-- <p-menubar [model]="menuBars" ></p-menubar> -->
<p-menubar [model]="menuBars"> </p-menubar>

<form nz-form nzLayout="inline">
    <nz-form-item>
        <nz-form-label>Từ ngày</nz-form-label>
        <nz-form-control>
            <nz-date-picker class="w-100" [(ngModel)]="param.dateStart" nzFormat="dd/MM/yyyy"
                [ngModelOptions]="{ standalone: true }" nzSize="small"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>Đến ngày</nz-form-label>
        <nz-form-control>
            <nz-date-picker class="w-100" [(ngModel)]="param.dateEnd" nzFormat="dd/MM/yyyy"
                [ngModelOptions]="{ standalone: true }" nzSize="small"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>Phòng ban</nz-form-label>
        <nz-form-control>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn phòng ban" [(ngModel)]="param.departmentID"
                [ngModelOptions]="{ standalone: true }">
                @for (item of departments; track item) {
                <nz-option [nzLabel]="item.Name" [nzValue]="item.ID" nzSize="small"></nz-option>
                }
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>Nhân viên</nz-form-label>
        <nz-form-control>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn nhân viên" [(ngModel)]="param.employeeID"
                [ngModelOptions]="{ standalone: true }">
                @for (g of employees; track $index) {
                <nz-option-group [nzLabel]="g.DepartmentName || ''">
                    @for (item of g.items; track $index) {
                    <nz-option nzLabel="{{item.Code}} - {{item.FullName}}" [nzValue]="item.ID" nzSize="small"
                        *ngIf="item.FullName != ''"></nz-option>
                    }
                </nz-option-group>

                }
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>Tình trạng</nz-form-label>
        <nz-form-control>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn tình trạng" [(ngModel)]="param.isApproved"
                [ngModelOptions]="{ standalone: true }">
                @for (item of isApproveds; track item) {
                <nz-option [nzLabel]="item.text" [nzValue]="item.value" nzSize="small"></nz-option>
                }
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>Loại đề nghị</nz-form-label>
        <nz-form-control>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn loại" [(ngModel)]="param.typeOrder"
                [ngModelOptions]="{ standalone: true }">
                @for (item of typeOrders; track item) {
                <nz-option [nzLabel]="item.text" [nzValue]="item.value" nzSize="small"></nz-option>
                }
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label>Loại nội dung</nz-form-label>
        <nz-form-control>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn nội dung" [(ngModel)]="param.paymentOrderTypeID"
                [ngModelOptions]="{ standalone: true }">
                @for (item of paymentOrderTypes; track item) {
                <nz-option [nzLabel]="item.TypeName" [nzValue]="item.ID" nzSize="small"></nz-option>
                }
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label>Từ khóa</nz-form-label>
        <nz-form-control>
            <input nz-input [(ngModel)]="param.keyword" [ngModelOptions]="{ standalone: true }" nzSize="small"
                placeholder="Bạn muốn tìm gì?" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-button nzType="primary" type="button" (click)="loadData()">Tìm kiếm</button>
        </nz-form-control>
    </nz-form-item>

</form>

<nz-splitter nzLayout="vertical" style="height: 89vh !important;">
    <nz-splitter-panel nzMin="20%" [nzCollapsible]="true">
        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0" class="p-2">ĐỀ NGHỊ THANH TOÁN</p-tab>
                <p-tab value="1" class="p-2">ĐỀ NGHỊ THANH TOÁN ĐẶC BIỆT</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <div class="grid-container" style="height: 100%;">
                        <angular-slickgrid gridId="grvData" [columns]="columnDefinitions" [options]="gridOptions"
                            [dataset]="dataset" (onAngularGridCreated)="angularGridReady($event.detail)"
                            (onSelectedRowsChanged)="handleRowSelection($event.detail.eventData, $event.detail.args)"
                            (onClick)="onCellClicked($event.detail.eventData, $event.detail.args)">
                        </angular-slickgrid>
                    </div>
                </p-tabpanel>
                <p-tabpanel value="1">

                </p-tabpanel>

            </p-tabpanels>
        </p-tabs>
    </nz-splitter-panel>
    <nz-splitter-panel [nzCollapsible]="true">
        <nz-splitter>
            <nz-splitter-panel nzMin="20%" [nzCollapsible]="false">
                <!-- <div class="box">Chi tiết</div> -->
                <div class="grid-container-detail">
                    <angular-slickgrid gridId="grvDetail" [columns]="columnDefinitionDetails"
                        [options]="gridOptionDetails" [dataset]="datasetDetails"
                        (onAngularGridCreated)="angularGridDetailReady($event.detail)"
                        (onSelectedRowsChanged)="handleRowSelection($event.detail.eventData, $event.detail.args)"
                        (onClick)="onCellClicked($event.detail.eventData, $event.detail.args)">
                    </angular-slickgrid>
                </div>
            </nz-splitter-panel>
            <nz-splitter-panel [nzCollapsible]="false">
                <p-tabs value="0">
                    <p-tablist>
                        <p-tab value="0" class="p-2">File đính kèm</p-tab>
                        <p-tab value="1" class="p-2">File bankslip</p-tab>
                    </p-tablist>
                    <p-tabpanels>
                        <p-tabpanel value="0">
                            <div class="grid-container-file">
                                <angular-slickgrid gridId="grvFile" [columns]="columnDefinitionFiles"
                                    [options]="gridOptionFiles" [dataset]="datasetFiles"
                                    (onAngularGridCreated)="angularGridFileReady($event.detail)"
                                    (onSelectedRowsChanged)="handleRowSelection($event.detail.eventData, $event.detail.args)"
                                    (onClick)="onCellClicked($event.detail.eventData, $event.detail.args)">
                                </angular-slickgrid>
                            </div>
                        </p-tabpanel>
                        <p-tabpanel value="1">
                            <div class="grid-container-file">
                                <angular-slickgrid gridId="grvFileBankslip" [columns]="columnDefinitionFiles"
                                    [options]="gridOptionFiles" [dataset]="datasetFileBankslip"
                                    (onAngularGridCreated)="angularGridFileBankslipReady($event.detail)"
                                    (onSelectedRowsChanged)="handleRowSelection($event.detail.eventData, $event.detail.args)"
                                    (onClick)="onCellClicked($event.detail.eventData, $event.detail.args)">
                                </angular-slickgrid>
                            </div>
                        </p-tabpanel>

                    </p-tabpanels>
                </p-tabs>

            </nz-splitter-panel>
        </nz-splitter>
    </nz-splitter-panel>
</nz-splitter>