.chart-legend {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}

.legend-color {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  border-radius: 3px;
}

.legend-label {
  font-size: 14px;
}

/* Style for tabs */
.ant-tabs-tab {
  font-weight: 500;
}

.ant-tabs-tab-active {
  font-weight: 600;
}