<div class="card h-100 border-0 rounded-0 d-flex flex-column overflow-hidden">
    <div class="card-header bg-white border-bottom d-flex justify-content-between align-items-center flex-shrink-0">
        <h6 class="mb-0">Đề thi</h6>
        <div class="d-flex align-items-center gap-2">
            <button nz-button nzType="text" nzSize="small" (click)="toggleAll()">
                <span nz-icon [nzType]="allExpanded ? 'folder-open' : 'folder'" nzTheme="outline"></span>
            </button>
        </div>
    </div>

    <p-menubar [model]="menuItems" class="flex-shrink-0">
        <ng-template pTemplate="item" let-item>
            <a class="p-menuitem-link" [ngClass]="item.styleClass">
                <i [class]="item.icon"></i>
                <span class="p-menuitem-text">{{ item.label }}</span>
            </a>
        </ng-template>
    </p-menubar>

    <nz-spin [nzSpinning]="isLoading" [nzDelay]="200" class="flex-grow-1 overflow-auto">
        <div class="tree-container">
            <ng-container *ngFor="let deptNode of treeData">
                <div class="tree-node department-node" [class.collapsed]="deptNode.isCollapsed" (click)="toggleNode(deptNode, $event)">
                    <span nz-icon [nzType]="deptNode.isCollapsed ? 'right' : 'down'" nzTheme="outline"></span>
                    <!-- <span class="node-prefix"></span> -->
                    <strong>Phòng ban: {{ deptNode.name }}</strong>
                    <nz-tag nzColor="blue" class="ms-auto">{{ deptNode.courseCount }} Khoá học</nz-tag>
                </div>

                <div class="tree-children" *ngIf="!deptNode.isCollapsed">
                    <ng-container *ngFor="let catalogNode of deptNode.children">
                        <div class="tree-node catalog-type-node" [class.collapsed]="catalogNode.isCollapsed" [ngClass]="getCatalogTypeClass(catalogNode.name)" (click)="toggleNode(catalogNode, $event)">
                            <span nz-icon [nzType]="catalogNode.isCollapsed ? 'right' : 'down'" nzTheme="outline"></span>
                            <!-- <span class="node-prefix"></span> -->
                            <strong>Loại: {{ catalogNode.name }}</strong>
                            <nz-tag nzColor="blue" class="ms-auto">{{ catalogNode.courseCount }}</nz-tag>
                        </div>

                        <div class="tree-children" *ngIf="!catalogNode.isCollapsed">
                            <ng-container *ngFor="let catNode of catalogNode.children">
                                <div class="tree-node catalog-node" [class.collapsed]="catNode.isCollapsed" (click)="toggleNode(catNode, $event)">
                                    <span nz-icon [nzType]="catNode.isCollapsed ? 'right' : 'down'" nzTheme="outline"></span>
                                    <!-- <span class="node-prefix"></span> -->
                                    <strong>Danh mục: {{ catNode.name }}</strong>
                                    <nz-tag nzColor="purple" class="ms-auto">{{ catNode.courseCount }}</nz-tag>
                                </div>

                                <div class="tree-children" *ngIf="!catNode.isCollapsed">
                                    <ng-container *ngFor="let courseNode of catNode.children">
                                        <div class="course-node" [class.selected]="isSelected(courseNode)" (click)="selectCourse(courseNode, $event)">
                                            <div class="course-title">
                                                <span class="course-name-text">{{ courseNode.name }}</span>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <div *ngIf="catNode.children.length === 0" class="empty-children">
                                        <span nz-icon nzType="inbox" nzTheme="outline"></span> Không có khóa học
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </nz-spin>
</div>
