 .modal-header {
  border-bottom: 1px solid #dee2e6;
  padding: 1rem;
 }
 
 .modal-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
 }
 
 .grid-container {
  margin-top: 1rem;
  flex: 1 1 auto;
  min-height: 0;
 }
 
 #gridContainer {
  height: 60vh;
 }

 angular-slickgrid {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 0;
 }

 #gridContainer ::ng-deep .slickgrid-container {   /* Chỉnh height cho grid bằng cái này */
   height: 73vh !important; 
 }
 
 ::ng-deep .slick-header-column {
  font-weight: bold;
  background-color: #f8f9fa;
 }
 
 ::ng-deep .slick-row {
  border-bottom: 1px solid #dee2e6;
 }
 
 ::ng-deep .slick-row.selected {
  background-color: #e9ecef !important;
 }
 
 ::ng-deep .slick-cell {
  font-size: 0.75rem;
  padding: 4px 6px;
 }
 
 ::ng-deep .slick-cell.text-right {
  text-align: right;
 }
 
 ::ng-deep .slick-cell.cell-selection {
  text-align: center;
 }
 
 .modal-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  padding: 1rem;
  flex-shrink: 0;
 }
