<div class="modal-header bg-primary py-2">
  <h6 class="modal-title text-uppercase text-white">
    {{ title }}
  </h6>
  <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()"></button>
</div>

<div class="modal-body fs-12">
  <nz-spin [nzSpinning]="isLoading">
    <form nz-form [formGroup]="form" nzLayout="vertical">
      
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24">
          <nz-form-item class="mb-2">
            <nz-form-label [nzRequired]="true">Số thứ tự</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập số thứ tự">
              <nz-input-number formControlName="STT" [nzMin]="1" [nzStep]="1" style="width: 100%" nzSize="small"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-form-item class="mb-2">
            <nz-form-label [nzRequired]="true">Mã phòng ban</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập mã phòng ban">
              <input nz-input formControlName="Code" placeholder="Nhập mã phòng ban" nzSize="small" />
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-form-item class="mb-2">
            <nz-form-label [nzRequired]="true">Tên phòng ban</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng nhập tên phòng ban">
              <input nz-input formControlName="Name" placeholder="Nhập tên phòng ban" nzSize="small" />
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24">
          <nz-form-item class="mb-2">
            <nz-form-label>Phòng ban cha</nz-form-label>
            <nz-form-control>
              <nz-tree-select formControlName="ParentID" [nzNodes]="departmentNodes" nzShowSearch nzPlaceHolder="--Chọn phòng ban cha--" nzAllowClear nzSize="small" style="width: 100%"></nz-tree-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-form-item class="mb-2">
            <nz-form-label [nzRequired]="true">Trưởng phòng</nz-form-label>
            <nz-form-control nzErrorTip="Vui lòng chọn trưởng phòng">
              <nz-select formControlName="HeadofDepartment" nzPlaceHolder="Chọn trưởng phòng" class="w-100" nzShowSearch nzAllowClear nzSize="small">
                <ng-container *ngFor="let group of employeeList">
                  <nz-option-group [nzLabel]="group.label">
                    <nz-option *ngFor="let option of group.options"
                      [nzLabel]="option.item.Code +' - '+ option.item.FullName" [nzValue]="option.item.EmployeeID">
                    </nz-option>
                  </nz-option-group>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-form-item class="mb-2">
            <nz-form-label>Trạng thái</nz-form-label>
            <nz-form-control>
              <nz-select class="w-100" nzShowSearch nzSize="small" formControlName="Status">
                <nz-option nzLabel="Ngừng hoạt động" [nzValue]="0"></nz-option>
                <nz-option nzLabel="Hoạt động" [nzValue]="1"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="24">
          <nz-form-item class="mb-0">
            <nz-form-label>Email</nz-form-label>
            <nz-form-control>
              <input nz-input type="email" maxlength="100" formControlName="Email" placeholder="Nhập email" nzSize="small" />
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

    </form>
  </nz-spin>
</div>

<div class="modal-footer fs-12 p-2">
  <button nz-button type="button" nzType="default" (click)="onCancel()" [nzLoading]="isLoading">
    Hủy
  </button>
  <button nz-button type="button" nzType="primary" (click)="onSave()" [nzLoading]="isLoading">
    Lưu
  </button>
</div>
