.modal-body {
    padding: 0 !important;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
    gap: 8px;
}

:host ::ng-deep .slick-header-column {
    font-weight: bold !important;
}

:host ::ng-deep .slick-cell.text-center {
    text-align: center !important;
}