/* Styles for declare-day-off-detail component */
.fs-12 {
    font-size: 12px;
}

.modal-header {
    border-radius: 0;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}