:host ::ng-deep .angular-slickgrid {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

:host ::ng-deep .slick-header-column {
    background-color: #fafafa;
    border-right: 1px solid #e8e8e8;
    font-weight: 500;
}

:host ::ng-deep .slick-cell {
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

:host ::ng-deep .slick-row:hover {
    background-color: #f5f5f5;
}

:host ::ng-deep .slick-row.active {
    background-color: #e6f7ff;
}

h4 {
    margin: 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}

