<div class="modal-dialog-scrollable">
  <!-- Modal Header -->
  <div class="modal-header bg-primary align-items-center ps-2">
    <h6 class="text-light text-uppercase m-0" style="padding: 0 0.5rem;">
      Thêm leader vào dự án
    </h6>
    <button type="button" class="btn-close" (click)="activeModal.dismiss()" aria-label="Close"></button>
  </div>
  <div class="modal-body" style="height: 60vh;">
    <!-- Nhóm chọn phòng ban & tìm kiếm trên cùng một hàng -->
    <div class="modal-body p-1">
      <div style="display: flex; align-items: center;">
        
        <!-- Phòng ban (chiếm 40%) -->
        <div style="flex: 0.4; display: flex; align-items: center;">
          <label class="fs-12" style="width: 90px;">Phòng ban:</label>
          <nz-select
            class="fs-12"
            style="flex: 1;"
            name="selectedDepartment"
            [(ngModel)]="selectedDepartment"
            (ngModelChange)="onDepartmentChange()"
            nzPlaceHolder="Chọn phòng ban"
            nzAllowClear
            nzShowSearch>
            @for (item of departments; track $index) {
              <nz-option  class="fs-12" [nzLabel]="item.title" [nzValue]="item.value"></nz-option>
            }
          </nz-select>
        </div>
    
        <!-- Tìm kiếm (chiếm 60%) -->
        <div style="display: flex; width: 30%;" class="ms-auto">
          <nz-input-group  class="fs-12" [nzSuffix]="suffixIconSearch" style="flex: 1;">
            <input
            class="fs-12"
              type="text"
              nz-input
              placeholder="Tìm kiếm ..."
              [(ngModel)]="searchKeyword"
              (ngModelChange)="onSearchKeywordChange()" />
          </nz-input-group>
        </div>
    
      </div>
    </div>
    



    <!-- Kết quả bảng hoặc nội dung cuộn -->
    <div class="mt-2" #tb_projectEmployeeLink class="table-responsive w-100">
      <!-- Nội dung bảng sẽ được vẽ tại đây -->
    </div>
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer bg-whitesmoke br p-1">
    <button nz-button nzType="default" nzDanger (click)="activeModal.dismiss()">
      Đóng
    </button>
    <button nz-button nzType="primary" style="margin-left: 8px;" (click)="onAddLeaders()">
      Lưu 
    </button>
  </div>
</div>

<!-- Biểu tượng tìm kiếm -->
<ng-template #suffixIconSearch>
  <nz-icon nzType="search" />
</ng-template>