:host {
    display: block;
    height: 100%;
    width: 100%;
}


::ng-deep .ant-spin-nested-loading,
::ng-deep .ant-spin-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}