<ng-container class="w-100">
    <nz-splitter style="height: 90vh; ">
        <nz-splitter-panel *ngIf="isSearchVisible" [nzSize]="'20%'" [nzResizable]="false">
            <div class="card h-100 border-0 rounded-0">
                <!-- Header -->
                <div class="card-header bg-white p-1">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="m-0 ms-2">Tìm kiếm</h6>
                        <button class="border-0 me-2" nz-button nzSize="small" nzType="default" nzDanger
                            (click)="toggleSearchPanel()">
                            <nz-icon nzType="close" nzTheme="outline"></nz-icon>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form nz-form nzLayout="vertical">
                        <nz-form-item>
                            <nz-form-label class="fs-12" [nzSpan]="24">Từ ngày</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-date-picker class="w-100" nzSize="small" [(ngModel)]="dateStart"
                                    (ngModelChange)="onFilterChange()" name="dateStart"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Đến ngày</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-date-picker class="w-100" nzSize="small" [(ngModel)]="dateEnd"
                                    (ngModelChange)="onFilterChange()" name="dateEnd"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Chọn nhân viên</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select class="w-100 fs-12" nzShowSearch nzAllowClear
                                    nzPlaceHolder="Chọn nhân viên..." [(ngModel)]="employeeID" name="employeeID"
                                    (ngModelChange)="onEmployeeChange($event)" (ngModelChange)="onFilterChange()">
                                    <nz-option *ngFor="let emp of emPloyeeLists"
                                        [nzLabel]="emp.Code + ' - ' + emp.FullName" [nzValue]="emp.ID"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Từ khóa</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <input nz-input placeholder="Nhập từ khóa" nzSize="small" [(ngModel)]="filterText"
                                    name="filterText" (ngModelChange)="onSearchChange()" />
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
                <div class="card-footer bg-white p-1 d-flex gap-1 justify-content-end flex-wrap">
                    <button nz-button nzType="default" nzSize="small" (click)="clearAllFilters()">Đặt lại</button>
                    <button nz-button nzType="primary" nzSize="small" (click)="onSearchChange()">Tìm kiếm</button>
                </div>
            </div>
        </nz-splitter-panel>
        <nz-splitter-panel [nzSize]="isSearchVisible ? '80%' : '100%'">
            <div class="card  border-0 rounded-0">
                <div class="card-header bg-white p-1">
                    <div class="d-flex h-40 gap-1">
                        <button nz-button nzType="default" nzSize="small" (click)="toggleSearchPanel()">
                            <nz-icon nzType="search" />
                        </button>

                        <button nz-button nzType="default" nzSize="small" class="fs-12 btn-add"
                            (click)="openModalAllocation()">
                            <img src="assets/icon/action_add_item_16.png" alt="Thêm mới " />Thêm
                        </button>
                        <button nz-button nzType="default" nzSize="small" class="btn-edit"
                            (click)="openEditModalAllocation()">
                            <img src="assets/icon/action_edit_item_16.png" alt="Sửa nhóm TB" />Sửa
                        </button>
                        <button nz-button nzType="default" nzSize="small" class="btn-delete "
                            (click)="updateApprove('Delete')">
                            <img src="assets/icon/action_delete_item_16.png" alt="Xóa nhóm TB" />Xóa
                        </button>
                        <span class="mx-2"
                            style="display: inline-block; height: 20px; border-left: 1px solid #e5e5e5; align-self: center;"></span>
                        <button nz-button nzType="default" nzSize="small" (click)="updateApprove('PERSONAL_APPROVE')">
                            <img src="assets/icon/action_approved_16.png" />Cá nhân duyệt
                        </button>
                        <button nz-button nzType="default" nzSize="small" (click)="updateApprove('PERSONAL_CANCEL')">
                            <img src="assets/icon/action_unapproved_16.png" />Cá nhân hủy duyệt
                        </button>
                        <span class="mx-2"
                            style="display: inline-block; height: 20px; border-left: 1px solid #e5e5e5; align-self: center;"></span>
                        <button nz-button nzType="default" nzSize="small" (click)="updateApprove('HR_APPROVE')">
                            <img src="assets/icon/action_approved_16.png" />HR duyệt
                        </button>
                        <button nz-button nzType="default" nzSize="small" (click)="updateApprove('HR_CANCEL')">
                            <img src="assets/icon/action_unapproved_16.png" />HR hủy duyệt
                        </button>
                    </div>
                </div>
                <nz-splitter style="height: 86vh;">
                    <nz-splitter-panel [nzCollapsible]="true" nzResizable="true">
                        <div id="dataTbAllocation" style="height: 100%;"></div>
                    </nz-splitter-panel>
                    <nz-splitter-panel [nzCollapsible]="true" nzResizable="true" [nzSize]="sizeTbDetail">
                        <div id="dataTbAllocationDetail" style="height: 100%; "></div>
                    </nz-splitter-panel>
                </nz-splitter>
            </div>
        </nz-splitter-panel>
    </nz-splitter>
</ng-container>
<div class="modal fade" id="addAllocationModal" tabindex="-1" #addAllocationModal aria-labelledby="addAllocationModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header py-2 bg-primary text-white text-uppercase">
                <h6 class="modal-title text-white" id="addAllocation">CẤP PHÁT TÀI SẢN CÁ NHÂN</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3 needs-validation was-validated fs-7" novalidate>
                    <div class="row pt-2">
                        <div class="col-md-6 pb-3 ">
                            <nz-form-label class="fs-12">Mã cấp phát </nz-form-label>
                            <nz-form-control>
                                <input nz-input name="TSCNCode" readonly [(ngModel)]="TSCNcode" />
                            </nz-form-control>
                        </div>
                        <div class="col-md-6 pb-3">
                            <nz-form-label class="fs-12">
                                Ngày cấp <span class="text-danger">(*)</span>
                            </nz-form-label>
                            <nz-form-control>
                                <nz-date-picker name="AssignedDate" [(ngModel)]="allocationDate"
                                    (ngModelChange)="onDateChange($event)" class="w-100" nzFormat="dd/MM/yyyy" required>
                                </nz-date-picker>
                            </nz-form-control>
                            <div class="invalid-feedback">
                                Vui lòng chọn ngày!
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <!-- Select nhân viên -->
                        <div class="col md-4 pb-3">
                            <nz-form-label class="fs-12">
                                Cấp phát cho <span class="text-danger">(*)</span>
                            </nz-form-label>
                            <nz-select class="w-100 fs-12" nzShowSearch nzAllowClear nzPlaceHolder="Chọn nhân viên..."
                                [(ngModel)]="employeeID" name="employeeID" (ngModelChange)="onEmployeeChange($event)">
                                <nz-option-group *ngFor="let g of employeeGroups" [nzLabel]="g.department">
                                    <nz-option *ngFor="let emp of g.items" [nzLabel]="emp.Code + ' - ' + emp.FullName"
                                        [nzValue]="emp.ID">
                                    </nz-option>
                                </nz-option-group>
                            </nz-select>
                        </div>

                        <!-- Phòng ban -->
                        <div class="col md-4 pb-3">
                            <nz-form-label class="fs-7">Phòng ban</nz-form-label>
                            <nz-form-control>
                                <input nz-input required name="DepartmentName"
                                    [value]="selectedEmployee?.DepartmentName || ''" disabled />
                            </nz-form-control>
                        </div>

                        <!-- Chức vụ -->
                        <div class="col md-4 pb-3">
                            <nz-form-label class="fs-7">Chức vụ</nz-form-label>
                            <nz-form-control>
                                <input nz-input required name="Position" [value]="selectedEmployee?.ChucVuHD || ''"
                                    disabled />
                            </nz-form-control>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 pb-3">
                            <nz-form-label class="fs-12">
                                Ghi chú <span class="text-danger">(*)</span>
                            </nz-form-label>
                            <nz-form-control>
                                <textarea nz-input rows="4" placeholder="Nhập ghi chú" name="formNote"
                                    [(ngModel)]="formNote">
</textarea>
                            </nz-form-control>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <nz-form-label class="fs-12 fw-semibold mb-2">Cấp phát gồm</nz-form-label>
                        <div id="dataTbAssetManagement"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button nz-button nzType="default" nzDanger (click)="closeModal()">Đóng</button>
                <button nz-button nzType="primary" (click)="saveAllocationPersonal()">Cấp phát</button>
            </div>
        </div>
    </div>