.fs-12 {
  font-size: 0.75rem !important;
}

::ng-deep
  .slickgrid-container
  .slick-footerrow
  .slick-footerrow-columns
  .slick-footerrow-column {
  border-right: 1px solid #ddd !important;
}

.ant-splitter {
  height: 90vh !important;
}

::ng-deep .ant-card-body {
  padding: 2px !important;
}

::ng-deep .ant-card-head {
  padding-left: 6px !important;
  text-transform: uppercase;
}

::ng-deep div[id^="gridExport_"] {
  height: 85vh !important;
}

::ng-deep div[id^="gridImport_"] {
  height: 85vh !important;
}

