.filter-section {
  padding: 16px;
  background: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 16px;
}

.filter-section label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
}

.grid-container {
  width: 100%;
  height: calc(100vh - 300px);
  min-height: 400px;
}

::ng-deep .row-warning {
  background-color: #fff3cd !important;
}

::ng-deep .row-selected {
  background-color: #cce5ff !important;
}

::ng-deep .slick-row.row-warning:hover {
  background-color: #ffe69c !important;
}

::ng-deep .slick-row.row-selected:hover {
  background-color: #99d1ff !important;
}

