<ng-container class="w-100">
    <nz-splitter>
        <nz-splitter-panel [nzSize]="sizeSearch" nzResizable="false">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white p-1">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="m-0 ms-2">Tìm kiếm</h6>
                        <button type="button" class="btn-close" (click)="toggleSearchPanel()" aria-label="Close"
                            style="background-color:lightcyan !important; font-weight: bold;"></button>
                        <!-- <button class="border-0 me-2" nz-button nzSize="small" nzType="default" nzDanger
                            (click)="toggleSearchPanel()">
                            <nz-icon nzType="close" nzTheme="outline" />
                        </button> -->
                    </div>
                </div>
                <div class="card-body">
                    <form nz-form nzLayout="vertical">
                        <nz-form-item>
                            <nz-form-label class="fs-12" [nzSpan]="24">Người yêu cầu</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select name="employeeRequestId" class="w-100" nzShowSearch nzAllowClear
                                    nzPlaceHolder="Chọn người yêu cầu" [(ngModel)]="employeeRequestId">
                                    @for (parent of employeeRequests; track $index) {
                                    <nz-option-group [nzLabel]="parent.label">
                                        @for (child of parent.options; track $index) {
                                        <nz-option nzCustomContent="true" [nzLabel]="child.item.FullName"
                                            [nzValue]="child.item.EmployeeID">{{
                                            child.item.Code + " - " + child.item.FullName
                                            }}</nz-option>
                                        }
                                    </nz-option-group>
                                    }
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12 d-flex align-items-center">
                                Dự án
                            </nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select name="projectId" class="w-100" nzShowSearch nzAllowClear
                                    nzPlaceHolder="Chọn dự án" [(ngModel)]="projectId">
                                    <!-- Nội dung option của bạn ở đây -->
                                    @for (item of projects; track $index) {
                                    <nz-option nzCustomContent="true"
                                        [nzLabel]="item.ProjectCode + ' - ' + item.ProjectName" [nzValue]="item.ID">{{
                                        item.ProjectCode + " - " + item.ProjectName
                                        }}</nz-option>
                                    }
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12 d-flex align-items-center">
                                Nhà cung cấp
                            </nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select name="supplierId" class="w-100" nzShowSearch nzAllowClear
                                    nzPlaceHolder="Chọn nhà cung cấp" [(ngModel)]="supplierId">
                                    <!-- Nội dung option của bạn ở đây -->
                                    @for (item of suppliers; track $index) {
                                    <nz-option nzCustomContent="true" [nzLabel]="item.CodeNCC" [nzValue]="item.ID">{{
                                        item.CodeNCC
                                        }}</nz-option>
                                    }
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
                <div class="card-footer bg-white p-1 d-flex gap-1 justify-content-end">
                    <button nz-button nzType="default" nzSize="small" (click)="resetSearch()">
                        Đặt lại
                    </button>
                    <button nz-button nzType="primary" nzSize="small" (click)="getPriceHistoryPartlist()">Tìm
                        kiếm</button>
                </div>
            </div>
        </nz-splitter-panel>
        <nz-splitter-panel nzDefaultSize="100%">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white p-1 d-flex align-items-center justify-content-between">
                    <!-- Bên trái: Các nút hành động -->
                    <div class="d-flex gap-1">
                        <button nz-button nzType="default" nzSize="small" (click)="toggleSearchPanel()">
                            <nz-icon nzType="search" />
                        </button>
                        <button class="fs-12" nz-button nzType="default" nzSize="small" (click)="exportExcel()">
                            <img src="assets/icon/action_export_excel_16.png" alt="Xuất Excel" class="me-1" />Xuất excel
                        </button>
                    </div>

                    <!-- Bên phải: Tìm kiếm -->
                    <div class="d-flex gap-1 align-items-center">
                        <input nz-input nzSize="small" nzAllowClear placeholder="Nhập từ khóa" style="width: 250px"
                            [(ngModel)]="keyword" (keyup.enter)="getPriceHistoryPartlist()" />
                        <button nz-button nzType="default" nzSize="small" (click)="getPriceHistoryPartlist()"
                            class="btn">
                            <nz-icon nzType="search" />
                        </button>
                    </div>
                </div>
                <div class="card-body p-0 d-flex align-items-center justify-content-center" style="position: relative">
                    <div *ngIf="isLoadTable">
                        <nz-spin [nzSpinning]="isLoadTable" nzSimple [ngStyle]="{
                position: 'absolute',
                top: '0',
                left: '0',
                width: '100%',
                height: '100%',
                background: 'rgba(255,255,255,0.4)',
                zIndex: '999',
                display: 'flex',
                alignItems: 'center',
                justifyContent: 'center'
              }"></nz-spin>
                    </div>
                    <div class="border" #tb_priceHistory></div>
                </div>
            </div>
        </nz-splitter-panel>
    </nz-splitter>
</ng-container>