.fs-12 {
    font-size: 0.75rem;
  }
  
  .reset {
    all: revert;
  }
  
  .tabulator {
    font-size: 0.75rem;
    position: absolute;
    width: 100%;
  }
  
  .tabulator-cell {
    padding: 0px;
  }
  
  .inner-content {
    padding: 0 !important;
  }
  
  .ant-tabs-tab-btn {
    font-size: 0.75rem;
  }
  .ant-splitter {
    height: 93vh !important;
  }