:host {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
}

.fs-12 {
    font-size: 12px !important;
}

::ng-deep .grid-container-main .slick-header-menu-button {
    display: none !important;
}