<ng-container class="w-100">
  <nz-splitter>
    <!-- Search Panel -->
    <nz-splitter-panel [nzSize]="sizeSearch" nzResizable="false">
      <div class="card h-100 border-0 rounded-0">
        <div class="card-header bg-white p-1">
            <div class="d-flex justify-content-between align-items-center">
                <h6 class="m-0 ms-2">Tìm kiếm</h6>
                <button class="border-0 me-2" nz-button nzSize="small" nzType="default" nzDanger
                    (click)="toggleSearchPanel()">
                    <nz-icon nzType="close" nzTheme="outline" />
                </button>
            </div>
        </div>
        <div class="card-body">
          <form nz-form nzLayout="vertical">
            <!-- Năm -->
            <nz-form-item>
              <nz-form-label class="fs-12" [nzSpan]="24">Năm</nz-form-label>
              <nz-form-control>
                <nz-input-number
                  [(ngModel)]="searchParams.year"
                  name="year"
                  (ngModelChange)="onYearChange($event)"
                  [nzMin]="2024"
                  [nzMax]="9999"
                  class="w-100">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>

            <!-- Tháng -->
            <nz-form-item>
              <nz-form-label class="fs-12" [nzSpan]="24">Tháng</nz-form-label>
              <nz-form-control>
                <nz-input-number
                  [(ngModel)]="searchParams.month"
                  name="month"
                  (ngModelChange)="onMonthChange($event)"
                  [nzMin]="1"
                  [nzMax]="12"
                  class="w-100">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>

            <!-- Phòng ban -->
            <nz-form-item class="mt-2">
              <nz-form-label class="fs-12" [nzSpan]="24">Phòng ban</nz-form-label>
              <nz-form-control>
                <nz-select
                  [(ngModel)]="searchParams.departmentId"
                  name="departmentId"
                  (ngModelChange)="onDepartmentChange($event)"
                  nzPlaceHolder="Chọn phòng ban"
                  class="w-100">
                  <nz-option
                    *ngFor="let dept of dataDeparment"
                    [nzValue]="dept.ID"
                    [nzLabel]="dept.Name">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <!-- Từ khóa -->
            <nz-form-item class="mt-2">
              <nz-form-label class="fs-12" [nzSpan]="24">Từ khóa</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  [(ngModel)]="searchParams.keyword"
                  name="keyword"
                  (ngModelChange)="onKeywordChange($event)"
                  placeholder="Nhập từ khóa...">
              </nz-form-control>
            </nz-form-item>
          </form>
          
          <div class="card-footer bg-white p-1 d-flex gap-1 justify-content-end">
            <button nz-button nzType="default" nzSize="small">Đặt lại</button>
            <button nz-button nzType="primary" nzSize="small" (click)="getdataDKVPP()">Tìm kiếm</button>
          </div>
        </div>
      </div>
    </nz-splitter-panel>

    <!-- Main Content -->
    <nz-splitter-panel nzDefaultSize="100%">
      <div class="card h-100 border-0 rounded-0">
        <div class="card-header bg-white p-1">
          <div class="d-flex gap-1">
            <button nz-button nzType="default" nzSize="small" (click)="toggleSearchPanel()">
              <nz-icon nzType="search" />
            </button>
            <button class="fs-12" nz-button nzType="default" nzSize="small">
              <nz-icon nzType="plus" /> Thêm
            </button>
            <button class="fs-12" nz-button nzType="default" nzSize="small">
              <nz-icon nzType="edit" nzTheme="fill" />Sửa
            </button>
            <button class="fs-12" nz-button nzType="default" nzSize="small">
              <nz-icon nzType="delete" nzTheme="fill" />Xóa
            </button>
            <button class="fs-12" nz-button nzType="primary" nzSize="small" (click)="IsAdminApproved()">
              <i nz-icon nzType="check"></i> Admin duyệt
            </button>
            <button class="fs-12" nz-button nzSize="small" nzDanger (click)="UnAdminApproved()">
              <i nz-icon nzType="close"></i> Admin hủy
            </button>
            <button class="fs-12" nz-button nzType="primary" nzSize="small" (click)="IsApproved()">
              <i nz-icon nzType="check"></i> TBP duyệt
            </button>
            <button  class="fs-12"nz-button nzSize="small" nzDanger  (click)="UnIsApproved()">
              <i nz-icon nzType="close" ></i> TBP hủy
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <nz-splitter nzLayout="vertical">
            <nz-splitter-panel>
              <div id="datatable1" class="custom-tabulator"></div>
            </nz-splitter-panel>
            <nz-splitter-panel>
              <div id="datatable2" class="custom-tabulator"></div>
            </nz-splitter-panel>
          </nz-splitter>
          <!-- <nz-splitter> -->
            <!-- First Table -->
            <!-- <nz-splitter-panel nzSize="" [nzCollapsible]="true" nzResizable="true">
              <div id="datatable1" class="custom-tabulator"></div>
            </nz-splitter-panel> -->

            <!-- Second Table -->
            <!-- <nz-splitter-panel [nzCollapsible]="true" nzResizable="true">
              <div id="datatable2" class="custom-tabulator"></div>
            </nz-splitter-panel> -->
          <!-- </nz-splitter> -->
          
        </div>
      </div>
    </nz-splitter-panel>
  </nz-splitter>
</ng-container>