:host {
    font-size: 12px !important;
}

.card {
    height: 100%;
}

.card-header {
    flex-shrink: 0;
}

.card-body {
    flex-grow: 1;
    overflow: hidden;
}

nz-form-label {
    font-size: 12px;
    font-weight: 500;
}

:host ::ng-deep .ant-tabs-content {
    height: calc(100% - 46px);
}

:host ::ng-deep .ant-tabs-tabpane {
    height: 100%;
}

:host ::ng-deep nz-tabset.approval-tabs .ant-tabs-tab-btn {
    padding: 4px !important;
    padding-left: 12px !important;
    font-size: 12px !important;
    font-weight: 600;
}

/* PrimeNG Table Customization */
:host ::ng-deep .custom-table .p-datatable-thead>tr>th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: 600;
    font-size: 12px !important;
    padding: 0.5rem !important;
    user-select: text !important;
    /* Cho phép bôi đen copy tiêu đề */
}

:host ::ng-deep .custom-table .p-datatable-tbody>tr>td {
    font-size: 12px !important;
    padding: 0.4rem 0.5rem !important;
    /* user-select: text !important; */
    /* Bỏ comment nếu muốn cho phép bôi đen toàn bộ data */
}

/* Hiệu ứng hover cho mã biên bản dạng link */
.text-primary.cursor-pointer:hover {
    text-decoration: underline !important;
    color: #2f924d !important;
}

:host ::ng-deep .p-button.p-button-sm {
    padding: 0.25rem 0.5rem;
    font-size: 12px;
}

:host ::ng-deep .p-checkbox .p-checkbox-box {
    width: 16px;
    height: 16px;
}