.fs-12 {
  font-size: 0.75rem;
}

.reset {
  all: revert;
}

.tabulator {
  font-size: 0.75rem;
}

.tabulator-cell {
  padding: 0px;
}

.inner-content {
  padding: 0 !important;
}

.ant-tabs-tab-btn {
  font-size: 0.75rem;
}
::ng-deep .ant-select-item-option-content {
  color: black !important;
}

::ng-deep .ant-select-selection-item {
  color: black !important;
}
#customTabContent{
  height: 90vh;
}
.table-container{
  height: 90vh;
}

.card-header {
  overflow-x: auto;
}

.card-header .d-flex {
  flex-wrap: nowrap;
  min-width: fit-content;
}

