<ng-container class="w-100">
    <nz-splitter>
        <nz-splitter-panel [nzSize]="sizeSearch" nzResizable="false">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white p-1">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="m-0 ms-2">Tìm kiếm</h6>
                        <button class="border-0 me-2" nz-button nzSize="small" nzType="default" nzDanger
                            (click)="ToggleSearchPanel()">
                            <nz-icon nzType="close" nzTheme="outline" />
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form nz-form nzLayout="vertical">
                        <nz-form-item>
                            <nz-form-label class="fs-12" [nzSpan]="24">Từ ngày</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-date-picker [(ngModel)]="filters.dateStart" name="dateStart" nzFormat="dd/MM/yyyy" class="w-100"
                                    nzSize="small"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Đến ngày</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-date-picker [(ngModel)]="filters.dateEnd" name="dateEnd" nzFormat="dd/MM/yyyy" class="w-100"
                                    nzSize="small"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Trạng thái</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select class="w-100" [(ngModel)]="filters.statusRequest" nzShowSearch nzAllowClear
                                    nzSize="small" name="statusRequest" nzPlaceHolder="trạng thái">
                                    <nz-option [nzValue]="1" nzLabel="Tất cả"></nz-option>
                                    <nz-option [nzValue]="2" nzLabel="Yêu cầu báo giá"></nz-option>
                                    <nz-option [nzValue]="3" nzLabel="Đã báo giá"></nz-option>
                                    <nz-option [nzValue]="4" nzLabel="Đã hoàn thành"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Chọn dự án</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select class="w-100" [(ngModel)]="filters.projectId" name="projectId" nzShowSearch nzAllowClear
                                    nzSize="small" nzPlaceHolder="Chọn dự án">
                                    <nz-option *ngFor="let item of dtproject"
                                        [nzLabel]="item.ProjectCode + '--' + item.ProjectName"
                                        [nzValue]="item.ID"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Từ khóa</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <input nz-input placeholder="Nhập từ khóa" nzSize="small" [(ngModel)]="filters.keyword" name="keyword" />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">PO:</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select class="w-100" nzShowSearch nzAllowClear
                                    nzPlaceHolder="Chọn PO" nzSize="small" [(ngModel)]="filters.poKHID" name="poKHID">
                                    <nz-option *ngFor="let item of dtPOKH" [nzLabel]="item.POCode"
                                        [nzValue]="item.ID"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
                <div class="card-footer bg-white p-1 d-flex gap-1 justify-content-end">
                    <button nz-button nzType="default" nzSize="small" (click)="ResetFilters()">
                        Đặt lại
                    </button>
                    <button nz-button nzType="primary" nzSize="small" (click)="ApplyFilters()">
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </nz-splitter-panel>
        <nz-splitter-panel nzDefaultSize="100%">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white p-1">
                    <div class="d-flex gap-1">
                        <button nz-button nzType="default" nzSize="small" (click)="ToggleSearchPanel()">
                            <nz-icon nzType="search" />
                        </button>
                        <button class="fs-12" nz-button nzType="default" (click)="OnAddClick()" nzSize="small">
                            <nz-icon nzType="plus" /> Thêm
                        </button>
                        <button class="fs-12" nz-button nzType="default" (click)="OnEditClick()" nzSize="small">
                            <nz-icon nzType="edit" nzTheme="fill" />Sửa
                        </button>
                        <button class="fs-12" nz-button nzType="default" (click)="OnSaveData()" nzSize="small">
                            <nz-icon nzType="save" nzTheme="fill" />Lưu dữ liệu
                        </button>
                        <button class="fs-12" nz-button nzType="default" (click)="CheckPrice(true)" nzSize="small">
                            <nz-icon nzType="schedule" nzTheme="fill" />Check giá
                        </button>
                        <button class="fs-12" nz-button nzType="default" (click)="QuotePrice()" nzSize="small">
                            <nz-icon nzType="dollar-circle" nzTheme="fill" />Báo giá
                        </button>
                        <button class="fs-12" nz-button nzType="default" (click)="QuotePrice(1)" nzSize="small">
                            <nz-icon nzType="close-circle" nzTheme="fill" />Hủy báo giá
                        </button>
                        <button class="fs-12" nz-button nzType="default" (click)="QuotePrice(3)" nzSize="small">
                            <nz-icon nzType="check-square" nzTheme="fill" />Hoàn thành
                        </button>
                        <button class="fs-12" nz-button nzType="default" (click)="QuotePrice(0)" nzSize="small">
                            <nz-icon nzType="close-square" nzTheme="fill" />Hủy hoàn thành
                        </button>
                        <button class="fs-12" nz-button nzType="default" (click)="OnDeleteClick()" nzSize="small">
                            <nz-icon nzType="delete" nzTheme="fill" />Xóa
                        </button>
                        <button class="fs-12" nz-button nzType="default" (click)="DownloadFile()" nzSize="small">
                            <nz-icon nzType="file-zip" nzTheme="fill" />Tải xuống
                        </button>
                        <button class="fs-12" nz-button nzType="default" nzSize="small">
                            <nz-icon nzType="plus-circle" nzTheme="fill" />Thêm nhà cung cấp
                        </button>
                                <button class="fs-12" nz-button nzType="default" nzSize="small">
                            <nz-icon nzType="plus-circle" nzTheme="fill" />Yêu cầu mua
                        </button>
                                                <button class="fs-12" nz-button nzType="default" nzSize="small">
                            <nz-icon nzType="plus-circle" nzTheme="fill" />Nhập Excel
                        </button>
                        <div class="btn-group">
                            <button class="fs-12" nz-button nzType="default" nzSize="small" nz-dropdown
                                [nzDropdownMenu]="menu">
                                <nz-icon nzType="file-excel" nzTheme="fill" />Xuất Excel
                                <i nz-icon nzType="down"></i>
                            </button>

                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu>
                                    <li nz-menu-item (click)="ExportToExcelAdvanced()">
                                        <i nz-icon nzType="check" nzTheme="outline" class="me-2"></i>Theo dòng đã
                                        chọn
                                    </li>
                                    <li nz-menu-item (click)="ExportToExcelTab()">
                                        <i nz-icon nzType="file" nzTheme="outline" class="me-2"></i>Trang hiện
                                        tại
                                    </li>
                                    <li nz-menu-item (click)="ExportAllTabsToExcel()">
                                        <i nz-icon nzType="global" nzTheme="outline" class="me-2"></i>Tất cả
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </div>

                    </div>
                </div>
                <div class="card-body p-0">
                    <nz-splitter>
                        <nz-splitter-panel nzSize="" [nzCollapsible]="true" nzResizable="true">
                            <div class="custom-tabs-container">
                                <ul class="nav nav-tabs" id="customTab" role="tablist">
                                    <li class="nav-item" role="presentation"
                                        *ngFor="let type of projectTypes; let i = index">
                                        <a class="nav-link" [class.active]="activeTabId === type.ProjectTypeID"
                                            [id]="'tab-' + type.ProjectTypeID" data-bs-toggle="tab"
                                            [href]="'#pane-' + type.ProjectTypeID" role="tab"
                                            [attr.aria-controls]="'pane-' + type.ProjectTypeID"
                                            [attr.aria-selected]="activeTabId === type.ProjectTypeID"
                                            (click)="SelectProjectType(type.ProjectTypeID)">
                                            {{ type.ProjectTypeName }}
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content p-0" id="customTabContent">
                                    <div class="tab-pane fade" *ngFor="let type of projectTypes"
                                        [class.show]="activeTabId === type.ProjectTypeID"
                                        [class.active]="activeTabId === type.ProjectTypeID"
                                        [id]="'pane-' + type.ProjectTypeID" role="tabpanel"
                                        [attr.aria-labelledby]="'tab-' + type.ProjectTypeID">
                                        <div class="table-container p-1">
                                            <div [id]="'datatable-' + type.ProjectTypeID"
                                                class="tabulator-container container-fluid p-0"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nz-splitter-panel>
                    </nz-splitter>
                </div>
            </div>
        </nz-splitter-panel>
    </nz-splitter>
</ng-container>
<app-project-partlist-price-request-form *ngIf="showDetailModal" [dataInput]="modalData"
    (formSubmitted)="OnFormSubmit()" (closeModal)="showDetailModal = false">
</app-project-partlist-price-request-form>
