.fs-12 {
    font-size: 0.75rem;
}

.reset {
    all: revert;
}

.inner-content {
    padding: 0 !important;
}

.ant-tabs-tab-btn {
    font-size: 0.75rem;
}

.ant-splitter {
    height: 89vh !important;
}

::ng-deep [id^="inventoryProjectGrid-"] {
  height: 82vh !important;
}

::ng-deep
  .slickgrid-container
  .slick-footerrow
  .slick-footerrow-columns
  .slick-footerrow-column {
  border-right: 1px solid #ddd !important;
  justify-content: end !important;
}

/* Căn phải pagination */
::ng-deep .slick-pagination {
  display: flex;
  justify-content: end;
}

::ng-deep .slick-pagination-count,
::ng-deep .text-item-per-page {
  display: none !important;
}

