::ng-deep #inventoryProjectProductSaleLinkGrid {
  height: 86.5vh !important;
}

.fs-12 {
  font-size: 0.75rem !important;
}

.grid-container {
  width: 100%;
  height: 100%;
}

::ng-deep
  .slickgrid-container
  .slick-footerrow
  .slick-footerrow-columns
  .slick-footerrow-column {
  border-right: 1px solid #ddd !important;
}
