<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null" nzTheme="light">
        <div class="sidebar-logo" nzTheme="light">
            <a routerLink="/home">
                <img src="assets\images\logo-RTC-2023-1200-banchuan.png" alt="logo" />
                <!-- <h1>RTC</h1> -->
            </a>
        </div>
        <!-- <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="false">

            <li nz-submenu nzOpen nzTitle="CRM" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a (click)="newTab(CustomerComponent,'Khách hàng')">Khách hàng</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="ProductRTC" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a (click)="newTab(ProductRtcComponent,'ProductRTC')">ProductRTC</a>
                    </li>

                </ul>
            </li>
            @if (isDatcom) {
            <li nz-submenu nzOpen nzTitle="DỰ ÁN" nzIcon="dashboard">
                <ul>


                    <li nz-menu-item nzMatchRouter>
                        <a (click)="newTab(ProjectComponent,'Dự án')">Dự án</a>
                    </li>
                </ul>
            </li>
            }
        </ul> -->
        <!-- <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="false">
            <ng-container *ngFor="let m of menus">
              
                <li nz-submenu *ngIf="isGroup(m) && m.isOpen" nzOpen [nzTitle]="m.title" [nzIcon]="m.icon ?? null">
                    <ul>
                        <li nz-menu-item *ngFor="let c of m.children" nzMatchRouter>
                            <a (click)="newTab(c.comp, c.title)">
                                <nz-icon *ngIf="c.icon" [nzType]="c.icon"></nz-icon>
                                <span class="ms-1">{{ c.title }}</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li nz-submenu *ngIf="isLeaf(m) && m.isOpen" nzOpen [nzTitle]="m.title" [nzIcon]="m.icon ?? null">
                    <ul>
                        <li nz-menu-item nzMatchRouter>
                            <a (click)="newTab(m.comp, m.title)">{{ m.title }}</a>
                        </li>
                    </ul>
                </li>
            </ng-container>
        </ul> -->
        <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="false" [nzInlineIndent]="20">
            <ng-container *ngFor="let m of menus; trackBy: trackKey">

                <!-- CẤP 1: GROUP -->
                <li nz-submenu *ngIf="isGroup(m) && m.isOpen" [nzOpen]="true" [nzTitle]="groupTitle">
                    <ng-template #groupTitle>
                        <span class="menu-title">
                            <span class="icon-slot icon-20"><img *ngIf="m.icon" [src]="m.icon"
                                    class="menu-icon" /></span>
                            <span>{{ (m.title || '').toUpperCase() }}</span>
                        </span>
                    </ng-template>

                    <!-- CẤP 2 -->
                    <ul>
                        <ng-container *ngFor="let c of (m.children || []); trackBy: trackKey">

                            <!-- Cấp 2: GROUP -->
                            <li nz-submenu *ngIf="isGroup(c)" [nzOpen]="true" [nzTitle]="cTitle">
                                <ng-template #cTitle>
                                    <span class="menu-title">
                                        <span class="icon-slot icon-14"><img *ngIf="c.icon" [src]="c.icon"
                                                class="menu-icon-sm" /></span>
                                        <span class="menu-label">{{ c.title?.charAt(0) | uppercase }}{{
                                            c.title?.slice(1) | lowercase }}</span>
                                    </span>
                                </ng-template>

                                <!-- CẤP 3 -->
                                <ul>
                                    <ng-container *ngFor="let g of (c.children || []); trackBy: trackKey">

                                        <!-- Cấp 3: LEAF -->
                                        <ng-container *ngIf="isLeaf(g)">
                                            <li nz-menu-item (click)="newTab(g.comp, g.title)" class="ps-4">
                                                <span class="icon-slot icon-14"><img *ngIf="g.icon" [src]="g.icon"
                                                        class="menu-icon-sm" /></span>
                                                <span class="menu-label">{{ g.title?.charAt(0) | uppercase }}{{
                                                    g.title?.slice(1) | lowercase }}</span>
                                            </li>
                                        </ng-container>

                                        <!-- (tuỳ chọn) Cấp 3: GROUP nữa nếu muốn sâu hơn -->
                                        <!--
                <ng-container *ngIf="isGroup(g)">
                  <li nz-submenu [nzOpen]="true" [nzTitle]="g.title">
                    <ul> ... (lặp tương tự nếu cần cấp 4+) ... </ul>
                  </li>
                </ng-container>
                -->

                                    </ng-container>
                                </ul>
                            </li>

                            <!-- Cấp 2: LEAF -->
                            <ng-container *ngIf="isLeaf(c)">
                                <li nz-menu-item (click)="newTab(c.comp, c.title)" class="ps-4">
                                    <span class="icon-slot icon-14"><img *ngIf="c.icon" [src]="c.icon"
                                            class="menu-icon-sm" /></span>
                                    <span class="menu-label">{{ c.title?.charAt(0) | uppercase }}{{ c.title?.slice(1) |
                                        lowercase }}</span>
                                </li>
                            </ng-container>

                        </ng-container>
                    </ul>
                </li>

                <!-- CẤP 1: LEAF -->
                <ng-container *ngIf="isLeaf(m) && m.isOpen">
                    <li nz-menu-item (click)="newTab(m.comp, m.title)">
                        <span class="icon-slot icon-20"><img *ngIf="m.icon" [src]="m.icon" class="menu-icon" /></span>
                        <span class="menu-label">{{ m.title?.charAt(0) | uppercase }}{{ m.title?.slice(1) | lowercase
                            }}</span>
                    </li>
                </ng-container>

            </ng-container>
        </ul>

        <!--Không được xóa-->
        <!-- LEAF -->
        <!-- <li nz-submenu *ngIf="isLeaf(m) && m.isOpen" [nzOpen]="true" [nzTitle]="leafTitle">
      <ng-template #leafTitle>
        <span class="menu-title">
          <img *ngIf="m.icon" [src]="m.icon" class="menu-icon" />
          <span>{{ m.title }}</span>
        </span>
      </ng-template>

      <ul>
        <li nz-menu-item nzMatchRouter>
          <a (click)="newTab(m.comp, m.title)">{{ m.title }}</a>
        </li>
      </ul>
    </li> -->


    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">

                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <nz-icon class="trigger text-light" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
                </span>
                <div style="width: 100%; max-width: 100%; overflow: auto" class="app-header-tabs">
                    <!-- <nz-tabset nzLinkRouter (nzClose)="closeTab($event)" nzType="editable-card" nzHideAdd
                        [(nzSelectedIndex)]="selectedIndex" [nzSize]="'small'">
                        @for (tab of dynamicTabs; track tab.title) {
                        <nz-tab nzClosable>
                            <a *nzTabLink nz-tab-link [routerLink]="tab.routerLink"
                                [queryParams]="tab.queryParams ?? {}" queryParamsHandling="merge" class="text-light">
                                {{ tab.title }}
                            </a>
                        </nz-tab>
                        }a thaqo 
                    </nz-tabset> -->
                    <nz-tabset nzType="editable-card" nzHideAdd [(nzSelectedIndex)]="selectedIndex"
                        (nzClose)="closeTab($event)">
                        <nz-tab *ngFor="let tab of dynamicTabs" [nzTitle]="tab.title" [nzClosable]="true">

                        </nz-tab>
                    </nz-tabset>
                </div>
                <div class="header-trigger">
                    <button nz-button nz-dropdown [nzDropdownMenu]="appmenu" nzPlacement="bottomRight" nzType="text"
                        class=" text-light">
                        <nz-icon nzType="appstore" nzTheme="outline" />
                    </button>
                    <!-- <nz-dropdown-menu #appmenu="nzDropdownMenu">
                        <div class="app-launcher">
                            <div class="app-launcher-inner">
                                <a (click)="isDatcom = !isDatcom">
                                    <img src="assets/icon/online-shop.gif">
                                    <span>Đặt cơm</span>
                                </a>
                            </div>
                        </div>
                    </nz-dropdown-menu> -->
                    <nz-dropdown-menu #appmenu="nzDropdownMenu">
                        <div class="app-launcher">
                            <div class="app-launcher-inner">
                                @for (m of menus; track m.key) {
                                <a (click)="toggleMenu(m.key)" [class.active]="isMenuOpen(m.key)"
                                    *ngIf="m.isPermission">
                                    <img [src]="m.icon?.replace('24','64')" />
                                    <span>{{m.title}}</span>
                                </a>
                                }

                                <!-- <a (click)="toggleMenu('warehouse')" [class.active]="isMenuOpen('warehouse')">
                                    <img src="assets/icon/menu_warehouse_64.png" />
                                    <span>KHO</span>
                                </a>
                                <a (click)="toggleMenu('hrm')" [class.active]="isMenuOpen('hrm')">
                                    <img src="assets/icon/menu_hrm_64.png" />
                                    <span>HRM</span>
                                </a>
                                <a (click)="toggleMenu('categories')" [class.active]="isMenuOpen('categories')">
                                    <img src="assets/icon/menu_categories_64.png" />
                                    <span>DANH MỤC CHUNG</span>
                                </a>
                                <a (click)="toggleMenu('project')" [class.active]="isMenuOpen('project')">
                                    <img src="assets/icon/menu_project_64.png" />
                                    <span>DỰ ÁN</span>
                                </a> -->
                            </div>
                        </div>
                    </nz-dropdown-menu>

                    <app-app-notifycation-dropdown [items]="notifItems" (itemClick)="onPick($event)">
                        <button nz-button nzType="text" class="text-light fs-7" trigger>
                            <nz-badge [nzOverflowCount]="9" [nzCount]="notifItems.length" class="fs-7">
                                <img src="assets/icon/notification.png" class="bell-icon">
                            </nz-badge>
                        </button>
                    </app-app-notifycation-dropdown>
                    <app-app-user-dropdown>
                        <button nz-button nzType="text" trigger>
                            <img src="assets/icon/user.png">
                        </button>
                    </app-app-user-dropdown>
                </div>
            </div>
        </nz-header>
        <nz-content class="">

            <div class="content-host">
                <ng-container *ngFor="let tab of dynamicTabs; let i = index">
                    <div [hidden]="selectedIndex !== i" class="tab-pane">
                        <ng-container *ngComponentOutlet="tab.comp; injector: tab.injector">
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </nz-content>
        <!-- <nz-footer class="p-2 text-uppercase"> &copy; 2025, made by rtc technology việt nam</nz-footer> -->
    </nz-layout>
</nz-layout>