:host {
  /* display: flex; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Bôi màu cho tab thêm ngon hehehe */
::ng-deep .app-header-tabs>.ant-tabs .ant-tabs-tab .ant-tabs-tab-btn {
  color: #c6c6c6;
  text-transform: uppercase;
}

::ng-deep .app-header-tabs>.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #f3f3f3;
  text-transform: uppercase;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.header-trigger {
  /* height: 64px; */
  padding: 0 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}

.trigger:hover {
  color: #23458a;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  /* padding-left: 24px; */
  overflow: hidden;
  line-height: 64px;
  /* background: #001529; */
  transition: all 0.3s;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.sidebar-logo img {
  display: inline-block;
  /* height: 32px; */
  width: 50%;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 40px;
  padding: 0;
  background: #23458a;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

nz-content {
  margin: 0.5rem;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout {
  min-height: 100vh;
}

nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
}

::ng-deep .ant-tabs>.ant-tabs-nav,
.ant-tabs>div>.ant-tabs-nav {
  margin: 0 !important;
  overflow: hidden !important;
}

::ng-deep .ant-layout-header {
  height: 40px !important;
}

::ng-deep .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab {
  border: unset;
  border-radius: unset;
  font-size: 0.75rem;
}

::ng-deep .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab:not(.ant-tabs-tab-active) {
  border: unset;
  border-radius: unset;
  background-color: transparent;
}

::ng-deep .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
  background-color: #ef4723 !important;
  padding: 7px 16px !important;
}

::ng-deep .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab,
.ant-tabs-card.ant-tabs-bottom>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab,
.ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab,
.ant-tabs-card.ant-tabs-bottom>div>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab {
  margin: 0 !important;
}

::ng-deep .ant-tabs>.ant-tabs-nav,
.ant-tabs>div>.ant-tabs-nav {
  position: static !important;
}

::ng-deep .ant-tabs-tab-remove {
  color: #fff !important;
}

::ng-deep .ant-tabs-card.ant-tabs-small>.ant-tabs-nav .ant-tabs-tab {
  padding: 8px 16px !important;
  font-size: 0.75rem !important;
}

::ng-deep .ant-dropdown-trigger .ant-tabs-nav-more .anticon {
  color: white !important;
}

::ng-deep .nz-tabs-dropdown.ant-dropdown .ant-dropdown-menu {
  background-color: #23458a !important;
}

::ng-deep .nz-tabs-dropdown.ant-dropdown .ant-dropdown-menu-item:hover {
  background-color: #ef4723 !important;
}

.app-launcher {
  width: 360px;
  background: #ffffff;
  border: 1px solid #ffffff;
  /* viền 2px màu xanh */
  border-radius: 2px;
  overflow: hidden;
  /* cắt nội dung lòi ra ngoài */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-launcher-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 12px;
  /* max-height: 330px; */
  overflow-y: auto;
  /* chỉ lớp con scroll */
}

.app-launcher-inner::-webkit-scrollbar {
  width: 6px;
}

.app-launcher-inner::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.app-launcher a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  border-radius: 8px;
  transition: background 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  height: 100px;
}

.app-launcher a img {
  width: 50%;
}

.app-launcher a:hover {
  background: #ef4723;
  color: #fff;
}

/* .app-launcher a:hover img {
  transform: scale(1.08);
} */

.app-launcher-inner a.active {
  background: #ef4723;
  color: #fff;
}

.notif-dropdown {
  min-width: 423px;
  max-height: 570px;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notif-header {
  padding: 12px;
  font-size: 16px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notif-count {
  font-size: 12px;
  color: #999;
}

.notif-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  cursor: pointer;
  border: 1px solid #b9b9b9;
}

.notif-item:hover {
  background: #f5f5f5;
}

.notif-footer {
  padding: 10px;
  text-align: center;
  font-size: 13px;
  color: #1890ff;
  border-top: 1px solid #f0f0f0;
  cursor: pointer;
}

.notif-footer:hover {
  background: #f0f0f0;
}

.notif-item img {
  width: 42px;
  height: 42px;
}

.notif-text {
  flex: 1;
  /* text chiếm phần còn lại */
  font-size: 14px;
}

.notif-time {
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  /* không xuống dòng */
}

:host ::ng-deep .ant-badge-count {
  font-size: 8px;
  /* chữ nhỏ hơn */
  min-width: 14px;
  /* thu hẹp nền tròn */
  height: 14px;
  /* thu hẹp chiều cao */
  line-height: 14px;
  /* căn giữa số */
  padding: 0 3px;
  /* giảm padding */
}

.user-icon {
  width: 24px;
  height: 24px;
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}

.menu-title,
.menu-item-flex {
  display: inline-flex;
  align-items: center;
}

/* Ô chứa icon, luôn chiếm chỗ */
.icon-slot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  flex: 0 0 auto;
}

.icon-20 {
  width: 20px;
  height: 20px;
}

.icon-14 {
  width: 14px;
  height: 14px;
}

/* Ảnh icon thật */
/* .menu-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
} */

.menu-icon-sm {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

/* Nhãn */
.menu-label {
  white-space: nowrap;
}

/* Bỏ margin cũ để không lệch khi không có ảnh */
/* .menu-icon,
.menu-icon-sm {
  margin-right: 0;
} */

::ng-deep .ant-menu {
  font-size: 0.75rem !important;
  text-transform: uppercase;
}

::ng-deep .ant-menu-inline.ant-menu-root .ant-menu-item {
  white-space: pre-line;
  line-height: normal !important;
}

::ng-deep .ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content {
  white-space: pre-line;
  line-height: normal !important;
  /* font-weight: bold; */
}

::ng-deep .ant-menu-vertical .ant-menu-submenu .menu-icon {
  width: 100% !important;
}

::ng-deep .ant-layout-sider-collapsed .sidebar-logo {
  /* background-color: #1a73e8; */
  height: 40px !important;
}

::ng-deep .ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content {
  line-height: 1.5em !important;

  display: flex;
  /* justify-content: center; */
  align-items: center;
}


/*start style active menu */

::ng-deep .ant-menu-submenu-selected {
  color: #ef4723 !important;
}

::ng-deep .ant-menu-item-selected {
  color: #ef4723 !important;
}

::ng-deep .ant-menu-light .ant-menu-item:hover {
  color: #ef4723 !important;
}

::ng-deep .ant-menu-submenu-title:hover {
  color: #ef4723 !important;
}

::ng-deep .ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #ef4723 !important;
}

::ng-deep .ant-menu-light .ant-menu-item::before {
  content: icon;
}

/*end style active menu */

::ng-deep .cdk-overlay-pane .ant-menu-submenu-title {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
}

::ng-deep .cdk-overlay-pane .ant-menu-submenu-title img.menu-icon {
  width: 10% !important;
  /* filter: brightness(0) invert(1); */
}

::ng-deep .cdk-overlay-pane .ant-menu-submenu-title p {
  /* color: #fff; */
  margin: 0;
  white-space: unset !important;
}


.hidden-tab-header ::ng-deep .ant-tabs-nav {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.blink-text {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Sidebar Footer Positioning */
.menu-sidebar ::ng-deep .ant-layout-sider-children {
  display: flex !important;
  flex-direction: column !important;
}

.menu-sidebar ul[nz-menu] {
  flex: 1 !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.sidebar-footer {
  flex-shrink: 0;
  padding: 10px !important;
  border-top: 1px solid #f0f0f0;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}