.modal-header {
    flex-shrink: 0;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}

.modal-footer {
    flex-shrink: 0;
}

.text-end {
    text-align: right;
}

nz-form-label {
    font-size: 12px;
    font-weight: 500;
}

input[disabled] {
    background-color: #f5f5f5;
}
