<div class="modal-header bg-primary p-2">
  <h6 class="modal-title text-white" id="unitModalLabel">
    Loại tài sản
  </h6>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <form class="row g-3">
    <div class="col-md-12">
      <label for="unitNameInput" class="form-label">Mã loại tài sản</label>
      <nz-input-group >
        <input id="unitNameInput" nz-input name="assetCode" [(ngModel)]="assetCode" placeholder="Nhập mã loại tài sản" />
        <ng-template #prefixIcon><i nz-icon nzType="apartment"></i></ng-template>
      </nz-input-group>
    </div>
    <div class="col-md-12">
      <label for="unitNameInput" class="form-label">Loại tài sản</label>
      <nz-input-group >
        <input id="unitNameInput" nz-input name="unitName" [(ngModel)]="assetType" placeholder="Nhập loại tài sản" />
        <ng-template #prefixIcon><i nz-icon nzType="apartment"></i></ng-template>
      </nz-input-group>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button nz-button nzType="default" (click)="close()">Đóng</button>
  <button nz-button nzType="primary" (click)="saveAssetType()">Lưu dữ liệu
  </button>
</div>