<div style="display: flex; flex-direction: column; height: 90vh; position: relative;">
    <div class="modal-header bg-primary text-uppercase py-2">
        <h6 class="modal-title text-white">YÊU CẦU XUẤT HÓA ĐƠN</h6>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form>
            <div #tb_Master id="tb_Master"></div>
        </form>
        <div class="modal-footer py-1">
            <button nz-button nzType="default" nzDanger="true" nzSize="default" (click)="closeModal()">Đóng</button>
            <button nz-button nzType="primary" nzSize="default" (click)="saveAndClose()">Lưu</button>

        </div>
    </div>
</div>