.reset {
    all: revert;
}

.tabulator {
  font-size: 0.75rem;
  /* border: 1px solid !important; */
}

.tabulator-cell {
  padding: 0px;
}

.fs-12 {
  font-size: 0.75rem;
}
/* .custom-border {
  border: 1px ;
  border-radius: 4px;        
  padding: 16px;           
  transition: all 0.3s;     

} */

/* Đảm bảo empty state hiển thị đúng trong bảng */
::ng-deep .ant-table-tbody > tr.ant-table-placeholder {
  height: calc(81vh - 100px) !important;
}

::ng-deep .ant-table-tbody > tr.ant-table-placeholder td {
  height: calc(81vh - 100px) !important;
  vertical-align: middle !important;
}

/* CSS cho ô empty state tự vẽ */
.empty-state-cell {
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  color: #999;
  height: calc(81vh - 100px);
  padding: 0;
  border-style: solid;
}

