::ng-deep nz-splitter {
  height: 95vh !important;
}

::ng-deep .ant-splitter {
  height: 95vh !important;
}

/* Fix nested modal z-index issue */
#addEmployeeTeamModal {
  z-index: 9999 !important;
}

#addEmployeeTeamModal .modal-dialog {
  z-index: 10000 !important;
}

/* Ensure modal content is always on top */
#addEmployeeTeamModal .modal-content {
  z-index: 10001 !important;
  position: relative;
}
/* ::ng-deep .tabulator .tabulator-header .tabulator-col{
  height: auto !important;
} */