:host {
  font-size: 10px !important;
}

:host * {
  font-size: 10px !important;
}

::ng-deep .p-menubar {
  font-size: 10px !important;
}

::ng-deep .p-menubar .p-menuitem-text {
  font-size: 10px !important;
}

::ng-deep .p-treetable {
  font-size: 10px !important;
}

::ng-deep .p-treetable .p-treetable-tbody > tr > td {
  font-size: 10px !important;
  padding: 2px 4px !important;
}

::ng-deep .p-treetable .p-treetable-thead > tr > th {
  font-size: 10px !important;
  padding: 2px 4px !important;
}

::ng-deep .p-datatable {
  font-size: 10px !important;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  font-size: 10px !important;
  padding: 2px 4px !important;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  font-size: 10px !important;
  padding: 2px 4px !important;
}

.fs-10 {
  font-size: 10px !important;
}