:host {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.card {
    max-height: 100%;
}

::ng-deep .ant-spin-nested-loading,
::ng-deep .ant-spin-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

::ng-deep .ant-spin-container {
    overflow: hidden;
}

::ng-deep .tabulator {
    border: none;
    background-color: transparent;
}