<div class="modal-dialog-scrollable">
  <div class="modal-header bg-primary align-items-center ps-2 d-flex">
    <h6 class="text-light text-uppercase m-0">
      TỔNG HỢP chi tiết báo giá khách hàng
    </h6>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.close()"
    ></button>
  </div>

  <div class="modal-body p-0" style="height: 100%; overflow: hidden;">
    <app-commercial-price-request
      [dateStart]="dateStart"
      [dateEnd]="dateEnd"
      [employeeId]="employeeId"
    ></app-commercial-price-request>
  </div>
</div>
