.fs-12 {
    font-size: 0.75rem;
  }
  
  .reset {
    all: revert;
  }
  
  .tabulator {
    font-size: 0.75rem;
  }
  
  .tabulator-cell {
    padding: 0px;
  }
  
  .inner-content {
    padding: 0 !important;
  }
  
  .ant-tabs-tab-btn {
    font-size: 0.75rem;
  }
  .modal-body-scroll {
  max-height: 80vh;
  overflow-y: auto;
}

@media (max-width: 576px) {
  .modal-header,
  .modal-footer {
    padding: 0.5rem 0.75rem;
  }
}
