::ng-deep .ant-form-inline .ant-form-item {
    margin-right: 4px !important;
    margin-bottom: 0 !important;
  }

  .table-spinner{
    height: 100% !important;
  }
  .tabulator {
    font-size: 0.75 rem;
  }
