.fs-12 {
  font-size: 12px !important;
}

.reset {
  all: revert;
}

.modal-header {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

::ng-deep .full-screen-modal {
  height: auto !important;
}

::ng-deep #gridSummaryPoncc {
  height: 86vh !important;
}

::ng-deep .slickgrid-container .slick-footerrow .slick-footerrow-columns .slick-footerrow-column {
  border-right: 1px solid #ddd !important;
}