#grid-container {
    width: 100%;
    height: 400px;
}

:host ::ng-deep .slick-cell {
    padding: 4px 8px;
}

:host ::ng-deep .slick-header-column {
    font-weight: bold;
}

:host ::ng-deep .p-menubar {
    padding: 0.25rem 0.5rem;
}