.tabulator {
    font-size: 0.75rem;
  }
  
  .fs-12 {
    font-size: 0.75rem;
  }
  
  .btn {
    height: 2.5vh;
    font-size: 0.75rem;
    border: none;
    font-weight: bold;
  }
.modal-header {
    padding: 0.5rem;
}