/* ===== Tree Select — Phòng ban ===== */
::ng-deep .sot-dept-dropdown {
    min-width: 30vh !important;
    font-size: 12px !important;
}

::ng-deep .sot-dept-dropdown .ant-select-tree-node-content-wrapper {
    font-size: 12px !important;
}

:host ::ng-deep nz-tree-select .ant-select-selection-item,
:host ::ng-deep nz-tree-select .ant-select-selection-placeholder {
    font-size: 12px !important;
}
