.fs-12 {
  font-size: 0.75rem;
}

.reset {
  all: revert;
}

.custom-fieldset {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  height: 100%;
}

.custom-legend {
  font-size: 0.875rem;
  font-weight: 600;
  color: #1890ff;
  padding: 0 8px;
  margin: 0 0 0 8px;
  width: auto;
  border: none;
}

.header-legend {
  color: #0d6efd;
  font-weight: bold;
  font-size: 0.875rem;
}

::ng-deep #gridReturnDetail {
  height: 50vh !important;
  border: 1px solid #ddd;
}
