.tabulator-col-group .tabulator-col-group-cols {
    background-color: inherit !important;
  }
  
  .tabulator-col-group .tabulator-col-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
  }
  .ant-splitter {
    height: 93vh !important;
  }
  :host ::ng-deep .tabulator-col.follow-project-base
  {
    background-color: #f8ff98 !important;
    
  }  
  :host ::ng-deep .tabulator-col.follow-project-plan
  {
    background-color: #5184fa !important;
    
  }  
  :host ::ng-deep .tabulator-col.follow-project-actual
  {
    background-color: #8eff82 !important;
    
  }  