:host {
  ::ng-deep {
    .ant-table {
      font-size: 12px !important;
    }
  }
}

.type-badge {
  display: inline-block;
  padding: 2px 8px;
  background-color: #e6f7ff;
  color: #1890ff;
  border: 1px solid #91d5ff;
  border-radius: 4px;
  font-size: 12px;
}
