<div class="modal-dialog-scrollable">
  <div class="modal-header bg-primary align-items-center ps-2">
    <h6 class="text-light text-uppercase m-0" style="padding: 0, 5rem">
      Chuyển dự án
    </h6>
    <button type="button" class="btn-close" (click)="activeModal.dismiss()" aria-label="Close"></button>
  </div>

  <div class="modal-body pt-0 pb-0 p-2 pb-2 w-100">
    <form [formGroup]="projectChangeForm" nz-form nzLayout="vertical">
      <nz-row>
        <nz-col [nzSpan]="24">
          <nz-form-item class="pt-1">
            <nz-form-label class="fs-12" >
              Từ dự án <span class="text-danger ps-1"> *</span>
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="
                projectChangeForm.hasError('sameProject') && projectIdOldControl?.value && projectIdNewControl?.value
                  ? 'Hai dự án không được giống nhau' 
                  : projectIdOldControl?.hasError('required') && projectIdOldControl?.touched 
                    ? 'Vui lòng chọn từ dự án' 
                    : ''
              "
              [nzValidateStatus]="
                (projectIdOldControl?.invalid && projectIdOldControl?.touched) || 
                (projectChangeForm.hasError('sameProject') && projectIdOldControl?.value && projectIdNewControl?.value) 
                  ? 'error' 
                  : ''
              "
             
            >
              <nz-select
                formControlName="projectIdOld"
                class="w-100"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Chọn dự án"
              >
                @for (item of projects; track $index) {
                <nz-option
                  [nzLabel]="item.ProjectCode + ' - ' + item.ProjectName"
                  [nzValue]="item.ID"
                ></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="24">
          <nz-form-item class="pt-1">
            <nz-form-label class="fs-12" >
              Đến dự án <span class="text-danger ps-1"> *</span>
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="
                projectChangeForm.hasError('sameProject') && projectIdOldControl?.value && projectIdNewControl?.value
                  ? 'Hai dự án không được giống nhau' 
                  : projectIdNewControl?.hasError('required') && projectIdNewControl?.touched 
                    ? 'Vui lòng chọn đến dự án' 
                    : ''
              "
              [nzValidateStatus]="
                (projectIdNewControl?.invalid && projectIdNewControl?.touched) || 
                (projectChangeForm.hasError('sameProject') && projectIdOldControl?.value && projectIdNewControl?.value) 
                  ? 'error' 
                  : ''
              "
            >
              <nz-select
                formControlName="projectIdNew"
                class="w-100"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Chọn dự án"
              >
                @for (item of projects; track $index) {
                <nz-option
                  [nzLabel]="item.ProjectCode + ' - ' + item.ProjectName"
                  [nzValue]="item.ID"
                ></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
    </form>
  </div>

  <div class="modal-footer br p-1 d-flex align-items-center">
    <div class="d-flex align-items-center flex-wrap gap-1">
      <button
        nz-button
        nzType="default"
        nzDanger
        (click)="activeModal.dismiss()"
      >
        Đóng
      </button>
      <button 
        nz-button 
        nzType="primary" 
        (click)="saveChange()"
        [disabled]="projectChangeForm.invalid"
      >
        Lưu
      </button>
    </div>
  </div>
</div>
