<div class="modal-header bg-primary p-2">
  <h6 class="modal-title text-white" id="priceRequestModalLabel">
    CHI TIẾT BÁO GIÁ
  </h6>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="close()"
  ></button>
</div>

<div class="modal-body">
  <form class="row g-3">
    <div class="col-md-4">
      <label for="requesterSelect" class="form-label"> Người yêu cầu </label>
      <nz-form-item>
        <nz-form-control [nzSpan]="24">
          <nz-select
            id="requesterSelect"
            [(ngModel)]="requester"
            name="requesterId"
            nzShowSearch
            nzAllowClear=false
            nzPlaceHolder="Chọn người yêu cầu"
            [nzServerSearch]="true"
            (nzSearchChange)="requesterSearchChange($event)"
            [nzNotFoundContent]="notFoundContent"
            [nzLoading]="requesterLoading"
          >
            <nz-option
              class="cdk-overlay-container"
              *ngFor="let item of users"
              [nzValue]="item.ID"
              [nzLabel]="item.Code + ' - ' + item.FullName"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-md-4">
      <label for="requestDate" class="form-label"> Ngày yêu cầu </label>
      <input
        id="requestDate"
        type="date"
        class="form-control fs-12"
        [(ngModel)]="requestDate"
        name="requestDate"
      />
    </div>
        <div class="col-md-4">
      <label for="requestTypeID" class="form-label"> Loại yêu cầu </label>
       <nz-select
    nzAllowClear = false
    nzShowSearch
    class="w-100"
    [(ngModel)]="requestTypeID"
    nzPlaceHolder="Chọn loại yêu cầu"
    name="requestTypeID"
  >
    <nz-option
      *ngFor="let type of lstRequestType"
      [nzValue]="type.ID"
      [nzLabel]="type.RequestTypeName"
    >
    </nz-option>
  </nz-select>
    </div>
  </form>

  <button
    nz-button
    nzType="primary"
    nzSize="small"
    class="mt-3"
    (click)="addRow()"
  >
    <i nz-icon nzType="plus"></i> Thêm dòng
  </button>

  <div #table class="mt-2"></div>
</div>

<div class="modal-footer">
  <button nz-button nzType="default" nzDanger (click)="close()">
    <i nz-icon nzType="close-circle" nzTheme="fill"></i> Đóng
  </button>
  <button nz-button nzType="primary" (click)="saveAndClose()">
    <i nz-icon nzType="save" nzTheme="fill"></i> Lưu dữ liệu
  </button>
</div>

<ng-template #selectTemplate let-row="row" let-productList="dt" let-success="success">
  <nz-select
    nzAllowClear
    nzShowSearch
    class="w-100"
    [(ngModel)]="row.ProductNewCode"
    (ngModelChange)="success($event)"
    nzPlaceHolder="Chọn sản phẩm"
    multiple="true"
  >
    <nz-option
      *ngFor="let product of productList"
      [nzValue]="product.ProductNewCode"
      [nzLabel]="product.ProductNewCode + ' - ' + product.ProductName"
    >
    </nz-option>
  </nz-select>
</ng-template>
<ng-container #vcHost></ng-container>
