<ng-container class="w-100">
    <div class="card-header bg-white p-1" style="overflow-x: auto;">
  
      <div class="d-flex gap-1">
        <button style="min-width: 25px;" nz-button nzType="default" nzSize="small" (click)="toggleSearchPanel()">
          <nz-icon nzType="search"></nz-icon>
        </button>
        <button class="fs-12" nz-button nzType="default" nzSize="small" title="Xuất Excel" (click)="exportDetailTableToExcel()">
          <img src="assets/icon/action_export_excel_16.png" alt="Xuất Excel" /> Xuất Excel
        </button>
      </div>
    </div>
    <nz-splitter>
      <nz-splitter-panel [nzSize]="sizeSearch" nzResizable="false">
        <div class="card h-100 border-0 rounded-0">
          <div class="card-header bg-white p-1">
            <div class="d-flex justify-content-between align-items-center">
              <h6 class="m-0 ms-2">Tìm kiếm</h6>
              <button class="border-0 me-2" nz-button nzSize="small" nzType="default" nzDanger
                (click)="toggleSearchPanel()">
                <nz-icon nzType="close" nzTheme="outline" />
              </button>
            </div>
          </div>
          <div class="card-body">
            <form nz-form nzLayout="vertical">
              <nz-form-item>
                <nz-form-label class="fs-12" [nzSpan]="24">Từ ngày</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-date-picker name="startDate" class="w-100" nzSize="small"
                    [(ngModel)]="filters.startDate"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="mt-2">
                <nz-form-label class="fs-12" [nzSpan]="24">Đến ngày</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-date-picker name="endDate" class="w-100" nzSize="small"
                    [(ngModel)]="filters.endDate"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="mt-2">
                <nz-form-label class="fs-12" [nzSpan]="24">Người phụ trách</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select name="customerId" class="w-100" nzShowSearch nzAllowClear nzSize="small"
                    nzPlaceHolder="Người phụ trách" [(ngModel)]="filters.customerId">
                    <nz-option *ngFor="let item of users" [nzValue]="item.ID"
                      [nzLabel]="item.CustomerCode"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="mt-2">
                <nz-form-label class="fs-12" [nzSpan]="24">Nhóm</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select name="customerId" class="w-100" nzShowSearch nzAllowClear nzSize="small"
                    nzPlaceHolder="Nhóm" [(ngModel)]="filters.customerId">
                    <nz-option *ngFor="let item of groups" [nzValue]="item.ID"
                      [nzLabel]="item.CustomerCode"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="mt-2">
                <nz-form-label class="fs-12" [nzSpan]="24">Khách hàng</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <nz-select name="customerId" class="w-100" nzShowSearch nzAllowClear nzSize="small"
                    nzPlaceHolder="Khách hàng" [(ngModel)]="filters.customerId">
                    <nz-option *ngFor="let item of customers" [nzValue]="item.ID"
                      [nzLabel]="item.CustomerCode"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item class="mt-2">
                <nz-form-label class="fs-12" [nzSpan]="24">Từ khóa</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input name="filterText" nz-input placeholder="Nhập từ khóa" nzSize="small"
                    [(ngModel)]="filters.filterText" />
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
          <div class="card-footer bg-white p-1 d-flex gap-1 justify-content-end">
            <button nz-button nzType="primary" nzSize="small" (click)="search()">
              Tìm kiếm
            </button>
          </div>
        </div>
      </nz-splitter-panel>
      <nz-splitter-panel>
        <div #tb_Table id="tb_Table"></div>
      </nz-splitter-panel>
    </nz-splitter>
  </ng-container>