.fs-12 {
  font-size: 0.75rem;
}

.reset {
  all: revert;
}

.ant-splitter-panel {
  position: relative;
}

/* Container cho splitter vertical */
.splitter-container {
  height: calc(100vh - 160px); /* Chiều cao = viewport - header */
  overflow: hidden;
}

/* Wrapper cho các bảng Tabulator */
.table-wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.tabulator {
  font-size: 0.75rem !important;
  width: 100% !important;
}

.tabulator-cell {
  padding: 0px;
}

.inner-content {
  padding: 0 !important;
}

.ant-tabs-tab-btn {
  font-size: 0.75rem;
}

/* Đảm bảo nz-splitter chiếm full height của container */
nz-splitter[nzDirection="vertical"] {
  height: 100%;
}
::ng-deep #grvAssetAllocation {
    min-height: 55vh !important;
}