:host ::ng-deep .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active {
  background-color: #3b82f6;
  /* blue-500 */
  border-color: #3b82f6;
}

:host ::ng-deep .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
  /* buộc chữ trắng */
}

:host ::ng-deep .modal-body {
  height: 88vh;
  overflow: auto;
}

/* CSS để bảng tài sản cấp phát có scroll ngang */
#handoverAsset {
  overflow-x: auto !important;
}

:host ::ng-deep #handoverAsset .tabulator {
  overflow-x: auto !important;
}

:host ::ng-deep #handoverAsset .tabulator-tableholder {
  overflow-x: auto !important;
}