@media (min-width: 768px) {
  .table-responsive {
    display: block;
    height: 90vh !important;
  }

  .card-contact {
    display: none;
  }
}

@media (max-width: 768px) {
  .table-responsive {
    display: none;
    height: 90vh !important;
  }

  .card-contact {
    display: block;
  }
}

.sticky-top {
  position: sticky;
  top: 70px;
  z-index: 1;
}

.sticky-top-table {
  position: sticky;
  top: -3px;
  z-index: 1;
  background-color: #c9ccd1 !important;
}

.sticky-top-table th {
  background-color: antiquewhite !important;
  color: #000000 !important;
}

.dt-sticky-left {
  position: sticky;
  left: 0;
  z-index: 0;
  background-color: antiquewhite;
  vertical-align: middle !important;
}

.card-header h4 {
  text-align: center;
  flex: 1;
}

.card-header-action {
  margin-left: auto;
}

.btn-icon {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.dt-button {
  width: auto !important;
  height: 30px !important;
  margin: 0 0 0 5px !important;
  background-color: #6777ef !important;
}

/* Tabulator custom styles */
::ng-deep .tabulator {
  font-size: 12px;
  width: 100%;
  table-layout: auto !important;
}

::ng-deep .tabulator .tabulator-header {
  background-color: antiquewhite;
  font-weight: bold;
}

::ng-deep .tabulator .tabulator-row.tabulator-group {
  background-color: #acafb1 !important;
  color: rgb(26, 26, 26) !important;
  font-weight: bold;
  text-transform: uppercase;
}

::ng-deep .tabulator .tabulator-row:hover {
  background-color: #f1f3f5;
}

::ng-deep .tabulator .tabulator-row:focus {
  background-color: #ffd800;
}

::ng-deep .tabulator tbody tr td {
  padding: 0 !important;
  white-space: pre-line !important;
}

::ng-deep .tabulator .tabulator-col:nth-child(1) {
  width: 5% !important;
}

::ng-deep .tabulator .tabulator-col:nth-child(2),
::ng-deep .tabulator .tabulator-col:nth-child(3),
::ng-deep .tabulator .tabulator-col:nth-child(4),
::ng-deep .tabulator .tabulator-col:nth-child(5) {
  width: 20% !important;
}
