.fs-12 {
    font-size: 0.75rem;
}

.reset {
    all: revert;
}

.ant-splitter-panel {
    position: relative;
}

.grid-container-daily-report {
    width: 100%;
    height: 100%;
    position: relative;
}

.inner-content {
    padding: 0 !important;
}

.ant-tabs-tab-btn {
    font-size: 0.75rem;
}

.filter-bar {
    flex-shrink: 0;
}

::ng-deep .slick-cell {
    font-size: 0.75rem;
}

::ng-deep .slick-header-column {
    font-size: 0.75rem;
}
