<div class="modal-dialog-scrollable">
  <div class="modal-header bg-primary align-items-center ps-3">
    <div class="d-flex align-items-center">
      <h6 class="text-light text-uppercase m-0 fw-bold">Lịch sử gia hạn</h6>
    </div>
  </div>

  <div class="modal-body p-2" style="height: 60vh;">
      <div #tb_historyProductRTCLog></div>
  </div>

  <div class="modal-footer">
    <button nz-button nzType="default" nzDanger (click)="activeModal.dismiss()">
      Đóng
    </button>
  </div>
</div>