.card {
    height: 100%;
}

.card-header {
    flex-shrink: 0;
}

.card-body {
    flex-grow: 1;
    overflow: hidden;
}

nz-form-label {
    font-size: 12px;
    font-weight: 500;
}

.btn-sm {
    padding: 2px 6px;
    font-size: 11px;
}

.btn-edit, .btn-delete {
    padding: 2px 6px;
}
