
.fs-12 {
  font-size: 0.75rem;
}

.reset {
  all: revert;
}

.ant-splitter-panel {
  position: relative;
}

.tabulator {
  font-size: 0.75rem !important;
  /* position: absolute !important; */
   width: 100% !important; 
}

.tabulator-cell {
  padding: 0px;
}

.inner-content {
  padding: 0 !important;
}

.ant-tabs-tab-btn {
  font-size: 0.75rem;
}

/* Đảm bảo tabset và tab content có chiều cao đầy đủ */
:host ::ng-deep .ant-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .ant-tabs-content-holder {
  flex: 1;
  overflow: hidden;
}

:host ::ng-deep .ant-tabs-tabpane {
  height: 100%;
  overflow: hidden;
}

:host ::ng-deep .ant-splitter {
  height: 100% !important;
}

:host ::ng-deep .ant-splitter-panel {
  overflow: hidden;
}




