/* Y/* Tùy chỉnh modal header */
.ant-modal-header {
    background: #1890ff;
}
  
.ant-modal-title {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}



.cdk-overlay-container {
    z-index: 9999 !important;
  }
  
