::ng-deep #grid-container-product-group-demo {
    height: 89vh !important;
}

::ng-deep #grid-container-product-rtc-demo {
    height: 89vh !important;
}

/* Container - fit screen without browser scroll */
:host {
    display: block;
    height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    overflow: hidden;
}

.card {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.grid-container-product-rtc-demo {
    overflow: auto;
    /* height: calc(100vh - 110px) !important; */
}