::ng-deep #gridProductRTC {
    height: 89vh !important;
}

::ng-deep #gridProductGroup {
    height: 89vh !important;
}

/* Container - fit screen without browser scroll */
:host {
    display: block;
    height: calc(100vh - 50px);
    max-height: calc(100vh - 50px);
    overflow: hidden;
}

.card {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.grid-container-product-group {
    overflow: auto;
    height: calc(100vh - 110px) !important;
}