<div class="modal-dialog-scrollable">
  <div class="modal-header bg-primary align-items-center ps-2">
    <h6 class="text-light text-uppercase m-0" style="padding: 0, 5rem">
      Thông tin chi tiết dự án
    </h6>
    <button type="button" class="btn-close" (click)="activeModal.dismiss()" aria-label="Close"></button>
  </div>
  <div class="modal-body pt-0 pb-0 p-2 w-100" style="width: 800px; min-height: 60vh">
    <nz-tabset class="p-0" (nzSelectedIndexChange)="onChangeIndexTab($event)"
      style="height: 70vh; display: flex; flex-direction: column;">
      <nz-tab nzTitle="Chi tiết dự án">
        <div style="height: calc(70vh - 50px); overflow-y: auto; padding-right: 4px; overflow-x: hidden;">
          <form nz-form [formGroup]="formGroup" class="g-3 needs-validation was-validated">
            <div nz-row [nzGutter]="16" class="pb-2">

              <!-- CỘT TRÁI -->
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">

                <!-- Khách hàng -->
                <nz-form-item class="pt-2">
                  <nz-form-label class="fs-12 d-flex align-items-center" [nzSpan]="24">
                    <div class="d-flex">
                      Khách hàng <span class="text-danger ps-1">*</span>
                      <button class="p-0 m-0 fs-12 px-1 h-auto" nz-button nzSize="small" title="Thêm khách hàng"
                        nzType="text" (click)="openAddCustomer()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </nz-form-label>
                  <nz-form-control [nzSpan]="24" [nzErrorTip]="getFieldError('customerId')">
                    <nz-select formControlName="customerId" class="w-100" nzShowSearch nzAllowClear
                      nzPlaceHolder="Chọn khách hàng" (ngModelChange)="getProjectCode()" [(ngModel)]="customerId">
                      @for (item of customers; track $index) {
                      <nz-option nzCustomContent="true" [nzLabel]="item.CustomerCode + ' - ' + item.CustomerName"
                        [nzValue]="item.ID">
                        {{ item.CustomerCode + " - " + item.CustomerName }}
                      </nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <!-- Mã dự án & Ngày tạo -->
                <div nz-row [nzGutter]="12" style="margin-top: -13px;">
                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <nz-form-item>
                      <nz-form-label class="fs-12 d-flex align-items-center" [nzSpan]="24">
                        Mã dự án <span class="text-danger ps-1">*</span>
                      </nz-form-label>
                      <nz-form-control [nzSpan]="24">
                        <input formControlName="projectCode" class="w-100" nz-input />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <nz-form-item>
                      <nz-form-label class="fs-12 d-flex align-items-center" [nzSpan]="24">Ngày tạo</nz-form-label>
                      <nz-form-control [nzSpan]="24">
                        <input nz-input type="date" formControlName="createdDate" class="w-100" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <!-- Tên dự án -->
                <nz-form-item style="margin-top: -13px;">
                  <nz-form-label class="fs-12 d-flex align-items-center" [nzSpan]="24">
                    Tên dự án <span class="text-danger ps-1">*</span>
                  </nz-form-label>
                  <nz-form-control [nzSpan]="24" [nzErrorTip]="getFieldError('projectName')">
                    <input formControlName="projectName" class="w-100" nz-input placeholder="Tên dự án" />
                  </nz-form-control>
                </nz-form-item>

                <!-- Sale & Technical -->
                <div nz-row nzGutter="12" style="margin-top: -13px;">
                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <nz-form-item>
                      <nz-form-label class="fs-12" [nzSpan]="24">
                        Sale <span class="text-danger ps-1">*</span>
                      </nz-form-label>
                      <nz-form-control [nzSpan]="24" [nzErrorTip]="getFieldError('userSaleId')">
                        <nz-select formControlName="userSaleId" class="w-100" nzShowSearch nzAllowClear
                          nzPlaceHolder="Chọn người phụ trách sale">
                          @for (parent of users; track $index) {
                          <nz-option-group [nzLabel]="parent.label">
                            @for (child of parent.options; track $index) {
                            <nz-option nzCustomContent="true" [nzLabel]="child.item.FullName" [nzValue]="child.item.ID">
                              {{ child.item.Code + " - " + child.item.FullName }}
                            </nz-option>
                            }
                          </nz-option-group>
                          }
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <nz-form-item>
                      <nz-form-label class="fs-12 d-flex align-items-center" [nzSpan]="24">
                        Technical <span class="text-danger ps-1">*</span>
                      </nz-form-label>
                      <nz-form-control [nzSpan]="24" [nzErrorTip]="getFieldError('userTechId')">
                        <nz-select formControlName="userTechId" class="w-100" nzShowSearch nzAllowClear
                          nzPlaceHolder="Chọn người phụ trách technical">
                          @for (parent of users; track $index) {
                          <nz-option-group [nzLabel]="parent.label">
                            @for (child of parent.options; track $index) {
                            <nz-option nzCustomContent="true" [nzLabel]="child.item.FullName" [nzValue]="child.item.ID">
                              {{ child.item.Code + " - " + child.item.FullName }}
                            </nz-option>
                            }
                          </nz-option-group>
                          }
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <!-- Trạng thái & PM -->
                <div nz-row nzGutter="12" style="margin-top: -13px;">
                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <nz-form-item>
                      <nz-form-label class="fs-12 d-flex align-items-center" [nzSpan]="24">
                        Trạng thái
                        <button class="p-0 m-0 fs-12 px-1 h-auto" nz-button nzType="text" nzSize="small"
                          title="Thêm trạng thái" (click)="openAddProjectStatusModal()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </nz-form-label>
                      <nz-form-control [nzSpan]="24">
                        <nz-select formControlName="projectStatusId" class="w-100" nzShowSearch nzAllowClear
                          nzPlaceHolder="Chọn trạng thái" (selectionChange)="getDayChange()"
                          (ngModelChange)="getDayChange()">
                          @for (item of statuses; track $index) {
                          <nz-option nzCustomContent="true" [nzLabel]="item.StatusName" [nzValue]="item.ID">
                            {{ item.StatusName }}
                          </nz-option>
                          }
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <nz-form-item>
                      <nz-form-label class="fs-12" [nzSpan]="24">
                        Pm <span class="text-danger ps-1">*</span>
                      </nz-form-label>
                      <nz-form-control [nzSpan]="24" [nzErrorTip]="getFieldError('pmId')">
                            <nz-select formControlName="pmId" class="w-100" nzShowSearch nzAllowClear nzPlaceHolder="Chọn pm">
                          @for (parent of users; track $index) {
                          <nz-option-group [nzLabel]="parent.label">
                            @for (child of parent.options; track $index) {
                            <nz-option nzCustomContent="true" [nzLabel]="child.item.FullName"
                              [nzValue]="child.item.EmployeeID">
                              {{ child.item.Code + " - " + child.item.FullName }}
                            </nz-option>
                            }
                          </nz-option-group>
                          }
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <!-- End User -->
                <nz-form-item style="margin-top: -13px;">
                  <nz-form-label class="fs-12" [nzSpan]="24">
                    End User <span class="text-danger ps-1">*</span>
                  </nz-form-label>
                  <nz-form-control [nzSpan]="24" [nzErrorTip]="getFieldError('endUserId')">
                    <nz-select formControlName="endUserId" class="w-100" nzShowSearch nzAllowClear
                      nzPlaceHolder="Chọn người dùng cuối">
                      @for (item of customers; track $index) {
                      <nz-option nzCustomContent="true" [nzLabel]="item.CustomerName" [nzValue]="item.ID">
                        {{ item.CustomerCode + " - " + item.CustomerName }}
                      </nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <!-- Hãng & Loại -->
                <div nz-row nzGutter="12" style="margin-top: -13px;">
                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <nz-form-item>
                      <nz-form-label class="fs-12 d-flex align-items-center" [nzSpan]="24">
                        Hãng
                        <button class="p-0 m-0 px-1 fs-12 h-auto" nz-button nzType="text" nzSize="small"
                          title="Thêm hãng" (click)="openModalFirmBase()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </nz-form-label>
                      <nz-form-control [nzSpan]="24">
                        <nz-select formControlName="firmBaseId" class="w-100" nzShowSearch nzAllowClear
                          nzPlaceHolder="Chọn hãng">
                          @for (item of firmBases; track $index) {
                          <nz-option nzCustomContent="true" [nzLabel]="item.FirmName" [nzValue]="item.ID">
                            {{ item.FirmName }}
                          </nz-option>
                          }
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>

                  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <nz-form-item>
                      <nz-form-label class="fs-12 d-flex align-items-center" [nzSpan]="24">Loại</nz-form-label>
                      <nz-form-control [nzSpan]="24">
                        <nz-select formControlName="prjTypeBaseId" class="w-100" nzShowSearch nzAllowClear
                          nzPlaceHolder="Chọn loại">
                          @for (item of projectTypeBases; track $index) {
                          <nz-option nzCustomContent="true" [nzLabel]="item.ProjectTypeName" [nzValue]="item.ID">
                            {{ item.ProjectTypeName }}
                          </nz-option>
                          }
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <!-- Bảng loại dự án -->
                <div nz-row>
                  <div nz-col [nzSpan]="24">
                    <div #tb_projectTypeLinks></div>
                  </div>
                </div>
              </div>

              <!-- Cột bên phải -->
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                <div nz-row class="pt-1">
                  <div nz-col [nzSpan]="24">
                    <fieldset class="reset m-0">
                      <legend class="reset fs-12">Dự kiến</legend>
                      <div nz-row nzGutter="12">
                        <div nz-col [nzSpan]="12">
                          <nz-form-item>
                                              <nz-form-label class="fs-12" [nzSpan]="24">Ngày gửi dự án <span class="text-danger ps-1"> *</span></nz-form-label>
                            <nz-form-control [nzSpan]="24" [nzErrorTip]="getFieldError('expectedPlanDate')">
                              <input nz-input type="date" formControlName="expectedPlanDate" class="w-100" />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="12">
                          <nz-form-item>
                                              <nz-form-label class="fs-12" [nzSpan]="24">Ngày gửi báo giá <span class="text-danger ps-1"> *</span></nz-form-label>
                            <nz-form-control [nzSpan]="24" [nzErrorTip]="getFieldError('expectedQuotationDate')">
                              <input nz-input type="date" formControlName="expectedQuotationDate" class="w-100" />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                      <div nz-row nzGutter="12" style="margin-top: -13px;">
                        <div nz-col [nzSpan]="12">
                          <nz-form-item>
                            <nz-form-label class="fs-12" [nzSpan]="24">Ngày PO</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                              <input nz-input type="date" formControlName="expectedPODate" class="w-100" />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="12">
                          <nz-form-item>
                            <nz-form-label class="fs-12" [nzSpan]="24">Ngày kết thúc</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                              <input nz-input type="date" formControlName="expectedProjectEndDate" class="w-100" />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div nz-row class="pt-1">
                  <div nz-col [nzSpan]="24">
                    <fieldset class="reset m-0">
                      <legend class="reset fs-12">Thực tế</legend>
                      <div nz-row nzGutter="12">
                        <div nz-col [nzSpan]="12">
                          <nz-form-item>
                            <nz-form-label class="fs-12" [nzSpan]="24">Ngày gửi phương
                              án</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                              <input nz-input type="date" formControlName="realityPlanDate" class="w-100" />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="12">
                          <nz-form-item>
                            <nz-form-label class="fs-12" [nzSpan]="24">Ngày gửi báo
                              giá</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                              <input nz-input type="date" formControlName="realityQuotationDate" class="w-100" />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                      <div nz-row nzGutter="12" style="margin-top: -13px;">
                        <div nz-col [nzSpan]="12">
                          <nz-form-item>
                            <nz-form-label class="fs-12" [nzSpan]="24">Ngày PO</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                              <input nz-input type="date" formControlName="realityPODate" class="w-100" />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="12">
                          <nz-form-item>
                            <nz-form-label class="fs-12" [nzSpan]="24">Ngày kết thúc</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                              <input nz-input type="date" formControlName="realityProjectEndDate" class="w-100" />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div nz-row>
                  <div nz-col [nzSpan]="24">
                    <nz-form-item class="pt-2">
                      <nz-form-label class="fs-12" [nzSpan]="24">
                        Người phụ trách PIC
                      </nz-form-label>
                      <nz-form-control [nzSpan]="24">
                                      <input formControlName="projectContactName" class="w-100"
                                          nz-input placeholder="Người phụ trách PIC" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row [nzGutter]="12" style="margin-top: -13px;">
                  <div nz-col [nzSpan]="12">
                    <nz-form-item class="pt-1">
                      <nz-form-label class="fs-12" [nzSpan]="24">
                        Mức ưu tiên <span class="text-danger ps-1">*</span>
                        <button class="p-0 m-0 fs-12 px-1 h-auto" nz-button nzType="text" nzSize="small"
                          title="Thêm độ ưu tiên" (click)="openProjectPriorityDetail()">
                          <i class="fas fa-plus"></i>
                        </button>
                      </nz-form-label>
                      <nz-form-control [nzSpan]="24" [nzErrorTip]="getFieldError('priority')">
                                      <input formControlName="priority" class="w-100" nz-input
                                          placeholder="Mức ưu tiên" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="12">
                    <nz-form-item class="pt-1">
                      <nz-form-label class="fs-12" [nzSpan]="24"> Kiểu dự án <span
                          class="text-danger ps-1">*</span></nz-form-label>
                      <nz-form-control [nzSpan]="24" [nzErrorTip]="getFieldError('projectTypeId')">
                        <nz-select formControlName="projectTypeId" class="w-100" nzShowSearch nzAllowClear
                                          nzPlaceHolder="Chọn kiểu dự án"
                                        (ngModelChange)="getProjectCode()"
                                          >
                          <nz-option [nzValue]="1" nzLabel="Dự án"></nz-option>
                          <nz-option [nzValue]="2" nzLabel="Thương mại"></nz-option>
                          <nz-option [nzValue]="3" nzLabel="Phim"></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <div nz-row style="margin-top: -13px;">
                  <div nz-col [nzSpan]="24">
                              <nz-form-item class="pt-1" >
                      <nz-form-label class="fs-12" [nzSpan]="24"> Mô tả dự án </nz-form-label>
                      <nz-form-control [nzSpan]="24">
                                      <textarea formControlName="note" rows="4" nz-input
                                          placeholder="Nhập mô tả dự án"></textarea>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <div nz-row style="margin-top: -13px;">
                  <div nz-col [nzSpan]="24">
                    <nz-form-item class="pt-1">
                      <nz-form-label class="fs-12" [nzSpan]="24"> Hiện trạng </nz-form-label>
                      <nz-form-control [nzSpan]="24">
                        <textarea formControlName="currentState" rows="4" nz-input
                          placeholder="Nhập hiện trạng"></textarea>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Cập nhật leader" *ngIf="true">
        <div style="height: calc(70vh - 50px); overflow-y: auto; padding-right: 4px; overflow-x: hidden;">
          <form nz-form [formGroup]="formGroup" class="g-3 needs-validation was-validated">
            <div nz-row [nzGutter]="16" class="pt-1 pb-1 w-100 m-0">
              <!-- Cột: Dự án -->
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" class="ps-0">
                <nz-form-item>
                  <nz-form-label class="fs-12 d-flex align-items-center" [nzSpan]="24">
                    Dự án <span class="text-danger ps-1">*</span>
                  </nz-form-label>
                  <nz-form-control [nzSpan]="24" [nzErrorTip]="getFieldError('projectIdleader')">
                      <nz-select
                        formControlName="projectIdleader"
                        class="w-100"
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="Chọn dự án"
                        (selectionChange)="loadAll()"
                        (ngModelChange)="loadAll()"
                      >
                      @for (item of projects; track $index) {
                          <nz-option
                            nzCustomContent="true"
                            [nzLabel]="item.ProjectName"
                            [nzValue]="item.ID"
                          >
                        {{ item.ProjectCode + " - " + item.ProjectName }}
                      </nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <!-- Cột: Trạng thái -->
              <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12" class="pe-0">
                <nz-form-item>
                  <nz-form-label class="fs-12 d-flex align-items-center" [nzSpan]="24">
                    Trạng thái <span class="text-danger ps-1">*</span>
                  </nz-form-label>
                  <nz-form-control [nzSpan]="24" [nzErrorTip]="getFieldError('projectStatusIdDetail')">
                      <nz-select
                        formControlName="projectStatusIdDetail"
                        class="w-100"
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="Chọn trạng thái"
                      >
                      @for (item of statuses; track $index) {
                          <nz-option
                            nzCustomContent="true"
                            [nzLabel]="item.StatusName"
                            [nzValue]="item.ID"
                          >
                        {{ item.StatusName }}
                      </nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <!-- Hiện trạng -->
              <div nz-col [nzSpan]="24" class="p-0" style="margin-top: -13px;">
                <nz-form-item class="pt-1 w-100">
                  <nz-form-label class="fs-12" [nzSpan]="24">
                    Hiện trạng
                  </nz-form-label>
                  <nz-form-control [nzSpan]="24">
                      <textarea
                        formControlName="situlatorDetail"
                        rows="4"
                        nz-input
                        placeholder="Nhập hiện trạng"
                      ></textarea>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <!-- Bảng chi tiết -->
              <div nz-col [nzSpan]="24" class="p-0" style="margin-top: -13px;">

                <div #tb_projectTypeLinksDetail></div>

              </div>

            </div>
          </form>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>

  <div class="modal-footer bg-whitesmoke br p-1">
    <button nz-button nzType="default" nzDanger (click)="activeModal.dismiss()">
      Đóng
    </button>
    <button nz-button nzType="primary" (click)="saveData()">Lưu</button>
  </div>
</div>

<ng-template #dateChangeStatus>
  <nz-form-label class="">Ngày thay đổi <span class="text-danger">*</span></nz-form-label>
  <input nz-input type="date" [(ngModel)]="tempDateChangeStatus" name="dateChangeStatus" class="w-100"
    (ngModelChange)="onDateChangeStatusChange($event)" />
</ng-template>