<!-- Template cho popup table -->
<ng-template #childTableTemplate let-row="row">
  <div class="child-tabulator"></div>
</ng-template>

<!-- Host để render vào cell -->
<ng-container #vcHost></ng-container>

<div class="modal-header bg-primary p-2">
  <h6 class="modal-title text-white text-uppercase" id="assetModalLabel">{{title}}</h6>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<div class="modal-body">
  <!-- === PHẦN TRÊN: FORM THIẾT BỊ === -->
  <form nz-form [formGroup]="formDeviceInfo" nzLayout="vertical" class="fs-7 mt-1 tab-content-equal-height" style="font-size: 12px;">
    <!-- Row 1: Số phiếu (24 nếu isBorrowType, 16 nếu không) Người mượn(8) -->
    <nz-row [nzGutter]="24">
      <nz-col [nzSpan]="!isBorrowType ? 24 : 16">
        <nz-form-item>
          <nz-form-label required>Số phiếu<span style="color: red">(*)</span></nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập số phiếu'">
            <input nz-input formControlName="Code" name="Code" [disabled]="true" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="8" *ngIf="isBorrowType">
        <nz-form-item>
          <nz-form-label required>Người mượn<span style="color: red">(*)</span></nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng chọn người mượn'">
            <nz-select formControlName="ReceiverID" nzPlaceHolder="Chọn người nhận" name="ReceiverID" nzShowSearch nzAllowClear>
              <nz-option
                *ngFor="let item of emPloyeeLists"
                [nzValue]="item.ID"
                [nzLabel]="item.FullName"
                nzCustomContent>
                {{ item.EmployeeCode }} - {{ item.FullName }}
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    
    <!-- Row 2: Nhà cung cấp(16) Liên hệ (8) -->
    <nz-row [nzGutter]="24">
      <nz-col [nzSpan]="16">
        <nz-form-item>
          <nz-form-label>Nhà cung cấp<span style="color: red">(*)</span></nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng chọn nhà cung cấp'">
            <nz-select formControlName="SupplierSaleID" nzPlaceHolder="Chọn nhà cung cấp" name="SupplierSaleID" nzShowSearch nzAllowClear>
              <nz-option *ngFor="let item of nccList" [nzValue]="item.ID"
                [nzLabel]="item.NameNCC" nzCustomContent>
                {{ item.CodeNCC }} - {{ item.NameNCC }}
              </nz-option></nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label required>Liên hệ<span style="color: red">(*)</span></nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập người liên hệ'">
            <input nz-input formControlName="Deliver" name="Deliver" [disabled]="true" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    
    <!-- Row 3: Loại kho(12) Loại(4) Ngày xuất(8) -->
    <nz-row [nzGutter]="24">
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label>Loại kho<span style="color: red">(*)</span></nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng nhập loại kho'">
            <input nz-input formControlName="WarehouseType" name="WarehouseType" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label>Loại <span style="color: red">(*)</span></nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng chọn loại phiếu '">
            <nz-select formControlName="BillType" nzPlaceHolder="Chọn loại phiếu" name="BillType" (ngModelChange)="onBillTypeChange($event)" nzShowSearch nzAllowClear>
              <nz-option [nzValue]="0" nzLabel="Trả"></nz-option>
              <nz-option [nzValue]="1" nzLabel="Cho mượn"></nz-option>
              <nz-option [nzValue]="2" nzLabel="Tặng / Bán"></nz-option>
              <nz-option [nzValue]="3" nzLabel="Mất"></nz-option>
              <nz-option [nzValue]="4" nzLabel="Bảo hành"></nz-option>
              <nz-option [nzValue]="5" nzLabel="Xuất dự án"></nz-option>
              <nz-option [nzValue]="6" nzLabel="Hỏng"></nz-option>
              <nz-option [nzValue]="7" nzLabel="Xuất kho"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label>Ngày xuất<span style="color: red">(*)</span></nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng chọn ngày xuất'">
            <nz-date-picker class="w-100" formControlName="CreatedDate" nzFormat="dd/MM/YYYY" name="CreatedDate">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    
    <!-- Row 4: Dự án(8)Mã QRCode(4) Ngày dự kiến trả(4) Người nhận (8) -->
    <nz-row [nzGutter]="24">
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label>Dự án</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="ProjectName" name="ProjectName" placeholder="Nhập tên dự án" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="!isBorrowType ? 8 : 4">
        <nz-form-item>
          <nz-form-label>QR Code</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="QRCode" name="QRCode" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="4" *ngIf="isBorrowType">
        <nz-form-item>
          <nz-form-label>Ngày dự kiến trả<span style="color: red">(*)</span></nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng chọn ngày dự kiến trả'">
            <nz-date-picker class="w-100" formControlName="ExpectedDate" nzFormat="dd/MM/YYYY" name="ExpectedDate">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="8" >
        <nz-form-item>
          <nz-form-label required>Người nhận<span style="color: red">(*)</span></nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng chọn người nhận'">
            <nz-select formControlName="ReceiverID" nzPlaceHolder="Chọn người nhận" name="ReceiverID" nzShowSearch nzAllowClear>
              <nz-option
                *ngFor="let item of emPloyeeLists"
                [nzValue]="item.ID"
                [nzLabel]="item.FullName"
                nzCustomContent>
                {{ item.EmployeeCode }} - {{ item.FullName }}
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    
    <!-- Row 5: Khách hàng(16) Người duyệt(8) -->
    <nz-row [nzGutter]="24">
      <nz-col [nzSpan]="16">
        <nz-form-item>
          <nz-form-label>Khách hàng<span style="color: red">(*)</span></nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng chọn khách hàng'">
            <nz-select formControlName="CustomerID" nzPlaceHolder="Chọn khách hàng" name="CustomerID" nzShowSearch nzAllowClear>
              <nz-option
                *ngFor="let item of customerList"
                [nzValue]="item.ID"
                [nzLabel]="item.CustomerName">
              </nz-option></nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label required>Người duyệt<span style="color: red">(*)</span></nz-form-label>
          <nz-form-control [nzErrorTip]="'Vui lòng chọn người duyệt'">
            <nz-select formControlName="ApproverID" nzPlaceHolder="Chọn người duyệt" name="ApproverID" nzShowSearch nzAllowClear>
              <nz-option
                *ngFor="let item of approveEmployee"
                [nzValue]="item.ID"
                [nzLabel]="item.FullName"
                nzCustomContent>
                {{ item.Code }} - {{ item.FullName }}
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </form>
  <div class="mt-4">
    <div #deviceTempTable style="height: 37vh;"></div>
  </div>

</div>
<!-- Footer nút -->
<div class="modal-footer">
  <button nz-button nzType="default" (click)="close()">Đóng</button>
  <button nz-button nzType="default" (click)="openBorrowHistory()">Lịch sử mượn</button>
  <button *hasPermission="'N26,N35,N1,N73,N80'" nz-button nzType="primary" (click)="saveData()" [disabled]="IsApproved">Lưu</button>
</div>
