.fs-7 {
  font-size: 0.875rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.reset {
  all: revert;
}

/* .modal-footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
} */

fieldset.reset {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

legend.reset {
  font-size: 0.75rem;
  font-weight: 600;
  color: #333;
  width: auto;
  padding: 0 8px;
  margin-bottom: 0;
  border: none;
}

