<div class="modal-dialog-scrollable">
    <div class="modal-header bg-primary text-uppercase py-2">
        <h6 class="modal-title text-white" id="addProductModalLabel">Thêm đơn vị tính</h6>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form nz-form class=" g-3 needs-validation was-validated">
            <div class="row">
                <div class="col-md-12 pb-3">
                    <nz-form-label class="fs-12">Mã đơn vị</nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="newUnitCount.UnitCode" name="UnitCode" class="fs-12 w-100"
                            nzSize="default" nzPlaceHolder="Nhập mã hãng" />
                    </nz-form-control>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 pb-3">
                    <nz-form-label class="fs-12">Tên đơn vị</nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="newUnitCount.UnitName" name="UnitName" class="fs-12 w-100"
                            nzSize="default" nzPlaceHolder="Nhập tên hãng" />
                    </nz-form-control>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="fs-12 btn" nz-button nzDanger (click)="closeModal()">Đóng</button>
        <button class="fs-12 btn" nz-button nzType="primary" (click)="addNewLocation()">Lưu</button>
    </div>
</div>