<ng-container class="w-100">
    <nz-splitter>
        <nz-splitter-panel [nzSize]="sizeSearch" [nzCollapsible]="true">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header bg-white p-1">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="m-0 ms-2">Tìm kiếm</h6>
                        <button class="border-0 me-2" nz-button nzSize="small" nzType="default" nzDanger
                            (click)="toggleSearchPanel()">
                            <nz-icon nzType="close" nzTheme="outline" />
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form nz-form nzLayout="vertical">
                        <nz-form-item class="mb-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Từ ngày</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-date-picker [nzFormat]="dateFormat" class="w-100" nzSize="small"
                                    [(ngModel)]="searchParams.DateStart" name="dateStart">
                                </nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mb-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Đến ngày</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-date-picker [nzFormat]="dateFormat" class="w-100" nzSize="small"
                                    [(ngModel)]="searchParams.DateEnd" name="dateEnd"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Phòng ban</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select [(ngModel)]="searchParams.DepartmentID" [nzPlaceHolder]="'Chọn phòng ban'"
                                    style="width: 100%" name="departmentID" nzShowSearch [nzFilterOption]="filterOption"
                                    nzAllowClear>
                                    <nz-option *ngFor="let item of dataDepartment" [nzLabel]="item.Name"
                                        [nzValue]="item.ID"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Nhân viên</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <nz-select [(ngModel)]="searchParams.EmployeeID" nzPlaceHolder="Chọn nhân viên"
                                    nzShowSearch name="employeeID" [nzFilterOption]="filterOption" nzAllowClear>
                                    <nz-option *ngFor="let emp of cbbEmployee"
                                        [nzLabel]="emp.Code + ' - ' + emp.FullName" [nzValue]="emp.ID">
                                    </nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="mt-2">
                            <nz-form-label class="fs-12" [nzSpan]="24">Từ khóa</nz-form-label>
                            <nz-form-control [nzSpan]="24">
                                <input class="w-100" nz-input placeholder="Nhập từ khóa"
                                    [(ngModel)]="searchParams.Request" name="keyword" nzSize="small"
                                    (keyup.enter)="searchData()" />
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
                <div class="card-footer bg-white p-1 d-flex gap-1 justify-content-end">
                    <button nz-button nzType="primary" nzSize="small" (click)="searchData()">
                        Tìm kiếm
                    </button>
                </div>
            </div>
        </nz-splitter-panel>
        <nz-splitter-panel>
            <nz-splitter nzLayout="horizontal">
                <nz-splitter-panel>
                    <div class="card border-0 rounded-0 h-100">
                        <div class="card-header bg-white p-1">
                            <div class="d-flex gap-1">
                                <button nz-button nzType="default" nzSize="small" (click)="toggleSearchPanel()">
                                    <nz-icon nzType="search" />
                                </button>
                                <ng-container *ngIf="!approvalMode">
                                    <button class="btn-add" nz-button nzType="default" nzSize="small"
                                        (click)="onAddJobRequirement(false)" *hasPermission="''">
                                        <img src="assets/icon/action_add_item_16.png" /> Thêm
                                    </button>
                                </ng-container>
                                <ng-container *ngIf="!approvalMode">
                                    <button class="btn-edit" nz-button nzType="default" nzSize="small"
                                        (click)="onAddJobRequirement(true)" *hasPermission="''">
                                        <img src="assets/icon/action_edit_item_16.png" />Sửa
                                    </button>
                                </ng-container>
                                <ng-container *ngIf="!approvalMode">
                                    <button class="btn-delete" nz-button nzType="default" nzSize="small"
                                        (click)="onDeleteJobRequirement()" *hasPermission="''">
                                        <img src="assets/icon/action_delete_item_16.png" /> Xóa
                                    </button>
                                </ng-container>
                                <button class="fs-12" nz-button nzType="default" nzSize="small" (click)="exportToExcel()">
                                    <img src="assets/icon/action_export_excel_16.png" /> Xuất
                                    Excel
                                </button>
                                <ng-container *ngIf="approvalMode === 1">
                                    <button class="fs-12 btn" nz-button nzType="default" nzSize="small" nz-dropdown
                                        [nzDropdownMenu]="TBPMenu" nzTrigger="hover" nzPlacement="bottomLeft"
                                        *hasPermission="'N57,N1'">
                                        <img src="assets/icon/action_approved_16.png" />
                                        Trưởng Bộ Phận
                                    </button>
                                </ng-container>

                                <nz-dropdown-menu #TBPMenu="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item (click)="onApproveJobRequirement('btnApproveTBP_New')">
                                            <img src="assets/icon/action_approved_16.png" />
                                            <span class="ms-1">Duyệt</span>
                                        </li>
                                        <li nz-menu-item (click)="onApproveJobRequirement('btnUnApproveTBP_New')">
                                            <img src="assets/icon/action_unapproved_16.png" />
                                            <span class="ms-1">Hủy duyệt</span>
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>

                                <ng-container *ngIf="!approvalMode || approvalMode === 2">
                                    <ng-container *hasPermission="'N34,N56,N1'">
                                        <button class="fs-12 btn" nz-button nzType="default" nzSize="small" nz-dropdown
                                            [nzDropdownMenu]="ActionMenu" nzTrigger="hover" nzPlacement="bottomLeft">
                                            <img src="assets/icon/action_approved_16.png" />
                                            Nhân sự
                                        </button>
                                    </ng-container>
                                </ng-container>

                                <nz-dropdown-menu #ActionMenu="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item (click)="onApproveJobRequirement('btnApproveDocumentHR')">
                                            <img src="assets/icon/surver_16.png" />
                                            <span class="ms-1">Duyệt yêu cầu</span>
                                        </li>
                                        <li nz-menu-item (click)="onApproveJobRequirement('btnUnApproveDocumentHR')">
                                            <img src="assets/icon/reject.png" style="width: 16px; height: 16px" />
                                            <span class="ms-1">Hủy yêu cầu</span>
                                        </li>
                                        <li nz-menu-divider style="border-top: 2px solid #d9d9d9; margin: 4px 0"></li>
                                        <li nz-menu-item (click)="onApproveJobRequirement('btnApproveHR')" *hasPermission="'N56,N1'" >
                                            <img src="assets/icon/action_approved_16.png" />
                                            <span class="ms-1">TBP Duyệt</span>
                                        </li>
                                        <li nz-menu-item (click)="onApproveJobRequirement('btnUnApproveHR')"   *hasPermission="'N56,N1'">
                                            <img src="assets/icon/action_unapproved_16.png" />
                                            <span class="ms-1">TBP hủy duyệt</span>
                                        </li>
                                        <li nz-menu-divider style="border-top: 2px solid #d9d9d9; margin: 4px 0"></li>
                                        <li nz-menu-item (click)="onRequestBGDApprove(true)">
                                            <img src="assets/icon/reject.png" style="width: 16px; height: 16px" />
                                            <span class="ms-1">Yêu cầu BGD duyệt</span>
                                        </li>
                                     
                                        <li nz-menu-item (click)="onRequestBGDApprove(false)">
                                            <img src="assets/icon/action_unapproved_16.png" />
                                            <span class="ms-1">Hủy yêu cầu BGD duyệt</span>
                                        </li>
                                        <li nz-menu-item (click)="onApproveJobRequirement('btnUnApproveHR')">
                                            <img src="assets/icon/action_approved_16.png" />
                                            <span class="ms-1">Hoàn thành duyệt</span>
                                        </li>
                                        <li nz-menu-divider style="border-top: 2px solid #d9d9d9; margin: 4px 0"></li>
                                        <li nz-menu-item (click)="onAddSupplier(false)" [nzDisabled]="!canAddOrEdit()"
                                            class="btn-add">
                                            <img src="assets/icon/action_add_item_16.png" />
                                            <span class="ms-1">Thêm đề xuất</span>
                                        </li>
                                        <li nz-menu-item (click)="onAddSupplier(true)"
                                            [nzDisabled]="!canAddOrEdit() || JobrequirementID === 0" class="btn-edit">
                                            <img src="assets/icon/action_edit_item_16.png" />
                                            <span class="ms-1">Sửa đề xuất</span>
                                        </li>
                                        <li nz-menu-item (click)="onOpenDepartmentRequired()" class="btn">
                                            <img src="assets/icon/btn_veiw_package_16.png" />
                                            <span class="ms-1">Xem chi tiết đề xuất</span>
                                        </li>
                                        <li nz-menu-divider style="border-top: 2px solid #d9d9d9; margin: 4px 0"></li>
                                        <li nz-menu-item (click)="onOpenNoteModal()" class="btn">
                                            <img src="assets/icon/btn_veiw_package_16.png" />
                                            <span class="ms-1">Ghi chú</span>
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>

                                <ng-container *ngIf="!approvalMode || approvalMode === 3">
                                    <button class="fs-12 btn" nz-button nzType="default" nzSize="small" nz-dropdown
                                        [nzDropdownMenu]="BGDMenu" nzTrigger="hover" nzPlacement="bottomLeft"
                                        *hasPermission="'N58,N1'">
                                        <img src="assets/icon/action_approved_16.png" />
                                        Ban Giám Đốc
                                    </button>
                                </ng-container>

                                <nz-dropdown-menu #BGDMenu="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item (click)="onApproveJobRequirement('btnSuccessApproved')">
                                            <img src="assets/icon/action_approved_16.png" />
                                            <span class="ms-1">Duyệt</span>
                                        </li>
                                        <li nz-menu-item (click)="onApproveJobRequirement('btnUnApproveBGĐ')">
                                            <img src="assets/icon/action_unapproved_16.png" />
                                            <span class="ms-1">Hủy duyệt</span>
                                        </li>
                                    </ul>
                                </nz-dropdown-menu>
                                <ng-container *ngIf="!approvalMode">
                                    <button class="fs-12 btn" nz-button nzType="default" nzSize="small" nz-dropdown
                                        [nzDropdownMenu]="BpPH" nzTrigger="hover" nzPlacement="bottomLeft"
                                        *hasPermission="'N34,N56,N1'">
                                        <img src="assets/icon/action_approved_16.png" />
                                        Bộ phận phối hợp
                                    </button>
                                </ng-container>
                                <nz-dropdown-menu #BpPH="nzDropdownMenu">
                                    <ul nz-menu>
                                        <li nz-menu-item (click)="onConfirmComplete()">
                                            <img src="assets/icon/action_approved_16.png" />
                                            <span class="ms-1">Nhân sự</span>
                                        </li>
                                        <li nz-menu-item (click)="onRequestPriceQuote()">
                                            <img src="assets/icon/hr_price_request_24.png" />
                                            <span class="ms-1">Yêu cầu báo giá</span>
                                        </li>
                                        <!-- <li nz-menu-item (click)="onApproveJobRequirement('btnUnApproveBGĐ')">
                                            <img src="assets/icon/hr_view_price_request_24.png" />
                                            <span class="ms-1">Yêu cầu mua</span>
                                        </li> -->
                                    </ul>
                                </nz-dropdown-menu>
                                <!-- <button nz-button nzType="default" nzSize="small"
                                    (click)="onViewPurchaseRequest()" *hasPermission="''">
                                    <img src="assets/icon/hr_view_price_request_24.png" /> Xem yêu cầu mua
                                </button> -->
                                <!-- <button nz-button nzType="default" nzSize="small"
                                    (click)="onAddJobRequirement(false)" *hasPermission="''">
                                    <img src="assets/icon/hr_price_request_24.png" /> Xem yêu cầu báo giá
                                </button> -->
                              
                                <button nz-button nzType="default" nzSize="small"
                                    (click)="onOpenSummary()" *hasPermission="''">
                                    <img src="assets/icon/hr_view_price_request_24.png" /> Tổng hợp
                                </button>
                                <button class="" nz-button nzType="default" nzSize="small"
                                    (click)="onPrintJobRequirement()" *hasPermission="''">
                                    <img src="assets/icon/job_requirement_print_16.png" /> In Phiếu
                                </button>
                            </div>
                        </div>
                        <nz-splitter>
                            <nz-splitter-panel>
                                <nz-splitter>
                                    <nz-splitter-panel nzDefaultSize="70%">
                                        <nz-splitter nzLayout="vertical">
                                            <nz-splitter-panel>
                                                <div #JobrequirementTable></div>
                                            </nz-splitter-panel>
                                            <nz-splitter-panel>
                                                <div #JobrequirementDetailTable></div>
                                            </nz-splitter-panel>
                                        </nz-splitter>
                                    </nz-splitter-panel>
                                    <nz-splitter-panel nzDefaultSize="30%">
                                        <nz-splitter nzLayout="vertical">
                                            <nz-splitter-panel>
                                                <div #JobrequirementFileTable></div>
                                            </nz-splitter-panel>
                                            <nz-splitter-panel>
                                                <div #JobrequirementApprovedTable></div>
                                            </nz-splitter-panel>
                                        </nz-splitter>
                                    </nz-splitter-panel>
                                </nz-splitter>
                            </nz-splitter-panel>
                        </nz-splitter>
                    </div>
                </nz-splitter-panel>
            </nz-splitter>
        </nz-splitter-panel>
    </nz-splitter>
</ng-container>